.hui_bar {
  text-align: left;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 0 2px;
}
.hui_bar_right {
  float: right;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.hui_bar_left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: flex-start;
}
.hui_bar_space {
  display: inline-block;
  width: 5px;
}
.hui_bar_flexible {
  flex-grow: 1;
}
.hui_bar-absolute {
  position: absolute;
  visibility: hidden;
  left: -1000px;
  top: -1000px;
}
.hui_bar .hui_button, .hui_bar .hui_checkbox, .hui_bar .hui_dropdown {
  margin: 2px 2px;
}
.hui_bar .hui_checkbox {
  padding-left: 2px;
  padding-right: 2px;
}
.hui_bar .hui_button_small, .hui_bar .hui_searchfield, .hui_bar .hui_segmented {
  margin: 4px 2px;
}

/*************** Button **************/
.hui_bar_button {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 3px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  color: #444;
  white-space: nowrap;
  margin: 0 2px;
}
.hui_bar_button:focus {
  outline: none;
}
.hui_bar_button_text {
  vertical-align: middle;
  font-size: 13px;
  margin-left: 5px;
  text-shadow: 0 1px 0 #eee;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.hui_bar_button .hui_icon_16 {
  vertical-align: middle;
}
.hui_bar_button:hover {
  color: #000;
}
.hui_bar_button:hover .hui_icon_16 {
  filter: brightness(0.8);
}

.hui_bar .hui_bar_button-selected, .hui_bar .hui_bar_button-selected:hover {
  background-image: linear-gradient(180deg, #bdbdbd, #ebebeb);
}

.hui_bar_button-selected .hui_icon_16 {
  filter: brightness(0.8);
}

.hui_bar_button-selected .hui_bar_button_text {
  color: #0054a6;
}

/******************* window variant ***************/
.hui_bar-window {
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #F3F3F3;
  box-shadow: inset 0 1px 0 #F3F3F3, inset 0 -1px 0 #D6D6D6;
}

/******************* window mini variant ***************/
.hui_bar-window_mini {
  background-image: linear-gradient(180deg, #fff, rgb(240, 240, 240));
  min-height: 24px;
  padding: 0;
}

.hui_window_light .hui_bar-window_mini {
  background: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 5px;
}

.hui_bar-window_mini .hui_bar_right {
  height: 24px;
  background: none;
}

.hui_bar-window_mini .hui_bar_left {
  height: 24px;
}

.hui_bar-window_mini .hui_bar_button {
  height: 24px;
  line-height: 24px;
  background: none;
  border: 1px solid transparent;
  border-width: 0 1px;
  padding: 0 4px;
  margin: 0;
}

.hui_bar-window_mini .hui_bar_button:hover {
  background: #eee;
  border-color: #ddd;
}

.hui_bar-window_mini .hui_bar_button-selected, .hui_bar-window_mini .hui_bar_button-selected:hover {
  background-image: linear-gradient(180deg, #bbb, #ddd);
  border-color: #bbb;
}

.hui_bar-window_mini_top {
  border-top: 1px solid #ddd;
}

.hui_bar-window_mini_bottom {
  border-top: 1px solid #ddd;
}

/******************* layout variant ***************/
.hui_bar-layout {
  background-image: linear-gradient(180deg, #fafafa, #f6f6f6);
  border-bottom: 1px solid #ddd;
}
.hui_bar-layout .hui_bar_text {
  color: #666;
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  line-height: 30px;
  padding: 0 8px;
  text-shadow: 0 1px 0 #FFFFFF;
  vertical-align: top;
}
.hui_bar-layout .hui_bar_text_header {
  color: #445566;
  font-weight: bold;
}

/******************* Mini variant *****************/
.hui_bar-mini {
  min-height: 22px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0;
}
.hui_bar-mini .hui_bar_left, .hui_bar-mini .hui_bar_right {
  height: 22px;
}
.hui_bar-mini .hui_bar_button {
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  margin: 0;
}
.hui_bar-mini .hui_bar_button:hover {
  background: #ddd;
}
.hui_bar-mini .hui_bar_button_text {
  font-size: 11px;
}
.hui_bar-mini .hui_button, .hui_bar-mini .hui_checkbox, .hui_bar-mini .hui_dropdown, .hui_bar-mini .hui_button_small, .hui_bar-mini .hui_searchfield, .hui_bar-mini .hui_segmented {
  margin: 0;
}
.hui_bar-mini .hui_checkbox {
  padding: 0;
}
.hui_bar-mini .hui_bar_divider {
  display: inline-block;
  height: 22px;
  border-left: 1px solid #ddd;
  margin: 0 3px;
}

/******************* Layout mini variant ***************/
.hui_bar-layout_mini {
  background-image: linear-gradient(180deg, #fff, rgb(240, 240, 240));
  min-height: 22px;
  border-bottom: 1px solid #ddd;
  padding: 0;
}
.hui_bar-layout_mini .hui_bar_right {
  height: 22px;
  background: none;
}
.hui_bar-layout_mini .hui_bar_left {
  height: 22px;
}
.hui_bar-layout_mini .hui_bar_button {
  height: 22px;
  line-height: 22px;
  background: none;
  border: 1px solid transparent;
  border-width: 0 1px;
  padding: 0 5px;
  margin: 0;
}
.hui_bar-layout_mini .hui_bar_button:hover {
  background: #eee;
  border-color: #ddd;
}
.hui_bar-layout_mini .hui_bar_button .hui_symbol {
  width: 14px;
  height: 14px;
  margin: 0 -2px;
}

.hui_bar-layout_mini .hui_bar_button-selected, .hui_bar-layout_mini .hui_bar_button-selected:hover {
  background-image: linear-gradient(180deg, #bbb, #ddd);
  border-color: #bbb;
}

.hui_bar-layout_mini .hui_bar_button-selected .hui_icon_16 {
  filter: brightness(0.8);
}

.hui_bar-layout_mini_top {
  border-top: 1px solid #ddd;
}

.hui_bar-layout_mini_bottom {
  border-top: 1px solid #ddd;
}