.hui_box {
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background: #fff; }

.hui_box_close {
  width: 29px;
  height: 31px;
  background: url("../gfx/box_close.png") left top no-repeat;
  position: absolute;
  margin: -15px 0 0 -15px;
  z-index: 200; }

.hui_box_close:hover {
  background-position: 0 -31px; }

.hui_box_close:focus {
  background-position: 0 -62px;
  outline: none; }

.hui_box_close:focus:hover {
  background-position: 0 -93px;
  outline: none; }

.hui_box_absolute {
  position: absolute;
  left: 50%;
  top: -10000px;
  margin-left: -1000px;
  visibility: hidden; }

/****************************** Plain ****************************/
.hui_box_plain {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }

.hui_box_close_plain {
  margin: -15px 0 0 -15px; }

/****************************** Standard ****************************/
.hui_box_textured {
  background: #f3f3f3; }

.hui_box_textured .hui_box_body {
  border: 1px solid #fff; }

.hui_box_header {
  height: 56px;
  background-color: #d1dae5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1dae5), to(#b6c0cc));
  background-image: -webkit-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: -moz-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: -ms-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: -o-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: linear-gradient(top, #d1dae5, #b6c0cc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1dae5', endColorstr='#b6c0cc');
  border: 1px solid #b6c1d0;
  border-color: #c4cbd4 #acb2bb #a3aab3;
  font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.28), inset -1px 0 0 rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(0, 0, 0, 0.1);
  border-width: 1px 0; }

.hui_box_title {
  float: left;
  height: 58px;
  line-height: 58px;
  font-size: 12pt;
  color: #44474c;
  font-weight: normal;
  padding: 0px 15px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px; }

.hui_box_header_toolbar .hui_box_title {
  float: right; }

.hui_box_header .hui_toolbar {
  float: left; }

.hui_box_header a.hui_toolbar_icon_selected {
  background-color: rgba(119, 142, 169, 0.5); }

/***************************** Rounded ************************/
.hui_box_rounded {
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-top-color: #e6e6e6; }
