.hui_box {
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  /****************************** Plain ****************************/
  /****************************** Standard ****************************/
  /***************************** Rounded ************************/
}
.hui_box_close {
  width: 18px;
  height: 18px;
  background: #333;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  margin: -15px 0 0 -15px;
  z-index: 200;
  line-height: 1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hui_box_close:before {
  font-family: "HUI" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e917";
  font-size: 14px;
  line-height: 1;
}
.hui_box_close:hover {
  background-position: 0 -31px;
}
.hui_box_close:focus {
  border-color: blue;
  outline: none;
}
.hui_box_close:focus:hover {
  background-position: 0 -93px;
  outline: none;
}
.hui_box_absolute {
  position: absolute;
  left: 50%;
  top: -10000px;
  margin-left: -1000px;
  visibility: hidden;
}
.hui_box_plain {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.hui_box_close_plain {
  margin: -15px 0 0 -15px;
}
.hui_box_textured {
  background: #f3f3f3;
  background-image: linear-gradient(180deg, #fafafa, #f6f6f6);
}
.hui_box_textured .hui_box_body {
  border: 1px solid #fff;
}
.hui_box_header {
  height: 56px;
  background-image: linear-gradient(180deg, #f3f3f3, #e9e9e9);
  border: 1px solid #b6c1d0;
  border-color: #ddd #ddd #ccc;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.hui_box_title {
  float: left;
  height: 56px;
  line-height: 56px;
  font-size: 12pt;
  color: #333;
  font-weight: normal;
  padding: 0px 15px;
}
.hui_box_header_toolbar .hui_box_title {
  float: right;
}
.hui_box_header .hui_toolbar {
  float: left;
}
.hui_box_rounded {
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-top-color: #e6e6e6;
}