.hui_buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hui_buttons .hui_button {
  margin-left: 5px;
}
.hui_buttons .hui_button:first-child {
  margin-left: 0;
}
.hui_buttons-left {
  justify-content: flex-start;
}
.hui_buttons-right {
  justify-content: flex-end;
}
.hui_buttons-center {
  justify-content: center;
}

/**************** Standard button ************/
.hui_button {
  color: #333;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  white-space: nowrap;
  background-image: linear-gradient(180deg, #fcfcfd, #e3e7ea);
  border: 1px solid #ccc;
  border-color: #e3e3e3 #ccc #bbb;
  border-radius: 3px;
  padding: 0 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  box-sizing: content-box;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
}
.hui_button:hover {
  border-color: #d2d2d2 #b7b7b7 #9c9c9c;
  background: linear-gradient(#f9f9f9, #d5dade);
}
.hui_button:active {
  border-color: #adadad #b7b7b7 #bfbfbf;
  background: linear-gradient(#f1f2f3, #d1d4d6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  line-height: 26px;
}
.hui_button:focus {
  border: 1px solid #0069ff;
  box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
  outline: none;
}
.hui_button.hui-small {
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  padding: 0 7px;
}
.hui_button.hui-small:active {
  line-height: 21px;
}
.hui_button.hui-small .hui_button_icon {
  margin-top: 2px;
}
.hui_button.hui-large {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
}
.hui_button.hui-large:active {
  line-height: 29px;
}
.hui_button.hui-mini {
  font-size: 9px;
  height: 16px;
  line-height: 16px;
  padding: 0 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.hui_button.hui-mini:active {
  line-height: 17px;
}
.hui_button.hui-tiny {
  font-size: 8px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  box-shadow: none;
}
.hui_button.hui-tiny::active {
  line-height: 15px;
}
.hui_button.hui-highlighted {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 5px #6ede4a;
  border-color: #adcaba #9fc1b1 #99ada2;
}
.hui_button.hui-highlighted:focus {
  box-shadow: inset 0 0 5px #6ede4a, 0 0 2px #0069ff, inset 0 0 2px #0069ff;
  border-color: #0069ff;
}
.hui_button.hui-highlighted:active {
  box-shadow: inset 0px 1px 5px #6bc54e;
  border-color: #99ada2 #9fc1b1 #adcaba;
  background: linear-gradient(#daebd5, #c8d7c2);
  text-shadow: none;
}
.hui_button.hui-disabled, .hui_button.hui-disabled:hover {
  cursor: default;
  background: #f9f9f9;
  color: #999;
  border: 1px solid #e3e3e3;
  box-shadow: none;
}

.hui_button_icon {
  padding: 0px;
  margin: 4px 5px 0px -2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
}
.hui_button:hover .hui_button_icon {
  filter: brightness(0.8);
}
.hui_button_icon_notext {
  margin: 4px -3px 0px -3px;
}

.hui_button > .hui_symbol {
  width: 12px;
  height: 12px;
  line-height: 12px;
  margin: -3px 5px 0 -3px;
  vertical-align: middle;
}
.hui_button > .hui_button_symbol_notext {
  margin: -2px -4px 0;
}
.hui_button.hui-small > .hui_symbol {
  width: 14px;
  height: 14px;
  margin: -2px 4px 0 -3px;
}
.hui_button.hui-small > .hui_button_symbol_notext {
  margin: -2px -4px 0;
}
.hui_button.hui-mini > .hui_symbol {
  width: 12px;
  height: 12px;
  margin: -1px 3px 0 -2px;
  line-height: 12px;
}
.hui_button.hui-mini > .hui_button_symbol_notext {
  margin: -1px -3px 0;
}
.hui_button.hui-tiny > .hui_symbol {
  width: 10px;
  height: 10px;
  margin: -2px 3px 0 -2px;
  line-height: 10px;
}
.hui_button.hui-tiny > .hui_button_symbol_notext {
  margin: -2px -3px 0;
}

.hui_button-bare {
  display: inline-flex;
  vertical-align: middle;
}
.hui_button-bare > .hui_symbol {
  margin: 0;
}

.hui_button.hui-light {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-image: linear-gradient(180deg, #ffffff, #f6f6f6);
  color: #333;
  box-shadow: none;
}
.hui_button.hui-light:focus {
  border: 1px solid #0069ff;
  box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
  outline: none;
}
.hui_button.hui-light:hover {
  border-color: #d7d7d7;
  background-image: linear-gradient(180deg, #fafafa, #eeeeee);
}
.hui_button.hui-light:active {
  background-image: linear-gradient(180deg, #eeeeee, #fafafa);
}
.hui_button.hui-light.hui-highlighted {
  box-shadow: inset 0 0 4px #6ede4a;
  border-color: #adcaba;
}
.hui_button.hui-light.hui-disabled, .hui_button.hui-light.hui-disabled:hover {
  cursor: default;
  background: #f9f9f9;
  color: #999;
  border: 1px solid #e3e3e3;
  box-shadow: none;
}
.hui_button.hui-light .hui_button_icon {
  margin-left: -6px;
  margin-right: 5px;
  margin-top: 4px;
}
.hui_button.hui-light .hui_button_icon_notext {
  margin-right: -5px;
}

.hui_context_dark .hui_button {
  border-color: #232323 #040404 #000000;
  background-image: linear-gradient(180deg, #5c5f63, #4f5152);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px #666, inset 0 1px 0 #888;
  border-radius: 3px;
}
.hui_context_dark .hui_button:focus {
  border-color: #65a5ff;
  box-shadow: 0 0 2px #65a5ff, inset 0 0 2px #65a5ff;
}
.hui_context_dark .hui_button:hover {
  box-shadow: 0 0 1px #666, inset 0 1px 0 #666;
  background-image: linear-gradient(180deg, rgb(79.7172774869, 82.3167539267, 85.7827225131), rgb(66.4875776398, 68.1708074534, 69.0124223602));
}
.hui_context_dark .hui_button:active {
  box-shadow: 0 0 1px #666, inset 0 2px 6px rgba(0, 0, 0, 0.3);
  border-color: #000;
}
.hui_context_dark .hui_button.hui-highlighted {
  /*
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 3px #66b94b;
  border-color: #2c3831 #222b26 #232b27;
  @include vertical-gradient(#36634e, #2b4e38);*/
  box-shadow: inset 0 1px 0px rgb(46, 162, 255), 0 0px 1px rgba(255, 255, 255, 0.35);
  border-color: #002752 #003361 #000000;
  background-image: linear-gradient(180deg, #0a71ec, #005694);
}
.hui_context_dark .hui_button.hui-highlighted:focus {
  border-color: #65a5ff;
  box-shadow: 0 0 2px #65a5ff, inset 0 0 2px #65a5ff;
}
.hui_context_dark .hui_button.hui-highlighted:hover {
  box-shadow: inset 0 1px 0px rgb(20.5, 150.6531100478, 255), 0 0px 1px rgba(255, 255, 255, 0.35);
  background-image: linear-gradient(180deg, rgb(8.9634146341, 101.2865853659, 211.5365853659), rgb(0, 71.1824324324, 122.5));
}
.hui_context_dark .hui_button.hui-highlighted:active {
  box-shadow: 0 0 1px #666, inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
.hui_context_dark .hui_button.hui-disabled, .hui_context_dark .hui_button.hui-disabled:hover {
  border-color: #111;
  background: #333;
  color: #999;
  box-shadow: none;
}