.hui_checkboxes
{
	font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

.hui_checkboxes .hui_checkbox
{
	margin: 0 10px 4px 0;
}

.hui_checkboxes_vertical .hui_checkbox
{
	display: block;
	padding: 1px 5px 0px 0px;
}