.hui_dropdown {
  background-color: #fcfcfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfd), to(#e3e7ea));
  background-image: -webkit-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -moz-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -ms-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -o-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: linear-gradient(top, #fcfcfd, #e3e7ea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#e3e7ea');
  border: 1px solid #ccc;
  border-color: #e3e3e3 #ccc #bbb;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #004a80;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  height: 26px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  white-space: nowrap;
  padding: 0 24px 0 7px;
  box-sizing: border-box;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
  max-width: 100%;
  position: relative;
  text-align: left; }
  .hui_dropdown:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: url("../gfx/drop.svg");
    background-size: contain;
    top: 50%;
    margin-top: -4px;
    right: 7px;
    opacity: .6; }
  .hui_dropdown:hover {
    border-color: #d2d2d2 #b7b7b7 #9c9c9c;
    background: linear-gradient(#f9f9f9, #d5dade); }
  .hui_dropdown:focus {
    border: 1px solid #0069ff;
    box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
    outline: none; }
  .hui_dropdown:active {
    border-color: #9c9c9c #b7b7b7 #aeaeae;
    background: linear-gradient(#f1f2f3, #d1d4d6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  .hui_dropdown strong {
    display: block;
    overflow: hidden;
    font-weight: normal;
    height: 100%;
    width: 100%; }
  .hui_dropdown_placeholder {
    color: #999;
    font-size: 11px;
    display: block;
    font-style: italic;
    padding-right: 2px; }
  .hui_dropdown.hui_is_small {
    height: 22px;
    line-height: 20px; }

.hui_dropdown_selector {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-border: none;
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  text-align: left; }

div.hui_dropdown_selector a {
  padding: 2px 5px;
  display: block;
  text-decoration: none;
  color: #333;
  min-height: 15px; }

div.hui_dropdown_selector a.hui_selected {
  background: #eee;
  color: #000;
  font-weight: bold; }

div.hui_dropdown_selector a:hover {
  background-color: #3875d7;
  color: #fff; }

/* Adaptive */
a.hui_dropdown_adaptive {
  width: 100%; }

/** Mini bar variant **/
.hui_dropdown_bar_mini {
  vertical-align: top;
  margin-top: 0px;
  background: none;
  height: 22px;
  font-size: 11px;
  line-height: 22px;
  border: none;
  box-shadow: none; }
