form.hui_formula
{
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	text-align: left;
}

div.hui_formula_fieldset
{
	border: 1px solid #ddd;
	padding: 10px 10px 5px;
	margin-top: 4px;
	background: #fff;
}

strong.hui_formula_fieldset
{
	position: absolute;
	margin-top: -19px;
	background: #fff;
	font-size: 12px;
	padding: 0 4px;
	margin-left: -2px;
	color: #666;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.hui_window strong.hui_formula_fieldset
{
	background: #E7E7E7;
}

div.hui_window div.hui_formula_fieldset
{
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #DDDDDD inset;
}

.hui_formula_header
{
	color: #0077cd;
	font-size: 13pt;
	padding-bottom: 5px;
}

table.hui_formula_fields
{
	width: 100%;
	font-size: 0;
  border-collapse: collapse;
}

p.hui_formula_field_hint
{
	font-size: 9px;
	color: #999;
	margin: -5px 0 0 3px;
}

table.hui_formula_fields_above
{
	border-spacing: 0px;
}

form.hui_formula table.split
{
	border-spacing: 5px 0px;
}

td.hui_fields_buttons
{
	border-spacing: 0px;
}

label.hui_formula_field
{
	color: #004A80;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	display: inline-block;
	padding-left: 2px;
}


table.hui_formula_fields_above label.hui_formula_field
{
	line-height: 13px;
	display: inline-block;
	padding-left: 2px;
}

table.hui_formula_fields th label.hui_formula_field
{
	font-size: 9pt;
}

table.hui_formula_fields th
{
	width: 1%;
	vertical-align: top;
	padding: 5px 5px 0px 0px;
	text-align: right;
	white-space: nowrap;
}

table.hui_formula_fields th.hui_formula_middle
{
	vertical-align: middle;
	line-height: normal;
	padding-bottom: 5px;
	padding-top: 0;
}

table.hui_formula_fields_above th
{
	text-align: left;
}

table.hui_formula_fields_above div.hui_tokenfield
{
	margin-bottom: 2px;
}

form.hui_formula select
{
	font-size: 9pt;
	margin: 0;
	width: 100%;
}

.hui_formula_text
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: -1px;
	font-size: 9pt;
	width: 100%;
	background: transparent;
	font-family: Verdana,sans-serif;
	outline: none;
}

div.hui_textarea_dummy
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 9pt;
	line-height:16px;
	position: absolute;
	visibility: hidden;
	left: -10000px;
	top: -10000px;
	word-wrap: break-word;
	padding: 1px 0px;
}

input.hui_formula_text
{
	height: 18px;
}

span.hui_formula_text_multiline
{
	display: block;
	font-size: 0;
}

textarea.hui_formula_text
{
	text-indent: 0;
	line-height: 16px;
	padding: 0px;
	margin: 0;
	padding: 1px 0px;
	resize: none;
	overflow-x: hidden;
}

textarea.hui_formula_text::-webkit-scrollbar
{  
	height: 14px;
	width: 14px;
}  
  
textarea.hui_formula_text::-webkit-scrollbar-thumb
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(rgb(240, 240, 240)));  
    border-radius: 7px;
	border: 1px solid #ddd;
}

td.hui_formula_field
{
	padding: 0;
}

div.hui_formula_field_body
{
	padding-bottom: 5px;
	font-size: 0;
	line-height: 0;
}

div.hui_formula_field_compact div.hui_formula_field_body
{
	padding: 0;
}

/************************************** Buttons *********************************/

form.hui_formula .hui_buttons
{
	text-align: right;
}

.hui_formula .hui_button
{
	margin-left: 4px;
	margin-right: 0px;
}

.hui_formula .hui_button_light
{
	margin-left: 4px;
	margin-right: 2px;
}

/******************************* Object list **************************/

table.hui_objectlist
{
	margin-top: 1px;
	width: 100%;
}

table.hui_objectlist th
{
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	color: #004A80;
	font-weight: normal;
	padding-left: 4px;
}

table.hui_objectlist th.hui_objectlist1
{
	padding-left: 2px;
}

.hui_objectlist tbody input.text
{
	border-color: #ccc #ddd #eee #ddd;
	width: 100%;
}
.hui_objectlist tbody td
{
	padding: 0px 0px 0px 2px;
	vertical-align: top;
}

.hui_objectlist tbody td.first
{
	padding-left: 0px;
}

span.hui_datetime {
	display: block;
}

.hui_datetime_selector
{
	position: absolute;
	margin-left: -19px;
	margin-top: 6px;
	font-size: 0;
	cursor: pointer;
	background: url('../icons/input/datetime14.png') no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
}

a.hui_datetime span,
body .hui_context_dark a.hui_datetime span
{
}

.hui_datetime_selector:hover
{
	background-position: 0 -14px;
}

/************************* Override for windows *******************/



div.hui_window label.hui_formula_field
{
	background: rgb(231,231,231);
}

div.hui_formula_fieldset label.hui_formula_field,
div.hui_window_news label.hui_formula_field
{
	background: none;
}

div.hui_window_light label.hui_formula_field
{
	color: #004A80;
	background: none;
}


body .hui_context_dark label.hui_formula_field, 
.hui_context_dark .hui_checkbox, 
.hui_context_dark span.hui_radiobutton_label, 
.hui_context_dark th.hui_objectlist
{
	color: #fff;
	background: none;
}
