span.hui_icon_1, span.hui_icon_16, a.hui_icon_16
{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

a.hui_icon_16:hover
{
	background-position: 0 -16px;
}

span.hui_icon_2, span.hui_icon_32, a.hui_icon_32
{
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

span.hui_icon_12, a.hui_icon_12
{
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

span.hui_icon_24
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

span.hui_icon_64
{
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
}

span.hui_icon_128
{
	display: inline-block;
	width: 128px;
	height: 128px;
	vertical-align: middle;
}

a.hui_icon_labeled
{
	display: inline-block;	
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

a.hui_icon_labeled strong
{
	display: block;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	margin-top: 2px;
}

a.hui_icon_labeled_128 strong
{
	font-size: 18px;
}

a.hui_icon_labeled:hover span.hui_icon_64
{
	background-position: 0 -64px;
}

a.hui_icon_labeled:hover span.hui_icon_128
{
	background-position: 0 -128px;
}

.hui_icon_overlay
{
	height: 32px;
	width: 32px;
	background: right bottom no-repeat;
	display:inline-block;
}

.hui_icon_badge
{
	background: #f00;
  background: -webkit-gradient(linear, left top, left bottom, from(#f69), to(#f03));
  color: #fff;
  display: inline-block;
  font-size: 11px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  padding: 0 5px;
  border-radius: 7px;
  font-family: Arial;
  right: -5px;
  bottom: -2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}