.hui_mediasimulator {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }
  .hui_mediasimulator_base {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
    transition: max-width .3s, max-height .3s; }
  .hui_mediasimulator.is-resizing .hui_mediasimulator_base {
    transition: none; }
  .hui_mediasimulator_body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10px;
    right: 10px; }
  .hui_mediasimulator_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: #fff; }
  .hui_mediasimulator.is-resizing .hui_mediasimulator_body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1; }
  .hui_mediasimulator_handle {
    position: absolute;
    border-radius: 5px; }
    .hui_mediasimulator_handle:hover {
      background: rgba(0, 0, 0, 0.03); }
      .hui_mediasimulator_handle:hover:before {
        background: #ccc; }
    .hui_mediasimulator_handle-right {
      width: 10px;
      right: 0;
      top: 0;
      bottom: 10px;
      cursor: col-resize; }
      .hui_mediasimulator_handle-right:before {
        content: '';
        width: 6px;
        height: 40px;
        margin: -20px 0 0 0;
        background: #ddd;
        position: absolute;
        top: 50%;
        left: 2px;
        border-radius: 3px; }
    .hui_mediasimulator_handle-bottom {
      height: 10px;
      right: 10px;
      bottom: 0;
      left: 0;
      cursor: row-resize; }
      .hui_mediasimulator_handle-bottom:before {
        content: '';
        height: 6px;
        width: 40px;
        margin: 0 0 0 -20px;
        background: #ddd;
        position: absolute;
        left: 50%;
        top: 2px;
        border-radius: 3px; }
