.hui_presentation {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  display: none;
  z-index: 99999;
  text-align: left; }
  .hui_presentation.hui-is-open {
    display: block; }
  .hui_presentation_viewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: bottom .3s;
    -webkit-tap-highlight-color: transparent; }
    .hui-is-native-scroll .hui_presentation_viewer {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-user-select: none;
      scroll-snap-type: x mandatory; }
  .hui_presentation_items {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    width: 100%;
    transform: translate3d(0, 0, 0); }
  .hui_presentation_item {
    display: inline-block;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    box-sizing: border-box; }
  .hui_presentation_image {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px 5px;
    box-sizing: border-box; }
    .hui_presentation_image_content {
      background: 50% no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%; }
  .hui_presentation_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 0.5); }
  .hui_presentation.hui-is-mouse .hui_presentation_icon:hover path {
    stroke-width: 2px; }
  .hui_presentation_arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    -webkit-tap-highlight-color: transparent;
    margin-top: -20px;
    background: rgba(255, 255, 255, 0.5);
    display: none; }
  .hui_presentation.hui-is-multiple .hui_presentation_arrow {
    display: block; }
  .hui_presentation_next {
    right: 0; }
  .hui_presentation_previous {
    left: 0; }
  .hui_presentation_thumbnails {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    transition: height .3s;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; }
  .hui_presentation_thumbnail {
    width: 100px;
    height: 100px;
    white-space: nowrap;
    display: inline-block;
    background: 50% no-repeat;
    background-size: contain;
    scroll-snap-align: left; }
  .hui_presentation_line {
    stroke: #fff;
    stroke-width: 1px;
    fill: none; }
  .hui_presentation.hui-is-thumbnails .hui_presentation_thumbnails {
    height: 100px; }
  .hui_presentation.hui-is-thumbnails .hui_presentation_viewer {
    bottom: 100px; }
  .hui_presentation.hui-is-light {
    background: #fff; }
  .hui_presentation.hui-is-light .hui_presentation_line {
    stroke: rgba(0, 0, 0, 0.5); }

@media (min-width: 600px) {
  .presentation_image {
    padding: 10px 30px; } }
