.hui_segmented {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  /* Standard variant */
  /* Inset variant */
}
.hui_segmented_item {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  text-decoration: none;
  color: #333;
  padding: 0 3px;
  outline: none;
}
.hui_segmented_item:focus {
  outline: 4px auto #0069ff;
}
.hui_segmented_item:hover {
  background: #eee;
}
.hui_segmented_item:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.hui_segmented_item:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.hui_segmented_text {
  font-size: 12px;
  padding: 0 4px;
}
.hui_segmented.hui-is-disabled {
  opacity: 0.5;
}
.hui_segmented-standard {
  border-radius: 3px;
  background: #fff;
  border: 1px solid #AAAAAA;
  border-color: #ddd #ccc #aaa;
  font-size: 0;
  height: 20px;
  background-image: linear-gradient(180deg, #fff, #eee);
}
.hui_segmented-standard .hui_segmented_item.hui-is-selected, .hui_segmented-standard .hui_segmented_item.hui-is-selected:hover {
  background: #ddd;
  background-image: linear-gradient(180deg, #EFF2F4, #C0C9CF);
}
.hui_segmented-inset {
  font-size: 0;
  height: 20px;
}
.hui_segmented-inset .hui_segmented_item {
  height: 18px;
  line-height: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-color: #ccc #ccc #ddd;
  background-image: linear-gradient(180deg, #fff, #eee);
  margin: 0 2px;
}
.hui_segmented-inset .hui_segmented_text {
  line-height: 18px;
  padding: 0 7px;
}
.hui_segmented-inset .hui_segmented_item.hui-is-selected, .hui_segmented-inset .hui_segmented_item.hui-is-selected:hover {
  border-color: #555 #666 #888;
  background: #ddd;
  background-image: linear-gradient(180deg, #777, #99a);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.hui_form_field .hui_segmented {
  margin: 2px 0;
}