.hui_selection {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0;
  line-height: 16px;
}
.hui_selection_title {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  text-transform: uppercase;
  margin: 10px 7px 5px;
  letter-spacing: 0.5px;
}
.hui_selection_label {
  margin: 1px 0 0 2px;
  padding: 0px 3px;
  position: relative;
  top: 1px;
  vertical-align: top;
  word-break: break-all;
}
.hui_selection_item > .hui_icon {
  vertical-align: top;
  margin-top: 1px;
}
.hui_selection_badge {
  float: right;
  font-size: 11px;
  margin-top: 1px;
  margin-right: 3px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}
.hui_selection_item {
  background: 7px center no-repeat;
  font-size: 9pt;
  min-height: 18px;
  padding: 2px 5px 2px 6px;
  border-radius: 5px;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  cursor: pointer;
}
.hui_selection_disclosure {
  display: inline-block;
  width: 15px;
  height: 16px;
  vertical-align: middle;
  background: url("../gfx/drop.svg") no-repeat;
  background-position: 50% 50%;
  background-size: 8px 8px;
  transform: rotate(-90deg);
  font-size: 0;
  line-height: 0;
  cursor: default;
  margin-left: -2px;
  opacity: 0.2;
  transition: transform 0.2s;
}
.hui_selection_disclosure_open {
  transform: rotate(0deg);
}

.hui_context_sidebar .hui_selection,
.split_sidebar .hui_selection {
  margin: 3px 3px;
}

.hui_selection:hover .hui_selection_disclosure {
  opacity: 0.5;
}
.hui_selection:hover .hui_selection_disclosure:hover {
  opacity: 1;
}

.hui_selection .hui_selected .hui_selection_badge {
  color: inherit;
}

.hui_selection_item:hover {
  background-color: #eee;
}

.hui_context_sidebar .hui_selection_item:hover {
  background-color: #d4dce9;
}

.hui_selection_item:hover .hui_icon {
  filter: brightness(0.8);
}

.hui_selection_item.hui_selected,
.hui_selection_item.hui_selected:hover {
  background-color: #368cf4;
  color: #fff;
}
.hui_selection_item.hui_selected .hui_symbol,
.hui_selection_item.hui_selected:hover .hui_symbol {
  fill: #fff;
}

.hui_selection_item.hui_selected .hui_selection_label {
  text-shadow: 0 1px 0 #5070cc;
}

.hui_selection_inline .hui_selected .hui_selection_label {
  background-color: #3875d7;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: none;
}

.hui_selection .hui_drop, .hui_selection .hui_drop:hover {
  background: #779cd6 url("../gfx/hover_bg.png");
  /*-webkit-border-radius: 4px;*/
  cursor: default;
}

.hui_selection_busy .hui_selection_label {
  color: #999;
}

.hui_selection_busy .hui_selected .hui_selection_label {
  color: #fff;
}

/** Layout specifics **/
.hui_layout_left .hui_selection {
  margin-top: 4px;
}

.hui_layout_left .hui_selection_title {
  margin-top: 10px;
}

/********************** Dark ************************/
div.hui_window_dark div.hui_selection {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}

div.hui_window_dark div.hui_selection_item {
  color: #fff;
  background: url("../gfx/selection_dark.png");
  height: 24px;
}

div.hui_window_dark div.hui_selection_item:hover {
  background: url("../gfx/selection_dark.png") left -24px;
}

div.hui_window_dark div.hui_selection div.hui_selected, div.hui_window_dark div.hui_selection div.hui_selected:hover {
  background: #3875d7;
}

div.hui_window_dark .hui_selection_item span {
  margin-top: 4px;
}