.hui_skeleton {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .hui_skeleton_details {
    position: absolute;
    top: 0;
    right: -40%;
    transition: right .3s;
    bottom: 0;
    width: 40%;
    z-index: 1;
    background: #fff;
    border-left: 1px solid #ddd;
    margin-right: -1px; }
    .hui_skeleton_details_toggle {
      position: absolute;
      left: -29px;
      width: 29px;
      height: 29px;
      top: 0;
      background: red; }
    .hui_skeleton_details.hui-is-open {
      right: 0; }

.hui_skeleton_navigation {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #EBF0F7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-right: 1px solid #ddd;
  overflow: hidden; }

.hui_skeleton_resize {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  z-index: 1;
  cursor: col-resize; }
  .hui_skeleton_resize:hover {
    background: rgba(0, 0, 0, 0.1); }

.hui_skeleton_results {
  position: absolute;
  width: 20%;
  top: 0;
  left: 20%;
  bottom: 0;
  background: #fff;
  overflow: hidden;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.hui_skeleton_actions {
  position: absolute;
  top: 0;
  background: #fff;
  right: 0;
  left: 40%; }

.hui_skeleton_content {
  position: absolute;
  top: 41px;
  background: #fff;
  right: 0;
  left: 40%;
  bottom: 0; }

@media screen and (max-width: 800px) {
  .hui_skeleton_overlay {
    position: absolute;
    top: 0;
    left: -80%;
    transition: left .3s;
    bottom: 0;
    width: 80%;
    z-index: 1; }
    .hui_skeleton_overlay_toggle {
      position: absolute;
      right: -29px;
      width: 29px;
      height: 29px;
      top: 0;
      background: red; }
  .hui_skeleton.hui-is-open .hui_skeleton_overlay {
    left: 0; }
  .hui_skeleton_navigation {
    width: 50%; }
  .hui_skeleton_results {
    left: 50%;
    width: 50%; }
  .hui_skeleton_content {
    left: 0; }
  .hui_skeleton_actions {
    left: 29px; } }
@media screen and (max-width: 500px) {
  .hui_skeleton_details {
    width: 280px;
    right: -280px; } }
