.hui_structure {
  height: 100%;
  position: relative;
}
.hui_structure_top {
  min-height: 26px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 0 5px;
  background: #f6f6f6;
}
.hui_structure_bottom {
  min-height: 26px;
  border: 1px solid #ccc;
  border-radius: 0 0 6px 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f6f6f6;
}
.hui_structure_middle {
  position: absolute;
  bottom: 28px;
  top: 58px;
  left: 0;
  right: 0;
  background: #fff;
}
.hui_structure_center {
  height: 100%;
  margin-left: 201px;
}
.hui_structure_left {
  background: #EBF0F7;
  border-right: 1px solid #ccc;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 200px;
}

.hui_structure_full .hui_structure_middle {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}