.hui_styleeditor_query {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  background-image: linear-gradient(180deg, #fcfcfd, #e3e7ea);
  font-size: 12px;
  line-height: 20px;
  padding: 2px 5px;
}