.hui_styleeditor_query {
  font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
  background-color: #fcfcfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfd), to(#e3e7ea));
  background-image: -webkit-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -moz-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -ms-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -o-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: linear-gradient(top, #fcfcfd, #e3e7ea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#e3e7ea');
  font-size: 12px;
  line-height: 20px;
  padding: 2px 5px; }
