@charset "UTF-8";
@font-face {
  font-family: 'HUI';
  src: url("../symbols/font/fonts/HUI.ttf?4k393m") format("truetype"), url("../symbols/font/fonts/HUI.woff?4k393m") format("woff"), url("../symbols/font/fonts/HUI.svg?4k393m#HUI") format("svg");
  font-weight: normal;
  font-style: normal; }

.hui_symbol {
  width: 16px;
  height: 16px;
  display: inline-block;
  font-size: 16px; }
  .hui_symbol:before {
    font-family: 'HUI' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .hui_symbol-search:before {
    content: ""; }
  .hui_symbol-menu:before {
    content: ""; }
  .hui_symbol-close:before {
    content: ""; }
  .hui_symbol-left:before {
    content: ""; }
  .hui_symbol-right:before {
    content: ""; }
  .hui_symbol-up:before {
    content: ""; }
  .hui_symbol-down:before {
    content: ""; }
  .hui_symbol-info:before {
    content: "'"; }
  .hui_symbol-more:before {
    content: ""; }
  .hui_symbol-follow:before {
    content: ""; }
  .hui_symbol-add:before {
    content: ""; }
  .hui_symbol-trash:before {
    content: ""; }
  .hui_symbol-gear:before {
    content: ""; }
  .hui_symbol-delete:before {
    content: ""; }
  .hui_symbol-view:before {
    content: ""; }
