.hui_tabs_bar {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0;
}
.hui_tabs_bar-centered {
  text-align: center;
}
.hui_tabs_bar:after {
  content: "";
  display: block;
  background: #788492;
  height: 2px;
}
.hui_tabs-below .hui_tabs_bar:after {
  content: none;
}
.hui_tabs-below .hui_tabs_bar:before {
  content: "";
  display: block;
  background: #788492;
  height: 2px;
}
.hui_tabs_tab {
  display: inline-block;
  font-size: 10pt;
  padding: 0 8px;
  line-height: 26px;
  margin: 0 2px;
  color: #123;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(180deg, #fcfcfd, #e3e7ea);
  border: 1px solid #ccc;
  border-color: #e3e3e3 #ccc #bbb;
  border-radius: 3px 3px 0 0;
  border-width: 1px 1px 0;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
}
.hui_tabs_tab.hui-is-selected {
  background-image: linear-gradient(180deg, #b5beca, #788492);
  border-color: #a4adb9 #788492;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.hui_tabs-small .hui_tabs_tab {
  font-size: 12px;
  padding: 0 8px;
  line-height: 21px;
}
.hui_tabs-below .hui_tabs_tab {
  border-radius: 0 0 3px 3px;
  box-shadow: none;
  border-color: #bbb #ccc #bbb;
  border-width: 0 1px 1px;
}
.hui_tabs-below .hui_tabs_tab.hui-is-selected {
  background-image: linear-gradient(180deg, #8c97a5, #576372);
  border-color: #8d97a5 #788492;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.hui_tabs_body {
  display: none;
}
.hui_tabs_body.hui-is-selected {
  display: block;
}
.hui_tabs_body-light {
  background: #fff;
}