div.photos_gallery
{
	padding: 20px;
}

div.photos_gallery h1.oo_header
{
	margin-bottom: 5px;
}

p.photos_gallery_info
{
	font-size: 10pt;
	color: #999;
	font-weight: 300;
	margin: 10px 0 0;
}

div.photos_gallery_drop
{
	background: #fff url('/hui/gfx/hover_bg.png');
}

#photos_gallery_images
{
	margin-top: 20px;
	font-size: 0;
}

span.photos_gallery_image
{
	display: inline-block;
	font-size: 0;
	margin: 0 10px 10px 0;
	position: relative;
}

span.photos_gallery_image_actions
{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

span.photos_gallery_image:hover span.photos_gallery_image_actions
{
	display: block;
}

span.photos_gallery_image span.photos_gallery_image_actions a
{
	font-size: 11px;
	display: inline-block;
	padding: 1px 3px;
	background: rgba(255,255,255,.5);
	cursor: pointer;
}

div.photos_gallery_actions
{
	padding: 10px 10px;
	background: #fafafa;
	border: 1px solid #eee;
	border-width: 1px 0;
}

div.photos_gallery_bar
{
	border-bottom: 1px solid #eee;
	overflow: hidden;
	height: 26px;
	margin: 20px -10px 0;
	padding: 4px 0;
}

div.photos_gallery_bar_left
{
	float: left;
	height: 26px;
	font-size: 0;
	padding-left: 5px;
}

div.photos_gallery_bar_right
{
	float: right;
	height: 26px;
	font-size: 0;
	padding-right: 5px;
}

.photos_gallery_bar_button
{
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	height: 26px;
	color: #666;
	font-size: 10pt;
	padding: 0 8px;
}

.photos_gallery_bar_button:hover
{
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 4px;
	margin: -1px;
}

div.photos_gallery_bar a strong
{
	vertical-align: top;
	height: 26px;
	line-height: 27px;
	display: inline-block;
	font-weight: normal;
}

.photos_gallery_bar_button .oo_icon
{
	vertical-align: top;
	margin-right: 3px;
	margin-top: 6px;
}

.photos_gallery_bar_view {
	display: inline-block;
	border-left: 1px solid #eee;
	margin-left: 5px;
	padding-left: 10px;
}

.photos_gallery_bar_view_label {
	line-height: 26px;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	font-weight: normal;
	padding-right: 3px;
	color: #999;
}

.photos_gallery_bar_view_item {
	color: #bbb;
	display: inline-block;
	vertical-align: top;
	padding: 3px;
}


.photos_gallery_bar_view_item:hover,
.photos_gallery_bar_view_item_selected {
	color: #000;
}