div.photos_profile
{
	overflow: hidden;
	font-size: 10pt;
}

div.photos_profile_body
{
	margin-left: 100px;
}

div.photos_profile_photo
{
	float: left;
	border: 1px solid #ddd;
	background: #fff;
	padding: 2px;
	font-size: 0;
}

p.photos_profile_name
{
	color: #333;
	font-size: 16pt;
	font-weight: 200;
	line-height: 16pt;
	margin: 0 0 3px;
}

p.photos_profile_link
{
	margin: 5px 0 0;
}

p.photos_profile_username
{
	color: #777;
	font-size: 0;
}

p.photos_profile_username span
{
	color: #aaa;
	margin-right: 4px;	
}

p.photos_profile_username strong
{
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
	font-size: 9pt;
}