@media screen and (max-width: 980px) {
	
	div.photos_layout
	{
		width: 100%;
		margin-top: 0px;
	}
	
	div.photos_photo_image
	{
		overflow: hidden;
	}
	
	div.photos_photo_image span.oo_thumbnail,
	div.photos_photo_image span.oo_thumbnail img
	{
		width: 100% !important;
		height: auto !important;
	}
	
}


@media screen and (max-width: 700px) {

	div.photos_photo_left
	{
		border: none;
		float: none;
		width: auto;
	}

	div.photos_photo_right
	{
		border: none;
		margin: 0;
	}
	
	div.photos_photo_left_body
	{
		padding: 0;
	}
	
	div.photos_photo_right_body
	{
		padding: 30px 15px 10px;
	}
	
	div.photos_photo_info
	{
		padding: 0 15px;
	}
}


.oo_touch .photos_controls {
	opacity: 1;
	background: #fff;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	-webkit-transition: none;
	-moz-transition: none;
}
	
.oo_touch .photos_controller {
	position: static;
	background: none;
	float: left;
}
	
.oo_touch .photos_controller a {
	text-shadow: none;
	color: #999;
}
	
.oo_touch .photos_controller_direction {
	float: right;
}

.oo_touch .photos_controller_direction a
{
	width: 40px;
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
	div.photos_controller {
		opacity: 1;
	}
}

/* iPad portrait */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  html body { width: 768px }
}

/* iPad landscape */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  html body {  }
}