div.photos_photo
{
	overflow: hidden;
	padding: 10px 0;
	margin-bottom: 15px;
}

div.photos_photo div.oo_map
{
	margin: 20px auto 0;
}

div.photos_photo p.oo_words
{
	margin-left: -4px;
}

div.photos_photo_left
{
	float: left;
	width: 70%;
	border-right: 1px solid #eee;
	margin-right: -1px;
}

div.photos_photo_left_body
{
	padding: 7px 20px 10px;
}

div.photos_photo_right
{
	margin-left: 30%;
	border-left: 1px solid #eee;
	overflow: hidden;
}

div.photos_photo_right_body
{
	padding: 10px 20px;
}

h1.photos_photo_not_found
{
	font-weight: 100;
	padding: 50px 0;
	text-align: center;
	color: #999;
}

div.photos_photo h1
{
	font-weight: 100;
	font-family: 'Lato','HelveticaNeue-UltraLight','Helvetica Neue','Helvetica','Arial',sans-serif;
	margin: 0 0 10px;
	line-height: 1;
	text-indent: -2px;
	color: #333;
}

p.photos_photo_by
{
	font-weight: 400;
	font-size: 12px;
	margin: 5px 0px 10px;
	color: #999;
}

p.photos_photo_by strong
{
	color: #333;
	font-weight: 500;
}

.photos_photo_image
{
	position: relative;
	font-size: 0;
	background: -webkit-radial-gradient(center, ellipse cover, #fff 0%,#f3f3f3 100%);
	text-align: center;
}

.photos_photo_image_vertical
{
	position: relative;
}

.photos_photo_image_vertical img
{
	position: absolute;
	left: 0;
}

div.photos_photo_properties
{
	font-weight: 300;
	padding: 20px 0px 0;
	font-size: 12px;
}

p.photos_photo_property
{
	margin: 0 0 5px;
	padding-left: 10px;
	text-indent: -10px;
}

p.photos_photo_property strong
{
	font-weight: 400;
	color: #999;
}

p.photos_photo_description
{
	margin: 0 0px 30px;
	font-weight: 200;
	line-height: 20px;
	font-size: 11pt;
	color: #555;
}


p.photos_photo_description span
{
	font-size: 64px;
	display: inline-block;
	color: #ddd;
	position: relative;
	font-family: Georgia;
	vertical-align: middle;
	height: 18px;
	line-height: 52px;
	overflow: hidden;
}

p.photos_photo_description span.photos_photo_description_start
{
	margin-right: 3px;
	top: -2px;
	line-height: 49px;
}

span.photos_photo_description_end
{
	margin-left: 3px;
}

p.photos_photo_words a
{
	color: #333;
}



div.photos_photo_galleries h2
{
	font-weight: 200;
	font-size: 14pt;
	margin: 15px 0 5px;
	color: #999;
}

div.photos_photo_galleries ul
{
	margin: 0;
	list-style: none;
	padding: 0;
}

div.photos_photo_galleries ul a
{
	color: #333;
	text-decoration: none;
	font-size: 10pt;
}

div.photos_photo_galleries ul span.oo_icon
{
	vertical-align: center;
	margin-right: 3px;
	color: #ccc;
}