@use "sass:color";

$sidebar-color: #EBF0F7;
$background-color: #f6f6f6;
$frame-color : #ccc;
$border-color : #ddd;
$focus-color: #0069ff; //#39f;
$dark-focus-color: #65a5ff;
$selection-color: #368cf4;
$text-color: #333; //#004a80;
$subtle-text-color: #777;
$font: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$mono-font: Menlo,"Lucida Console", Monaco, monospace;
$compact-font: Helvetica, Arial, sans-serif;
//-apple-system, BlinkMacSystemFont, "Segoe UI",

$bar-height: 30px;

$standard-font-size: 12px;
$small-font-size: 11px;

$title-font-size: 10pt; // 13.333px but looks nice

$search-symbol: "\e90c";
$menu-symbol: "\e916";
$close-symbol: "\e917";
$left-symbol: "\e912";
$right-symbol: "\e913";
$up-symbol: "\e914";
$down-symbol: "\e911";
$info-symbol: "\27";
$more-symbol: "\e907";
$follow-symbol: "\e905";
$add-symbol: "\e60c";
$trash-symbol: "\e900";
$gear-symbol: "\e607";
$delete-symbol: "\e60e";
$view-symbol: "\e60d";

$symbols: (
  "search" : $search-symbol,
  "menu" : $menu-symbol,
  "close" : $close-symbol,
  "left" : $left-symbol,
  "right" : $right-symbol,
  "up" : $up-symbol,
  "down" : $down-symbol,
  "info" : $info-symbol,
  "more" : $more-symbol,
  "follow" : $follow-symbol,
  "add" : $add-symbol,
  "trash" : $trash-symbol,
  "gear" : $gear-symbol,
  "delete" : $delete-symbol,
  "view" : $view-symbol
);


@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin font {
  font-family: $font;
}

@mixin vertical-gradient($start-colour, $end-colour) {
  background-image: linear-gradient(180deg, $start-colour, $end-colour);
}

@mixin gradient {
  @include vertical-gradient(#fafafa, #f6f6f6);
}

@mixin gradient-hover {
  @include vertical-gradient(color.adjust(#fafafa, $lightness: -3%), color.adjust(#f6f6f6, $lightness: -3%));
}


@mixin control-hover {
  border-color: #d2d2d2 #b7b7b7 #9c9c9c;
  background: linear-gradient(#f9f9f9, #d5dade);
}

@mixin control-base {
  @include vertical-gradient(#fcfcfd, #e3e7ea);
  border: 1px solid #ccc;
  border-color: #e3e3e3 #ccc #bbb;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

@mixin control-focus {
  border: 1px solid $focus-color;
  box-shadow: 0 0 2px $focus-color,inset 0 0 2px $focus-color;
  outline: none;
}

@mixin control-active {
  border-color: #9c9c9c #b7b7b7 #aeaeae;
  background: linear-gradient(#f1f2f3, #d1d4d6);
  box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
  text-shadow: none;
}

@mixin symbol-before($symbol) {
  &:before {
    font-family: 'HUI' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $symbol;
    @content;
  }
}

@mixin icon-hover {
  filter: brightness(0.8);
}

@mixin anti-icon-hover {
  filter: none;
}

@mixin cursor-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

@mixin cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

@mixin no-touch-highlight {
  -webkit-tap-highlight-color: transparent;
}