@use 'tools' as *;

html.hui {
  height: 100%;
}

body.hui {
  margin: 0px;
  background: #f9f9f9;
  overflow: auto;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: $font;
}