.hui_dock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &_frame {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 0px;
    background: #fff;
    display: block;
  }

  &_internals {
    height: 100%;
    position: relative;
  }

  &_bar {
    position: absolute;
    width: 100%;
    .hui_dock-bottom & {
      bottom: 0;
    }
    .hui_dock-top & {
      top: 0;
    }
  }

  &_body {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    .hui_dock-bottom & {
      bottom: 57px;
    }
    .hui_dock-bottom-tabs & {
      bottom: 82px;
    }
    .hui_dock-top & {
      top: 57px;
    }
    .hui_dock-top-tabs & {
      top: 82px;
    }
  }

  &_main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
  }

  &_progress {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../gfx/progress/spinner_white.svg') center center no-repeat;
    background-size: 48px;
    display: none;
    pointer-events: none;

    .hui_dock.hui-is-busy & {
      display: block;
    }

    .hui_dock.hui-is-legacy & {
      background-image: url('../gfx/progress/spinner_white_48.gif');
    }
  }

  &_sidebar {
    background: #EBF0F7;
    width: 199px;
    border-right: 1px solid #bcd;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    &_line {
      position: absolute;
      top: 0;
      left: 195px;
      bottom: 0;
      width: 5px;

      &:hover {
        background: #ddd;
        background: rgba(0,0,0,.1);
        cursor: pointer;
        cursor: col-resize;
      }
    }
  }
}

.hui_dock.hui-is-collapsed {
  .hui_dock {

    &_main {
      left: 10px;
    }

    &_sidebar {
      display: none;
        &_line {
        background-color: #eee;
        width: 9px;
        border-right: 1px solid #ddd;
        margin-left: -5px;
        left: 5px;

        &:hover {
          background: #ddd;
          border-color: #ccc;
        }
      }
    }
  }
}

.hui_dock.hui-is-resizing {
  cursor: col-resize;
  .hui_dock_main {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    };
  }

  .hui_dock_sidebar_line {
    display: none;
  }
}