@import 'tools';

.hui_formula {
  padding: 0px;
  margin: 0px;
  font-family: $font;
  text-align: left;
}

.hui_formula_header {
  color: #0077cd;
  font-size: 13pt;
  padding-bottom: 5px;
}

/********************************** Field set *********************************/

.hui_formula_fieldset {
  border: 1px solid #ddd;
  padding: 10px 10px 5px;
  margin-top: 7px;
  background: #fff;
}

.hui_formula_fieldset_legend {
  position: absolute;
  margin-top: -19px;
  background: #fff;
  font-size: 12px;
  padding: 0 4px;
  margin-left: -2px;
  color: #666;
  border-radius: 4px;
}

.hui_window .hui_formula_fieldset_legend {
  background: #f0f0f0;
}

.hui_window .hui_formula_fieldset {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px #DDDDDD inset;
}

/********************************** Fields *********************************/

table.hui_formula_fields {
  width: 100%;
  border-collapse: collapse;
}

.hui_formula_fields + .hui_formula_fields {
  margin-top: 5px;
}

/********************************** Field *********************************/

.hui_formula_field {
  &_hint {
    font-size: 9px;
    color: #999;
    margin: -5px 0 0 3px;
  }

  &_label {
    color: #004A80;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    display: block;
  }
}

.hui_formula_field + .hui_formula_field,
.hui_formula_field + script + .hui_formula_field {
  margin-top: 5px;
}

tr.hui_formula_field + tr.hui_formula_field {
  > td, > th {
    padding-top: 5px;
  }
}

form.hui_formula table.split {
  border-spacing: 5px 0px;
}

.hui_formula_fields th {
  width: 1%;
  vertical-align: top;
  padding-right: 5px;
  text-align: right;
  white-space: nowrap;
  line-height: 18px;
  > label {
    margin-top: 4px;
  }
}


/************************************** Buttons *********************************/

.hui_formula > .hui_buttons {
  margin-top: 10px;
}

.hui_formula .hui_buttons {
  text-align: right;
}


/************************* Override for windows *******************/



div.hui_window label.hui_formula_field {
  background: rgb(240, 240, 240);
}

div.hui_formula_fieldset label.hui_formula_field,
div.hui_window_news label.hui_formula_field {
  background: none;
}

div.hui_window_light label.hui_formula_field {
  color: #004A80;
  background: none;
}


body .hui_context_dark label.hui_formula_field,
.hui_context_dark .hui_checkbox,
.hui_context_dark span.hui_radiobutton_label,
.hui_context_dark th.hui_objectlist {
  color: #fff;
  background: none;
}
