@use 'tools' as *;

.hui_objectinput {

  &_text {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    padding-left: 2px;
  }

  &_object {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 3px;
    padding-left: 2px;
  }

  &_title {
    margin: 0 3px;
    cursor: default;
    vertical-align: middle;
  }

  &_delete {
    visibility: hidden;
    margin-left: 5px;
  }

  &_object:hover &_delete {
    visibility: visible;
  }

  &_actions {
    margin-top: 5px;
    .hui_button {
      margin-right: 5px;
    }
  }
}