@import 'tools';

.hui_panel {
  display: none;
  -webkit-tap-highlight-color: transparent;

  &_titlebar {
    font-family: $font;
    text-align: center;
    font-size: $title-font-size;
    line-height: 16px;
    padding: 5px 0;
    @include cursor-grab;
    display: none;
  }

  &.hui-is-titled &_titlebar {
    display: block;
  }

  &_close {
    position: absolute;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #eee;
    border: 1px solid #ddd;
    color: #333;
    z-index: 2;
    font-size: 14px;
    @include symbol-before($close-symbol) {line-height: inherit;};
//    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  &.hui-is-titled &_close {
    display: block;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    background: none;
    color: #333;
    border: none;
  }

  &_arrow {
    position: absolute;
    background: url('../gfx/pointer.svg');
    background-size: 20px;
    display: none;
    transition: top .3s, left .3s;

    &-left {
      width: 10px;
      height: 20px;
      right: -10px;
      background-position: -10px 0;
    }
    &-right {
      width: 10px;
      height: 20px;
      left: -10px;
    }
    &-above {
      width: 20px;
      height: 10px;
      bottom: -10px;
      background-position: 0 -10px;
    }
    &-below {
      width: 20px;
      height: 10px;
      top: -10px;
      background-position: 0 0;
    }
  }
  &.hui-is-targeted &_arrow {
    display: block;
  }

  &_icon {
    margin-right: 5px;
    vertical-align: top;
    background-size: 16px;
  }

  &.hui-is-animating {
    transition: left .5s,top .5s, transform .2s, opacity .5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &.hui-is-dragging &_titlebar {
    @include cursor-grabbing;
  }

  &.hui-is-floating {
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0,0,0,.1);
    background: #fff;
  }

  &_busy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    border-radius: 3px;
    @include font;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s, bottom 0s;
    transition-delay: 0s, 1s, 1s;

    &_text {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 30%;
      background: center top no-repeat;
      background-image: url('../gfx/progress/spinner_white.svg');
      background-size: 32px;
      padding-top: 35px;
      font-size: 12px;
      text-shadow: 0 1px white;
    }

    &.hui-is-visible {
      transition-delay: .5s, 0s, 0s;
      bottom: 0;
      opacity: 1;
      visibility: visible;
    }

    &.hui-is-visible &_text {
    }
    &-legacy.hui-is-visible &_text {
      background-image: url('../gfx/progress/spinner_white_32.gif');
    }
  }

  &.hui-is-full {
    border: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    position: fixed;

    .hui_panel_body {
      width: auto !important;
      position: absolute;
      top: 32px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    .hui_panel_close {
      width: 32px;
      height: 32px;
      font-size: 22px;
      line-height: 32px;
    }

    .hui_panel_titlebar {
      line-height: 22px;
    }
  }
}