@use 'tools' as *;

/******************************* Radio button **************************/

.hui_radiobuttons {
  vertical-align: middle;
  display: inline-block;
  font-size: 0;

  &_disabled {
    opacity: .5;
  }
}

.hui_radiobutton {
  margin-right: 10px;
  font-size: $control-font-size;
  cursor: default;
  display: inline-block;
  cursor: pointer;
  line-height: 18px;
  padding: 4px 0;

  &_button {
    @include control-base;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;

    .hui_radiobutton_selected &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #333;
      border-radius: 50%;
      top: 4px;
      left: 4px;
    }

  }

  &:hover &_button {
    @include control-hover;
  }
  &:focus {
    outline: none;
  }

  &:focus &_button {
    @include control-focus;
  }

  &:active &_button {
    @include control-active;
  }

  &_label {
    vertical-align: top;
    display: inline-block;
    color: $text-color;
    margin-left: 5px;
  }
}



