@import 'tools';

/******************************* Radio button **************************/

.hui_radiobuttons
{
	vertical-align: middle;
	display: inline-block;
	font-size: 0;

	&_disabled {
		opacity: .5;
	}
}

.hui_radiobutton
{
	margin-right: 10px;
	font-size: 10pt;
	cursor: default;
	display: inline-block;
	cursor: pointer;

	&_button
	{
		width: 16px;
		height: 16px;
	  @include vertical-gradient(#fcfcfd, #e3e7ea);
		border: 1px solid #ccc;
		border-color: #e3e3e3 #ccc #bbb;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		box-shadow: 0 1px 1px rgba(0,0,0,.1);

		.hui_radiobutton_selected &:before {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			background: #333;
			border-radius: 50%;
			top: 4px;
			left: 4px;
		}

	}

	&:hover &_button {
		border-color: #d2d2d2 #b7b7b7 #9c9c9c;
		background: linear-gradient(#f9f9f9, #d5dade);
	}
	&:focus {
		outline: none;
	}

	&:focus &_button {
    border: 1px solid $focus-color;
    box-shadow: 0 0 2px $focus-color,inset 0 0 2px $focus-color;
    outline: none;
	}

	&:active &_button {
    border-color: #9c9c9c #b7b7b7 #aeaeae;
    background: linear-gradient(#f1f2f3, #d1d4d6);
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	}

	&_label
	{
		vertical-align: top;
		display: inline-block;
		height: 18px;
		color: $text-color;
		line-height: 18px;
		margin-left: 5px;
	}
}



