@import 'tools';

.hui_searchfield
{
  font-family: $font;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #bbb #ccc #e3e3e3;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
  -webkit-appearance: none;
  box-sizing: border-box;
  text-shadow: 0 -1px 0 rgba(255,255,255,.5);
	width: 100px;
	height: 22px;
	border-radius: 11px;
	position: relative;
	padding: 0 4px 0 20px;
  font-size: 0;

	&:before {
		content: '';
		position: absolute;
		width: 13px;
		height: 13px;
		background: url('../gfx/search.svg') no-repeat;
		background-size: contain;
		top: 4px;
		left: 4px;
		opacity: .5;
	}

	&_input {
		border: none;
		background: none;
		font-size: 12px;
		height: 16px;
		margin: 2px 0 0;
		padding: 0;
		width: 100%;
		outline: none;
		font-family: inherit;
	}

	&_reset {
		position: absolute;
		right: 4px;
		top: 4px;
		width: 12px;
		height: 12px;
		display: none;
		font-size: 0;
		background: url('../gfx/reset.svg') no-repeat;
		background-size: contain;
		cursor: pointer;
		opacity: .5;

		&:hover {
			opacity: 1;
		}

		.hui_searchfield-dirty & {
			display: block;
		}
	}

	&_placeholder {
		position: absolute;
		font-style: normal;
		color: #999;
		font-size: 11px;
		line-height: 16px;
		left: 20px;
		height: 16px;
		top: 2px;

		.hui_searchfield-dirty &,
		.hui_searchfield-focus & {
			display: none;
		}
	}

	&-adaptive {
		width: 100%;
		min-width: 30px;
	}

	&-focus {
		border: 1px solid $focus-color;
		box-shadow: 0 0 2px $focus-color,inset 0 0 2px $focus-color;
		outline: none;
	}

	&-dirty {
		background: #fff066;
	}
}