@use 'tools' as *;

.hui_structure {
  height: 100%;
  position: relative;
  
  &_top {
    min-height: 26px;
    border: 1px solid $frame-color;
    border-radius: 5px 5px 0 0;
    padding: 0 5px;
    @include gradient;
  }
  
  &_bottom {
    min-height: 26px;
    border: 1px solid $frame-color;
    border-radius:  0 0 6px 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include gradient;
  }

  &_middle {
    position: absolute;
    bottom: 28px;
    top: 58px;
    left: 0;
    right: 0;
    background: #fff;
  }

  &_center {
    height: 100%;
    margin-left: 201px;
  }

  &_left {
    background: $sidebar-color;
    border-right: 1px solid $frame-color;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 200px;
  }
}

.hui_structure_full .hui_structure_middle {
  border-right: 1px solid $frame-color;
  border-left: 1px solid $frame-color;
}
