@import 'tools';

.hui_tabs {
  &_bar {
    font-family: $font;
    font-size: 0;
    &-centered {
      text-align: center;
    }
    &:after {
      content: '';
      display: block;
      background: #788492;
      height: 4px;
    };
    .hui_tabs-below & {
      &:after {
        content: none;
      }
      &:before {
        content: '';
        display: block;
        background: #788492;
        height: 4px;
      };
    }
  }

  &_tab {
    display: inline-block;
    font-size: 10pt;
    padding: 0 8px;
    line-height: 26px;
    margin: 0 2px;
    color: #123;
    text-decoration: none;
    cursor: pointer;
    @include vertical-gradient(#fcfcfd, #e3e7ea);
    border: 1px solid #ccc;
    border-color: #e3e3e3 #ccc #bbb;
    border-radius: 3px 3px 0 0;
    border-width: 1px 1px 0;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);

    &.hui-is-selected {

      @include vertical-gradient(#b5beca, #788492);
      border-color: #a4adb9 #788492;
      color: #fff;
      text-shadow: 0 -1px rgba(0,0,0,0.3);
    }
    .hui_tabs-small & {
      font-size: 12px;
      padding: 0 8px;
      line-height: 21px;
    }
    .hui_tabs-below & {
      border-radius: 0 0 3px 3px;
      box-shadow: none;
      border-color: #bbb #ccc #bbb;
      border-width: 0 1px 1px;

      &.hui-is-selected {
        @include vertical-gradient(#788492, #b5beca);
        border-color: #8d97a5 #788492;
        text-shadow: 0 1px rgba(0,0,0,0.3);
      }
    }
  }

  &_body {
    display: none;
    &.hui-is-selected {
      display: block;
    }
    &-light {
      background: #fff;
    }
  }
}