@use 'tools' as *;

.hui_textinput {
  color: #333;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-decoration: none;
  font-family: $font;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #bbb #ccc #e3e3e3;
  border-radius: 2px;
  padding: 0 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    border: 1px solid $focus-color;
    box-shadow: 0 0 2px $focus-color,inset 0 0 2px $focus-color;
    outline: none;
  }
  &.hui-large {
    font-size: 14px;
    padding: 0 8px;
  }
}

input.hui_textinput {
  height: 26px;

  &.hui-small {
    height: 22px;
    font-size: 11px;
  }
  &.hui-large {
    height: 30px;
  }
}

textarea.hui_textinput {
  height: 40px;
  line-height: 16px;
  padding: 3px 5px;
  resize: vertical;
  white-space: pre-wrap;
  word-break: break-word;
}

.hui_textinput_dummy {
  font-family: $font;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  visibility: hidden;
  left: -10000px;
  top: -10000px;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 5px;
  border: 1px solid #000;
  min-height: 40px;
  box-sizing: border-box;
}

@media (max-width: 450px) {

  .hui_textinput, .hui_textinput_dummy {
    font-size: 16px;
  }

  textarea.hui_textinput,.hui_textinput_dummy {
    line-height: 18px;
    min-height: 44px;
  }
}