@use 'tools' as *;

div.hui_timeline {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

div.hui_timeline_line {
  width: 1px;
  font-size: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background: #f69;
}

div.hui_timeline_block {
  position: absolute;
  width: 100px;
  height: 20px;
  background: #36f;
  top: 10px;
  left: 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 8pt;
  line-height: 20px;
  text-indent: 6px;
}

div.hui_timeline_bg {
  height: 100%;
  background-size: 100px 20px;
  background-image: -webkit-linear-gradient(0deg, transparent 99px, #eee 100px),
                    -webkit-linear-gradient(transparent 19px, #eee 20px);
}