@import 'tools';

.hui_toolbar
{
  padding: 0px;
  font-family: "Lucida Grande","Tahoma",sans-serif;
  position: relative;
  font-size: 0;
  text-align: left;

  &-centered {
    text-align: center;
  }

  &-border-top {
    border-top: 1px solid #ddd;
    padding: 0;
    border-top: 1px solid #fff;
    background: #f2f2f3;
  }

  &-border-bottom {
    border-bottom: 1px solid #ddd;
    padding: 0;
    border-top: 1px solid #fff;
    background: #f2f2f3;
  }

  &-window
  {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #ccc;
  }

  &_right {
    position: absolute;
    right: 0;
    top: 0;
  }

  &_divider {
    vertical-align: middle;
    display: inline-block;
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    height: 45px;
    margin: 1px 5px 0px;
  }
}

/********************************** Icon ************************/


.hui_toolbar_icon
{
  height: 54px;
  padding: 1px 7px;
  vertical-align: middle;
  display: inline-block;
  font-size: 0px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:focus {
    height: 54px;
    padding: 0 6px;
    border: 1px solid $focus-color;
    box-shadow: 0 0 2px $focus-color,inset 0 0 2px $focus-color;
    outline: none;
    border-radius: 3px;
  }

  &_selected {
    background: rgba(0,0,40,.1);
    background: radial-gradient(rgba(0,0,40,.05) 50%,rgba(0,0,40,.1) 100%);
    box-shadow: inset 0 0px 6px rgba(0,0,40,.2);
  }

  &_text {
    font-size: 11px;
    color: #345;
    font-weight: normal;
    display: block;
  }

  .hui_icon {
    height: 32px;
    width: 32px;
    margin: 4px auto 3px auto;
    display: inline-block;
    position: relative;
  }

  &:active .hui_icon {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  &:hover .hui_icon
  {
    background-position: 0px -32px;
  }

  &_disabled {
    opacity: 0.3;
    cursor: default;
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    filter: saturate(0);
    &:hover .hui_icon {
      background-position: 0 0;
    }
  }
}

/************************************ Items *****************************/

.hui_toolbar_item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  height: 56px;

  &_body {
    display:block;
    height: 39px;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 39px;
      vertical-align: middle;
    }
  }
}

.hui_toolbar_label
{
  color: #334455;
  display: block;
  font-size: 11px;
  text-align: center;
}

/********************************* Grid ******************************/

.hui_toolbar_grid {
  display: inline-table;
  border-collapse: collapse;
  vertical-align: middle;

  &_cell {
    padding: 0px;
    height: 27px;
  }

  &_label {
    font-size: 11px;
    color: #334455;
    vertical-align: middle;
    padding: 0px 4px 0 6px;
  }
}

th.hui_toolbar_grid_label {
  font-weight: normal;
  text-align: right;
  height: 27px;
}

/************************** More ************************/

.hui_toolbar_more {
  &_toggle
  {
    display: inline-block;
    font-size: 12px;
    border-radius: 9px;
    height: 18px;
    background: #e4e4e4;
    line-height: 18px;
    padding: 0 10px;
    color: #666;
    text-decoration: none;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background: #ddd;
      color: #333;
    }
  }

  &_content {
    display: none;
  }

  &.hui_is_expanded .hui_toolbar_more_content {
    display: inline-block;
  }
}