

/***************** Links ***************/
/*
a.oo_link
{
	color: #ddd;
}

a.oo_link span
{
	color: #08c;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-ms-transition: color 1s;
}

body.oo_fade a.oo_link span
{
	color: #333;
}

*/