body
{
	background: #fafafa;
	font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
	margin: 0;
}

div.photos_layout
{
	width: 980px;
	margin: 0 auto;
	box-shadow: 0px 1px 3px 0px #999;
	-webkit-box-shadow: 0px 1px 3px #999;
	background: #fff;
	margin-top: 20px;
}

/***************** Links ***************/

a.oo_link
{
	color: #ddd;
}

a.oo_link span
{
	color: #08c;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-ms-transition: color 1s;
}

body.oo_fade a.oo_link span
{
	color: #333;
}

/****************** Photo ***************/

div.photos_photo
{
	overflow: hidden;
	padding: 10px 0;
}

div.photos_photo p.oo_words
{
	margin-left: -4px;
}

div.photos_photo_left
{
	float: left;
	width: 70%;
	border-right: 1px solid #eee;
	margin-right: -1px;
}

div.photos_photo_right
{
	margin-left: 30%;
	border-left: 1px solid #eee;
	overflow: hidden;
}


h1.photos_photo_not_found
{
	font-weight: 100;
	padding: 50px 0;
	text-align: center;
	color: #999;
}

div.photos_photo h1
{
	font-weight: 100;
	margin: 0;
	color: #333;
}

p.photos_photo_by
{
	font-weight: 400;
	font-size: 12px;
	margin: 5px 0px 10px;
	color: #999;
}

p.photos_photo_by strong
{
	color: #333;
	font-weight: 500;
}

div.photos_photo_image
{
	position: relative;
	font-size: 0;
	background: -webkit-radial-gradient(center, ellipse cover, #fff 0%,#f3f3f3 100%);
	text-align: center;
}

div.photos_controller
{
	height: 44px;
	background: rgba(0,0,0,.2);
	border-radius: 5px;
	font-size: 0;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 0 4px;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-font-smoothing: antialiased;
}

div.photos_photo_image:hover div.photos_controller
{
	opacity: 1;
}

body.oo_fade div.photos_photo_image:hover div.photos_controller
{
	opacity: 0;
}

body.oo_msie8 div.photos_controller
{
	display: none;
}

body.oo_msie8 div.photos_photo_image:hover div.photos_controller
{
	display: block;	
}

div.photos_controller a
{
	vertical-align: middle;
	display: inline-block;
	font-size: 36px;
	width: 44px;
	height: 44px;
	line-height: 44px;
	color: #fff;
	color: rgba(255,255,255,1);
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 2px rgba(0,0,0,.5);
}

div.photos_controller a:hover
{
	font-size: 40px;
}

div.photos_controller a:active
{
	font-size: 30px;
}



div.photos_controller_top
{
	bottom: none;
	top: 10px;
}

div.photos_controller_top a
{
	width: 34px;
}




div.photos_photo_properties
{
	font-weight: 300;
	padding: 20px 0px 0;
	font-size: 12px;
}

p.photos_photo_property
{
	margin: 0 0 5px;
	padding-left: 10px;
	text-indent: -10px;
}

p.photos_photo_property strong
{
	font-weight: 400;
	color: #999;
}

p.photos_photo_description
{
	margin: 0 0px 10px;
	font-weight: 200;
	line-height: 20px;
	font-size: 11pt;
	color: #555;
}


p.photos_photo_description span
{
	font-size: 64px;
	display: inline-block;
	color: #ddd;
	position: relative;
	font-family: Georgia;
	vertical-align: middle;
	height: 16px;
	line-height: 52px;
	overflow: hidden;
}

p.photos_photo_description span.photos_photo_description_start
{
	margin-right: 3px;
	top: -2px;
	line-height: 49px;
}

span.photos_photo_description_end
{
	margin-left: 3px;
}

p.photos_photo_words a
{
	color: #333;
}

div.photos_profile
{
	overflow: hidden;
}

div.photos_profile_body
{
	margin-left: 100px;
}

div.photos_profile_photo
{
	float: left;
	border: 1px solid #ddd;
	background: #fff;
	padding: 2px;
	font-size: 0;
} 

div.photos_profile_body p
{
	margin: 0;
	font-size: 10pt;
}

p.photos_profile_username
{
	color: #999;
}

/********* User **********/

div.photos_user
{
	padding: 20px;
}

div.photos_user h1
{
	font-weight: 100;
	margin: 0 0 15px;
	color: #333;
}