span.hui_icon_1, span.hui_icon_16, a.hui_icon_16
{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

a.hui_icon_16:hover
{
	background-position: 0 -16px;
}

span.hui_icon_2, span.hui_icon_32, a.hui_icon_32
{
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

span.hui_icon_12, a.hui_icon_12
{
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

span.hui_icon_24
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

span.hui_icon_64
{
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
}

span.hui_icon_128
{
	display: inline-block;
	width: 128px;
	height: 128px;
	vertical-align: middle;
}

a.hui_icon_labeled
{
	display: inline-block;	
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

a.hui_icon_labeled strong
{
	display: block;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	margin-top: 2px;
}

a.hui_icon_labeled_128 strong
{
	font-size: 18px;
}

a.hui_icon_labeled:hover span.hui_icon_64
{
	background-position: 0 -64px;
}

a.hui_icon_labeled:hover span.hui_icon_128
{
	background-position: 0 -128px;
}

.hui_icon_overlay
{
	height: 32px;
	width: 32px;
	background: right bottom no-repeat;
	display:inline-block;
}

.hui_icon_badge
{
	background: #f00;
  background: -webkit-gradient(linear, left top, left bottom, from(#f69), to(#f03));
  color: #fff;
  display: inline-block;
  font-size: 11px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  padding: 0 5px;
  border-radius: 7px;
  font-family: Arial;
  right: -5px;
  bottom: -2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

div.hui_curtain
{
	width: 100%;
	background: #000;
	position: absolute;
	top: 0px;
	left: 0px;
}


.hui_imageviewer
{
	background: #fff;
	font: 10pt "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	text-align: left;
}

.hui_imageviewer_viewer
{
	width: 500px;
	height: 360px;
	overflow: hidden;
}

.hui_imageviewer_inner_viewer
{
	transform: translate3d(0,0,0);
}

.hui_imageviewer_status
{
	position: absolute;
	color: #666;
	margin-top: -21px;
	margin-left: 5px;
}

.hui_imageviewer_image
{
	float: left;
	background: url('../gfx/spinner.gif') center center no-repeat;
}

.hui_imageviewer_image_error, .hui_imageviewer_image_abort
{
	background: url('../gfx/sad_mac.png') center center no-repeat;
}

.hui_imageviewer_controller {
    height: 45px;
    width: 160px;
    position: absolute;
    margin-top: -70px;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 0 5px;
}

.hui_imageviewer_controller a
{
	float: left;
	width: 40px;
	height: 25px;
	margin: 10px 0px 0;
	background-image: url('../gfx/imageviewer_controls.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.hui_imageviewer_previous
{
	background-position: 7px -75px;
}

.hui_imageviewer_next
{
	background-position: 7px -50px;
}

.hui_imageviewer_play
{
	background-position: 7px 0;
}

.hui_imageviewer_pause
{
	background-position: 7px -25px;
}

.hui_imageviewer_close
{
	background-position: 7px -100px;
}

.hui_imageviewer_text
{
	height: 20px;
	position: absolute;
	line-height: 20px;
	margin-left: 2px;
	margin-top: -22px;
	padding: 0 5px;
	background: #fff;
}

.hui_imageviewer_zoomer
{
	position: absolute;
	overflow: hidden;
	z-index: 100;
	cursor: crosshair;
	background: url('../gfx/spinner.gif') center center no-repeat;
}

textarea.hui_editor_header
{
	background: none;
	border: none;
	position: absolute;
	padding: 0px;
	display: block;
	outline: none;
}

textarea.hui_editor_html
{
	background: none;
	border: none;
	padding: 0px;
	display: block;
	width: 100%;
}

.hui_editor_part_active
{
	outline: 1px dashed #3875d7;
  outline-offset: -1px;
}

div.hui_overlay_icon:hover
{
	cursor: pointer;
	background-position: 0px -32px;
}

.hui_editor_part_hover
{
	/*background: url('../gfx/hover_bg.png');*/
	outline: 1px dashed rgba(0,0,0,.2);
  outline-offset: -1px;
}

.hui_editor_column_hover
{
	/*outline: 1px dashed #3875d7;*/
	outline: 1px dashed rgba(0,0,0,.2);
  outline-offset: -1px;
}

.hui_editor_column_edit
{
	outline: 2px dashed #3875d7 !important;
  outline-offset: -2px;
}


.hui_editor_row_edit
{
	outline: 2px dashed #3875d7 !important;
  outline-offset: -2px;
}

div.hui_editor_drop_placeholder
{
	position: relative;
	overflow: hidden;
	height: 0px;
}

div.hui_editor_drop_placeholder div
{
	height: 100%;
	border: 2px dashed #DDD;
	background: #F6F6F6;
	border-radius: 10px;
	box-sizing: border-box;
}

div.hui_editor_dragproxy
{
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1001;
	-webkit-transform-origin: 0 0;
}

div.hui_editor_dropmarker
{
	position: absolute;
	height: 1px;
	background: #ABF;
	box-shadow: 0 0 4px 1px #abf;
	z-index: 1000;
}

.hui_overlay
{
	display: none;
	position: absolute;
	height: 38px;
  background: #222;
  background: linear-gradient(rgba(30, 30, 30, 0.7) 0%,rgba(30, 30, 30, 0.8) 50%,rgba(30, 30, 30,.9) 50%,rgba(30, 30, 30, 1));
  border-radius: 4px;
  border: 1px solid #222;
	font-size: 0;
  padding: 0 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,.3);
  z-index: 1;
}

.hui_overlay_icon
{
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px 3px 0px;
}

.hui_overlay .hui_button
{
	vertical-align: top;
	margin-top: 6px;
	margin-left: 4px;
}



.hui_overlay_text
{
	display: inline-block;
	line-height: 33px;
	vertical-align: top;
	height: 30px;
	padding: 0 5px;
	color: #fff;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 12px;
	margin-top: 2px;
	cursor: default;
}

/*** Light variant ***/

.hui_overlay_light
{
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 0 3px;
	height: 36px;
  box-shadow: none;
}

.hui_overlay_light .hui_overlay_icon
{
	margin-top: 2px;
}

.hui_box {
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background: #fff; }

.hui_box_close {
  width: 29px;
  height: 31px;
  background: url("../gfx/box_close.png") left top no-repeat;
  position: absolute;
  margin: -15px 0 0 -15px;
  z-index: 200; }

.hui_box_close:hover {
  background-position: 0 -31px; }

.hui_box_close:focus {
  background-position: 0 -62px;
  outline: none; }

.hui_box_close:focus:hover {
  background-position: 0 -93px;
  outline: none; }

.hui_box_absolute {
  position: absolute;
  left: 50%;
  top: -10000px;
  margin-left: -1000px;
  visibility: hidden; }

/****************************** Plain ****************************/
.hui_box_plain {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }

.hui_box_close_plain {
  margin: -15px 0 0 -15px; }

/****************************** Standard ****************************/
.hui_box_textured {
  background: #f3f3f3; }

.hui_box_textured .hui_box_body {
  border: 1px solid #fff; }

.hui_box_header {
  height: 56px;
  background-color: #d1dae5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1dae5), to(#b6c0cc));
  background-image: -webkit-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: -moz-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: -ms-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: -o-linear-gradient(top, #d1dae5, #b6c0cc);
  background-image: linear-gradient(top, #d1dae5, #b6c0cc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1dae5', endColorstr='#b6c0cc');
  border: 1px solid #b6c1d0;
  border-color: #c4cbd4 #acb2bb #a3aab3;
  font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.28), inset -1px 0 0 rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(0, 0, 0, 0.1);
  border-width: 1px 0; }

.hui_box_title {
  float: left;
  height: 58px;
  line-height: 58px;
  font-size: 12pt;
  color: #44474c;
  font-weight: normal;
  padding: 0px 15px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px; }

.hui_box_header_toolbar .hui_box_title {
  float: right; }

.hui_box_header .hui_toolbar {
  float: left; }

.hui_box_header a.hui_toolbar_icon_selected {
  background-color: rgba(119, 142, 169, 0.5); }

/***************************** Rounded ************************/
.hui_box_rounded {
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-top-color: #e6e6e6; }


.hui_buttons {
  font-size: 0;
  line-height: 0;
  white-space: nowrap; }
  .hui_buttons .hui_button {
    margin-right: 4px; }
  .hui_buttons_right {
    text-align: right; }
    .hui_buttons_right .hui_button {
      margin: 0px 0px 0px 4px; }
  .hui_buttons_center {
    text-align: center; }
    .hui_buttons_center .hui_button {
      margin: 0px 2px 0px 2px; }

/**************** Standard button ************/
.hui_button {
  color: #004a80;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  white-space: nowrap;
  background-color: #fcfcfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfd), to(#e3e7ea));
  background-image: -webkit-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -moz-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -ms-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: -o-linear-gradient(top, #fcfcfd, #e3e7ea);
  background-image: linear-gradient(top, #fcfcfd, #e3e7ea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#e3e7ea');
  border: 1px solid #ccc;
  border-color: #e3e3e3 #ccc #bbb;
  border-radius: 3px;
  padding: 0 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  box-sizing: content-box;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5); }
  .hui_button:hover {
    border-color: #d2d2d2 #b7b7b7 #9c9c9c;
    background: linear-gradient(#f9f9f9, #d5dade); }
  .hui_button:active {
    border-color: #adadad #b7b7b7 #bfbfbf;
    background: linear-gradient(#d1d4d6, #f1f2f3);
    background: linear-gradient(#f1f2f3, #d1d4d6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    line-height: 26px; }
  .hui_button:focus {
    border: 1px solid #0069ff;
    box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
    outline: none; }
  .hui_button.hui_is_highlighted {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 5px #6ede4a;
    border-color: #adcaba #9fc1b1 #99ada2; }
    .hui_button.hui_is_highlighted:focus {
      box-shadow: inset 0 0 5px #6ede4a, 0 0 2px #0069ff, inset 0 0 2px #0069ff;
      border-color: #0069ff; }
  .hui_button.hui_is_disabled, .hui_button.hui_is_disabled:hover {
    cursor: default;
    background: #f9f9f9;
    color: #999;
    border: 1px solid #e3e3e3;
    box-shadow: none; }
  .hui_button_small {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 7px; }
    .hui_button_small:active {
      line-height: 21px; }
    .hui_button_small .hui_button_icon {
      margin-top: 2px; }
  .hui_button_mini {
    font-size: 9px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
    .hui_button_mini:active {
      line-height: 17px; }
  .hui_button_tiny {
    font-size: 8px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    box-shadow: none; }
    .hui_button_tiny::active {
      line-height: 15px; }

.hui_button_icon {
  padding: 0px;
  margin: 4px 5px 0px -2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top; }

.hui_button_icon_notext {
  margin: 4px -3px 0px -3px; }

.hui_button:hover .hui_button_icon {
  background-position: 0 -16px; }

.hui_button_light {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
  background-image: -moz-linear-gradient(top, #ffffff, #f6f6f6);
  background-image: -ms-linear-gradient(top, #ffffff, #f6f6f6);
  background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);
  background-image: linear-gradient(top, #ffffff, #f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
  color: #333;
  box-shadow: none; }
  .hui_button_light:focus {
    border: 1px solid #0069ff;
    box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
    outline: none; }
  .hui_button_light:active {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#fafafa));
    background-image: -webkit-linear-gradient(top, #eeeeee, #fafafa);
    background-image: -moz-linear-gradient(top, #eeeeee, #fafafa);
    background-image: -ms-linear-gradient(top, #eeeeee, #fafafa);
    background-image: -o-linear-gradient(top, #eeeeee, #fafafa);
    background-image: linear-gradient(top, #eeeeee, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#fafafa'); }
  .hui_button_light:hover {
    border-color: #dadada;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #fafafa, #eeeeee);
    background-image: -moz-linear-gradient(top, #fafafa, #eeeeee);
    background-image: -ms-linear-gradient(top, #fafafa, #eeeeee);
    background-image: -o-linear-gradient(top, #fafafa, #eeeeee);
    background-image: linear-gradient(top, #fafafa, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eeeeee'); }

/** Icon **/
a.hui_button_light em.hui_button_icon {
  margin-left: -6px;
  margin-right: 5px;
  margin-top: 5px; }

a.hui_button_light em.hui_button_icon_notext {
  margin-right: -5px; }

.hui_context_dark .hui_button {
  border-color: #232323 #040404 #000000;
  background-color: #5c5f63;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5c5f63), to(#4f5152));
  background-image: -webkit-linear-gradient(top, #5c5f63, #4f5152);
  background-image: -moz-linear-gradient(top, #5c5f63, #4f5152);
  background-image: -ms-linear-gradient(top, #5c5f63, #4f5152);
  background-image: -o-linear-gradient(top, #5c5f63, #4f5152);
  background-image: linear-gradient(top, #5c5f63, #4f5152);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5f63', endColorstr='#4f5152');
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px #666, inset 0 1px 0 #888;
  border-radius: 3px; }
  .hui_context_dark .hui_button:focus {
    border-color: #65a5ff;
    box-shadow: 0 0 2px #65a5ff, inset 0 0 2px #65a5ff; }
  .hui_context_dark .hui_button:hover {
    box-shadow: 0 0 1px #666, inset 0 1px 0 #666;
    background-color: #505256;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#505256), to(#424445));
    background-image: -webkit-linear-gradient(top, #505256, #424445);
    background-image: -moz-linear-gradient(top, #505256, #424445);
    background-image: -ms-linear-gradient(top, #505256, #424445);
    background-image: -o-linear-gradient(top, #505256, #424445);
    background-image: linear-gradient(top, #505256, #424445);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#505256', endColorstr='#424445'); }
  .hui_context_dark .hui_button:active {
    box-shadow: 0 0 1px #666, inset 0 2px 6px rgba(0, 0, 0, 0.3);
    border-color: #000; }
  .hui_context_dark .hui_button.hui_is_highlighted {
    /*
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 3px #66b94b;
    border-color: #2c3831 #222b26 #232b27;
    @include vertical-gradient(#36634e, #2b4e38);*/
    box-shadow: inset 0 1px 0px #2ea2ff, 0 0px 1px rgba(255, 255, 255, 0.35);
    border-color: #002752 #003361 #000000;
    background-color: #0a71ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0a71ec), to(#005694));
    background-image: -webkit-linear-gradient(top, #0a71ec, #005694);
    background-image: -moz-linear-gradient(top, #0a71ec, #005694);
    background-image: -ms-linear-gradient(top, #0a71ec, #005694);
    background-image: -o-linear-gradient(top, #0a71ec, #005694);
    background-image: linear-gradient(top, #0a71ec, #005694);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a71ec', endColorstr='#005694'); }
    .hui_context_dark .hui_button.hui_is_highlighted:focus {
      border-color: #65a5ff;
      box-shadow: 0 0 2px #65a5ff, inset 0 0 2px #65a5ff; }
    .hui_context_dark .hui_button.hui_is_highlighted:hover {
      box-shadow: inset 0 1px 0px #1597ff, 0 0px 1px rgba(255, 255, 255, 0.35);
      background-color: #0965d4;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#0965d4), to(#00477b));
      background-image: -webkit-linear-gradient(top, #0965d4, #00477b);
      background-image: -moz-linear-gradient(top, #0965d4, #00477b);
      background-image: -ms-linear-gradient(top, #0965d4, #00477b);
      background-image: -o-linear-gradient(top, #0965d4, #00477b);
      background-image: linear-gradient(top, #0965d4, #00477b);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0965d4', endColorstr='#00477b'); }
    .hui_context_dark .hui_button.hui_is_highlighted:active {
      box-shadow: 0 0 1px #666, inset 0 2px 6px rgba(0, 0, 0, 0.3); }
  .hui_context_dark .hui_button.hui_is_disabled, .hui_context_dark .hui_button.hui_is_disabled:hover {
    border-color: #111;
    background: #333;
    color: #999;
    box-shadow: none; }

/** Small bar **/
a.hui_button_bar {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: none;
  height: 26px;
  line-height: 26px;
  font-family: Georgia,serif;
  font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
  font-size: 14px;
  border-color: #ccc #d7d7d7 #ccc;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -ms-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -o-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: linear-gradient(top, #fdfdfd, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e6e6e6'); }

a.hui_button_bar span {
  background: none;
  color: #333; }

a.hui_button_small_bar, a.hui_button_small_bar span {
  height: 20px;
  line-height: 20px; }

a.hui_button_small_bar span span {
  margin: 0;
  padding: 0 7px;
  font-size: 11px;
  line-height: 17px;
  text-shadow: 0 1px 0 #fff; }


form.hui_formula
{
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	text-align: left;
}

div.hui_formula_fieldset
{
	border: 1px solid #ddd;
	padding: 10px 10px 5px;
	margin-top: 4px;
	background: #fff;
}

strong.hui_formula_fieldset
{
	position: absolute;
	margin-top: -19px;
	background: #fff;
	font-size: 12px;
	padding: 0 4px;
	margin-left: -2px;
	color: #666;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.hui_window strong.hui_formula_fieldset
{
	background: #E7E7E7;
}

div.hui_window div.hui_formula_fieldset
{
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #DDDDDD inset;
}

.hui_formula_header
{
	color: #0077cd;
	font-size: 13pt;
	padding-bottom: 5px;
}

table.hui_formula_fields
{
	width: 100%;
	font-size: 0;
  border-collapse: collapse;
}

p.hui_formula_field_hint
{
	font-size: 9px;
	color: #999;
	margin: -5px 0 0 3px;
}

table.hui_formula_fields_above
{
	border-spacing: 0px;
}

form.hui_formula table.split
{
	border-spacing: 5px 0px;
}

td.hui_fields_buttons
{
	border-spacing: 0px;
}

label.hui_formula_field
{
	color: #004A80;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	display: inline-block;
	padding-left: 2px;
}


table.hui_formula_fields_above label.hui_formula_field
{
	line-height: 13px;
	display: inline-block;
	padding-left: 2px;
}

table.hui_formula_fields th label.hui_formula_field
{
	font-size: 9pt;
}

table.hui_formula_fields th
{
	width: 1%;
	vertical-align: top;
	padding: 5px 5px 0px 0px;
	text-align: right;
	white-space: nowrap;
}

table.hui_formula_fields th.hui_formula_middle
{
	vertical-align: middle;
	line-height: normal;
	padding-bottom: 5px;
	padding-top: 0;
}

table.hui_formula_fields_above th
{
	text-align: left;
}

table.hui_formula_fields_above div.hui_tokenfield
{
	margin-bottom: 2px;
}

form.hui_formula select
{
	font-size: 9pt;
	margin: 0;
	width: 100%;
}

.hui_formula_text
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: -1px;
	font-size: 9pt;
	width: 100%;
	background: transparent;
	font-family: Verdana,sans-serif;
	outline: none;
}

div.hui_textarea_dummy
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 9pt;
	line-height:16px;
	position: absolute;
	visibility: hidden;
	left: -10000px;
	top: -10000px;
	word-wrap: break-word;
	padding: 1px 0px;
}

input.hui_formula_text
{
	height: 18px;
}

span.hui_formula_text_multiline
{
	display: block;
	font-size: 0;
}

textarea.hui_formula_text
{
	text-indent: 0;
	line-height: 16px;
	padding: 0px;
	margin: 0;
	padding: 1px 0px;
	resize: none;
	overflow-x: hidden;
}

textarea.hui_formula_text::-webkit-scrollbar
{  
	height: 14px;
	width: 14px;
}  
  
textarea.hui_formula_text::-webkit-scrollbar-thumb
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(rgb(240, 240, 240)));  
    border-radius: 7px;
	border: 1px solid #ddd;
}

td.hui_formula_field
{
	padding: 0;
}

div.hui_formula_field_body
{
	padding-bottom: 5px;
	font-size: 0;
	line-height: 0;
}

div.hui_formula_field_compact div.hui_formula_field_body
{
	padding: 0;
}

/************************************** Buttons *********************************/

form.hui_formula .hui_buttons
{
	text-align: right;
}

.hui_formula .hui_button
{
	margin-left: 4px;
	margin-right: 0px;
}

.hui_formula .hui_button_light
{
	margin-left: 4px;
	margin-right: 2px;
}

/******************************* Object list **************************/

table.hui_objectlist
{
	margin-top: 1px;
	width: 100%;
}

table.hui_objectlist th
{
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	color: #004A80;
	font-weight: normal;
	padding-left: 4px;
}

table.hui_objectlist th.hui_objectlist1
{
	padding-left: 2px;
}

.hui_objectlist tbody input.text
{
	border-color: #ccc #ddd #eee #ddd;
	width: 100%;
}
.hui_objectlist tbody td
{
	padding: 0px 0px 0px 2px;
	vertical-align: top;
}

.hui_objectlist tbody td.first
{
	padding-left: 0px;
}

span.hui_datetime {
	display: block;
}

.hui_datetime_selector
{
	position: absolute;
	margin-left: -19px;
	margin-top: 6px;
	font-size: 0;
	cursor: pointer;
	background: url('../icons/input/datetime14.png') no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
}

a.hui_datetime span,
body .hui_context_dark a.hui_datetime span
{
}

.hui_datetime_selector:hover
{
	background-position: 0 -14px;
}

/************************* Override for windows *******************/



div.hui_window label.hui_formula_field
{
	background: rgb(231,231,231);
}

div.hui_formula_fieldset label.hui_formula_field,
div.hui_window_news label.hui_formula_field
{
	background: none;
}

div.hui_window_light label.hui_formula_field
{
	color: #004A80;
	background: none;
}


body .hui_context_dark label.hui_formula_field, 
.hui_context_dark .hui_checkbox, 
.hui_context_dark span.hui_radiobutton_label, 
.hui_context_dark th.hui_objectlist
{
	color: #fff;
	background: none;
}


.hui_textinput {
  color: #333;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #bbb #ccc #e3e3e3;
  border-radius: 2px;
  padding: 0 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  box-sizing: border-box;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
  width: 100%; }
  .hui_textinput:focus {
    border: 1px solid #0069ff;
    box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
    outline: none; }

input.hui_textinput {
  height: 26px; }
  input.hui_textinput.hui_is_small {
    height: 22px;
    font-size: 11px; }

textarea.hui_textinput {
  height: 38px;
  padding: 3px 5px;
  resize: vertical; }



div.hui_message
{
	position: absolute;
	top: 40%;
	left: 50%;
	height: 40px;
	background: url('../gfx/overlay_24.png') left top no-repeat;
	padding-left: 7px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	line-height: 38px;
	font-size: 14px;
	color: #fff;
}

div.hui_message div
{
	background: url('../gfx/overlay_24.png') right -40px no-repeat;
	padding-right: 7px;
	height: 40px;
}

div.hui_message div div
{
	background: url('../gfx/overlay_24.png') left -80px repeat-x;
	padding: 0px 10px;
}

span.hui_message_busy
{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../gfx/progress/spinner_grey_24.gif');
	vertical-align: middle;
	margin-left: -5px;
	margin-top: -4px;
	margin-right: 5px;
}

div.hui_message span.hui_icon
{
	margin-left: -5px;
	margin-top: -4px;
	margin-right: 4px;
}

.hui_searchfield {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #bbb #ccc #e3e3e3;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  box-sizing: border-box;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 22px;
  border-radius: 11px;
  position: relative;
  padding: 0 4px 0 20px;
  font-size: 0; }
  .hui_searchfield:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: url("../gfx/search.svg") no-repeat;
    background-size: contain;
    top: 4px;
    left: 4px;
    opacity: .5; }
  .hui_searchfield_input {
    border: none;
    background: none;
    font-size: 12px;
    height: 16px;
    margin: 2px 0 0;
    padding: 0;
    width: 100%;
    outline: none;
    font-family: inherit; }
  .hui_searchfield_reset {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    display: none;
    font-size: 0;
    background: url("../gfx/reset.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: .5; }
    .hui_searchfield_reset:hover {
      opacity: 1; }
    .hui_searchfield-dirty .hui_searchfield_reset {
      display: block; }
  .hui_searchfield_placeholder {
    position: absolute;
    font-style: normal;
    color: #999;
    font-size: 11px;
    line-height: 16px;
    left: 20px;
    height: 16px;
    top: 2px; }
    .hui_searchfield-dirty .hui_searchfield_placeholder, .hui_searchfield-focus .hui_searchfield_placeholder {
      display: none; }
  .hui_searchfield-adaptive {
    width: 100%;
    min-width: 30px; }
  .hui_searchfield-focus {
    border: 1px solid #0069ff;
    box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
    outline: none; }
  .hui_searchfield-dirty {
    background: #fff066; }


.hui_checkbox {
  font-size: 10pt;
  line-height: 16px;
  cursor: pointer;
  color: #004a80;
  display: inline-block;
  outline: none;
  text-decoration: none;
  vertical-align: middle; }
  .hui_checkbox_button {
    width: 16px;
    height: 16px;
    background-color: #fcfcfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfd), to(#e3e7ea));
    background-image: -webkit-linear-gradient(top, #fcfcfd, #e3e7ea);
    background-image: -moz-linear-gradient(top, #fcfcfd, #e3e7ea);
    background-image: -ms-linear-gradient(top, #fcfcfd, #e3e7ea);
    background-image: -o-linear-gradient(top, #fcfcfd, #e3e7ea);
    background-image: linear-gradient(top, #fcfcfd, #e3e7ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfd', endColorstr='#e3e7ea');
    border: 1px solid #ccc;
    border-color: #e3e3e3 #ccc #bbb;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
    vertical-align: middle; }
  .hui_checkbox_label {
    margin-left: 5px;
    vertical-align: middle; }
  .hui_checkbox:hover .hui_checkbox_button {
    border-color: #d2d2d2 #b7b7b7 #9c9c9c;
    background: linear-gradient(#f9f9f9, #d5dade); }
  .hui_checkbox:focus .hui_checkbox_button {
    border: 1px solid #0069ff;
    box-shadow: 0 0 2px #0069ff, inset 0 0 2px #0069ff;
    outline: none; }
  .hui_checkbox:active .hui_checkbox_button {
    border-color: #9c9c9c #b7b7b7 #aeaeae;
    background: linear-gradient(#f1f2f3, #d1d4d6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  .hui_checkbox_selected .hui_checkbox_button:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: url("../gfx/check.svg");
    background-size: contain;
    top: 2px;
    left: 2px; }


.hui_checkboxes
{
	font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

.hui_checkboxes .hui_checkbox
{
	margin: 0 10px 4px 0;
}

.hui_checkboxes_vertical .hui_checkbox
{
	display: block;
	padding: 1px 5px 0px 0px;
}

