.reader
{
	padding: 20px;
}

.reader_top {
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin: -10px -10px 10px;
}

.reader_search {
	float: left;
	width: 200px;
}

.reader_modal {
	overflow: hidden;
}

div.word_rendering
{
	font-size: 12px;
	padding: 5px;
}

div.word_rendering h1
{
	font-size: 12px;
	margin: 0;
}


div.sidebar div.block
{
	padding: 10px 10px 10px 15px;
}

div.sidebar div.block h3
{
	text-transform: uppercase;
	color: #999;
	margin: 0 0 3px;
	font-weight: 400;
	font-size: 12px;
}

div.sidebar div.block ul
{
	list-style: none;
	padding: 5px 0;
	margin: 0;
	font-size: 12px;
}

div.sidebar div.block ul li span.oo_icon
{
	color: #ccc;
}

div.sidebar div.block ul li strong
{
	font-weight: 400;
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
}

.reader_feeds {
    position: relative;
}

.reader_feeds_add {
    color: #999;
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
}

.reader_feeds_add:hover {
    color: #333;
}

.reader_feeds:hover .reader_feeds_add {
    display: block;
}


/* Actions */

.reader_actions
{
	float: right;
}

.reader_action {
	margin-left: 10px;
	color: #999;
	text-decoration: none;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}

.reader_action:hover {
	color: #000;
}

.reader_action_text {
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
	margin-left: 5px;
}

.reader_actions .hui_button
{
	margin-left: 5px;
}


/* Hacks */

.reader_list div.hui_list td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.reader_list div.hui_list tr.hui_list_selected,
.reader_list div.hui_list tr.hui_list_selected:hover
{
	background: #f6f8ff;
}

.reader_list p.hui_list_line
{
	font-weight: 300;
	font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;
	font-size: 13pt;
	color: #333;
}

.reader_list p.hui_list_minor
{
	font-weight: 400;
	font-size: 9pt;
	color: #999;	
}

.reader_list div.hui_list tr.hui_list_selected p.hui_list_line
{
	color: #000;
	text-shadow: none;
}

.reader_list div.hui_list tr.hui_list_selected p.hui_list_dimmed
{
	color: rgba(0,0,0,.5);
}

.reader_list_words {
	font-size: 10px;
	margin: 6px 0 0 0;
	text-align: right;
}

.reader_list_word
{
	border-radius: 8px;
	padding: 0 6px;
	margin-right: 2px;
	height: 14px;
	display: inline-block;
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,.04);
	line-height: 14px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

.reader_list_word:hover {
	background: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.07);
}

.hui_list_selected .reader_list_word
{
	text-shadow: none;
}