@import 'shared';

@include when {
  .oo_filters_bar {
    font-size: 0;
    margin: 5px -5px 5px 0;

    &_item {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 24px 0 7px;
      color: #666;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      border-radius: 3px;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 1px;
        
      @include icon-before('\e911') {
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -8px;
        font-size: 9px;
        padding: 4px 6px;
        color: #666;
      }
          
      &.is-active {
        background: #f3f3f3;
        border: none;
        color: #000;
        font-weight: bold;
        letter-spacing: 0;
        
        &:before {
          color: inherit;
          background: inherit;
          font-weight: normal;
        }
      }

      &.is-open,
      &.is-open.is-active {
        background: #333;
        color: #fff;
      
        &:before {
          content: '\e914';
          color: #fff;
        }
      }
    }
  }
  
  .oo_filters_body {
    overflow: hidden;
    height: 0;
    position: relative;
    transition: height .3s;
    margin: 0 -10px;
    background: #333;
    margin: 0 -10px;
    box-shadow: inset 0 1px 6px #000;
    transform: translate3d(0,0,0);
  }
  
  .oo_filters {
    
    &_filter {
      opacity: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 0;
      transition: opacity .3s;
      padding: 10px;
      @include border-box;
      
      &.is-visible {
        opacity: 1;
        z-index: 1;
      }
    }
    
    &_option {
      display: inline-block;
      font-size: 15px;
      color: #fff;
      padding: 0 5px;
      text-decoration: none;
      border-radius: 3px;
      line-height: 22px;
      height: 22px;
      border: 1px solid transparent;
      
      &-index {
        text-transform: uppercase;
      }
    
      &:hover {
        background: #f3f3f3;
      }
      
      &.is-selected {
        background: #ddd;
        border: 1px solid #ddd;
        color: #000;
      }
      
      &-any {
        text-transform: none;

        &.is-selected {
          background: #666;
          border: 1px solid #666;
          color: #fff;
        }
      }
    }

    &_title {
      display: none;
    }
  }
  
  .oo_filters_intro {
    margin: 40px 0;
    text-align: center;
    font-size: 0;
    
    &_title {
      border-bottom: 1px solid #eee;
      height: 0;
      margin-bottom: 20px;
      
      &_text {
        background: #fff;
        position: relative;
        display: inline-block;
        padding: 0 5px;
        line-height: 20px;
        top: -10px;
        color: #999;
        font-style: italic;
        font-size: 16px;
      }
    }
    
    &_option {
      display: inline-block;
      font-size: 16px;
      color: #333;
      padding: 0 7px;
      text-decoration: none;
      border-radius: 3px;
      line-height: 22px;
      height: 22px;

      &-index {
        font-size: 20px;
        padding: 0 6px;
      }
    
      &:hover {
        background: #f3f3f3;
      }
    }
  }
}

@include when(( width: 760px )) {
  .oo_filters_bar {
    display: none;
  }
  
  .oo_filters_body {
    overflow: visible;
    height: auto !important;
    position: static;
    background: none;
    margin: 0;
    box-shadow: none;
  }
  
  .oo_filters_filter {
    opacity: 1;
    position: static;
    transition: opacity 0s;
  	padding: 0;
    
    &-index {
      margin-top: 10px;
    }

    &-block {
      float: right;
      width: 40%;
      clear: right;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-left: 20px;
    }
  }
  .oo_filters {
    &_option {
      color: #666;

      &.is-selected {
        background: #333;
        border: 1px solid #333;
        color: #fff;
      }
      
      &-any.is-selected {
        background: #eee;
        border: 1px solid #ddd;
        color: #000;
      }
    }    
  }

  .oo_filters {
    
    &_title-block {
      display: block;
      border-bottom: 1px solid #eee;
      height: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  
  .oo_filters_title_text {
    display: inline-block;
    line-height: 20px;
    background: #fff;
    padding: 0 6px;
    color: #999;
    top: -10px;
    position: relative;
    font-size: 16px;
    font-style: italic;
  }
}