@import 'shared';

@include when {
  .oo_topbar {

  	font-family: $default-font-family;
  	overflow: hidden;
  	border-bottom: 1px solid #fafafa;
  	height: 30px;
  	font-size: 0;
    white-space: nowrap;
    @include transition(background 1s,border-color 1s, opacity 1s, box-shadow 1s);
  
    &:hover {
    	background: #fff;
    	box-shadow: 0 0 4px rgba(0,0,0,.1);
    	border-bottom: 1px solid #ddd;    
    }
  
    &_logo
    {
    	display: inline-block;
    	font-weight: 300;
    	height: 30px;
    	line-height: 30px;
    	padding: 0 5px 0 10px;
    	font-size: 12pt;
    	color: #bbb;
    	text-decoration: none;
      @include transition(color .3s);
    
    
      &:hover {
      	background: #f3f3f3;
        color: #333;      
      }
    
      &_icon {
      	font-family: 'OnlineObjects';
      	font-style: normal;
      	font-weight: normal;
      	-webkit-font-smoothing: antialiased;
      	margin: 4px 0 0 -2px;
      	vertical-align: top;
      	display: inline-block;
      	font-size: 22px;
      	width: 22px;
      	height: 22px;
      	line-height: 1;
      }
    
      &_text {
        display: none;
      }
    }

    &_item {
      display: inline-block;
    	font-size: 11pt;
    	height: 30px;
    	line-height: 30px;
    	padding: 0 5px;
      text-decoration: none;
    	color: #bbb;
    	font-weight: 300;
      
      &:hover {
        background: #f3f3f3;
      	color: #333;
      }
    }
  }
  
  .oo_topbar_menu
  {
  	display: inline-block;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  
    &_item {
      display: inline-block;
    }

    &_link
    {
    	text-decoration: none;

      &.is-selected {
      	font-weight: 400;
      	color: #333;
      }
    }
  }


  .oo_topbar_right
  {
  	list-style: none;
  	margin: 0;
  	padding: 0;
	
  	font-size: 11pt;
  	right: 0;
  	top: 0;
  	height: 30px;
  	line-height: 30px;
  	position: absolute;
  
    &_item {
      display: inline-block;
    }  
  }

  .oo_topbar_user
  {
  
    &_icon {
    	margin-right: 4px;
    	margin-top: 7px;
    	vertical-align: top;
    }
  }
  
  .oo_topbar_inbox {
    height: 20px;
    background: #eee;
    line-height: 20px;
    font-size: 11px;
    vertical-align: top;
    margin-top: 6px;
    border-radius: 10px;
    padding: 0 5px;
    margin-right: 3px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    color: #999;

    &:hover {
      background: #ddd;
    }
  }

  /** Info panel **/

  .oo_topbar_info
  {
  	overflow: hidden;
  	font-family: $default-font-family;
  
    &_busy {
    	height: 60px;
    	background: url('../../../hui/gfx/progress/spinner_white_24.gif') center center no-repeat;    
    }

    &_photo {
    	width: 60px;
    	height: 60px;
    	float: left;
    	font-size: 0;
      
      &_img {
      	width: 60px;
      	height: 60px;	
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        overflow: hidden;
        background: #eee;
      }
    }
    
    &_content {
    	margin-left: 70px;
    	padding-bottom: 10px;
    }
    
    &_name {
    	font-size: 14px;
    	font-weight: 400;
    	margin: -3px 0 0;
    }

    &_username {
    	color: #666;
      margin: 0;
      font-size: 12px;
    }

    &_account {
      margin: 3px 0 0;
      font-size: 12px;
    }

    &_buttons {
    	font-size: 0;
    	text-align: right;
      
      a {
        margin-left: 5px;
      }
    }
  }

  /************ Login *************/

  .oo_topbar_login_success
  {
  	height: 50px;
  	font-size: 12pt;
  	color: #999;
  	text-align: center;
  	line-height: 50px;
  }

  .oo_topbar_forgot
  {
  	font-size: 9pt;
  	float: right;
  	margin-top: 10px;

    &_intro
    {
    	font-size: 10pt;
    	line-height: 12pt;
    	text-align: center;
    	margin: 5px 0 20px;
    	color: #333;
    }
  }

}

@include when(( width: 500px )) {
  .oo_topbar {
    &_item {
      padding: 0 10px;
    }
    &_logo {
      &_text {
        display: inline-block;
      	font-weight: 200;
      	letter-spacing: 1px;
        margin-left: 5px;
      }
      &_part {
      	font-weight: 400;      
      }
    }
  }
}
