.logout
{
	width: 34px;
	height: 33px;
	background: url('../gfx/logout.png');
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 1;
}
div.logout:hover
{
	background: url('../gfx/logout_hover.png');
}

.private
{
	width: 34px;
	height: 33px;
	background: url('../gfx/private.png');
	position: fixed;
	top: 10px;
	right: 50px;
	cursor: pointer;
	z-index: 1;
}
div.private:hover
{
	background: url('../gfx/private_hover.png');
}

.activate
{
	width: 34px;
	height: 33px;
	background: url('../../gfx/activator.png');
	position: fixed;
	top: 10px;
	right: 90px;
	cursor: pointer;
	z-index: 1;
}
div.activate:hover
{
	background: url('../../gfx/activator_hover.png');
}

.deactivate
{
	width: 34px;
	height: 33px;
	background: url('../../gfx/deactivator.png');
	position: fixed;
	top: 10px;
	right: 90px;
	cursor: pointer;
	z-index: 1;
}

div.deactivate:hover
{
	background: url('../../gfx/deactivator_hover.png');
}

body.editor_mode
{
	padding-top: 0px;
}


/************************* Window ******************/

.in2igui_panel .chooser
{
	background-color: #b9bec6;
	margin: 10px 10px 0px;
	overflow: hidden;
	padding: 5px 10px;
}

.in2igui_panel .chooser .item
{
	background-image: url('../gfx/chooser_item_bg.png');
	width: 96px;
	height: 124px;
	float: left;
	margin: 10px 5px;
}

.in2igui_panel .chooser .item div
{
	margin-left: 2px;
	width: 92px;
	height: 120px;
	cursor: pointer;
}