div.logout
{
	width: 34px;
	height: 33px;
	background: url('../gfx/controls.png') 0px -198px;
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 1;
}

div.logout:hover
{
	background-position: 0px -231px;
}

div.private
{
	width: 34px;
	height: 33px;
	background: url('../gfx/controls.png') 0px -132px;
	position: fixed;
	top: 10px;
	right: 90px;
	cursor: pointer;
	z-index: 1;
}

div.private:hover
{
	background-position: 0px -165px;
}

div.activate
{
	width: 34px;
	height: 33px;
	background: url('../gfx/controls.png');
	position: fixed;
	top: 10px;
	right: 50px;
	cursor: pointer;
	z-index: 1;
}

div.activate:hover
{
	background-position: 0px -33px;
}

div.deactivate
{
	width: 34px;
	height: 33px;
	background: url('../gfx/controls.png') 0px -66px;
	position: fixed;
	top: 10px;
	right: 50px;
	cursor: pointer;
	z-index: 1;
}

div.deactivate:hover
{
	background-position: 0px -99px;
}

body.editor_mode
{
	padding-top: 0px;
}