body.hui {
  font-family: 'Public Sans', Arial, sans-serif;
  margin: 20px 10px;
  background: #fff;
}

.main {
  text-align: center;
}

.logo {
  background: url('gfx/logo_outline.svg') 50% no-repeat;
  background-size: contain;
  height: 35vh;
  width: 60vw;
  margin: 0 auto;
}

h1 {
  font-weight: 200;
  font-size: 48px;
  font-size: 6vw;
  line-height: 1;
  margin: 20px 0 10px;
  color: rgba(255,255,255,0);
  letter-spacing: -10px;
  text-align: center;
}

h1 span {
  display: inline-block;
}

h1 span:first-letter {
  font-weight: 700;
  color: #000;
  z-index: 1;
  position: relative;
}

.logo {
  color: #999;
  font-size: 20px;
}
.logo strong {
  color: #000;
  text-transform: uppercase;
}

.result {
  display: block;
  line-height: 1;
  padding: 5px;
  color: inherit;
}