html
{
	height:100%;
}

body
{
	font-family: sans-serif;
	background: url('../gfx/pinstripes.png');
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

div.page
{
	padding: 10px;
}

h1.header
{
	color: rgb(76,86,108);
    text-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0;
	margin: 0px 0px 5px;
	font-size: 12pt;
	text-align: center;
}

a.button
{
	display: block;
	background: #fff;
	border: 1.5px solid #999;
	height: 44px;
	line-height: 44px;
	padding: 0px 10px;
	font-weight: bold;
	-webkit-border-radius: 10px;
}

a.button.disabled
{
	opacity: .5;
	color: #666;
}

a.button strong
{
	display: block;
	background: url('../gfx/white_button.png') right top no-repeat;
	height: 44px;
}

div.buttonlist a.button
{
	-webkit-border-radius: 0px;
	border-bottom-width: 0px;
}

div.buttonlist a.button:last-of-type
{
	border-bottom-width: 1px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

div.buttonlist a.button:first-of-type
{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

a.button.touched
{
	background-color: #3875d7;
	border-color: #3875d7;
	color: #fff;
	background: #fff url('../gfx/white_button.png') left -88px repeat-x;
	border-color: #194fdb;
}

a.button.touched strong
{
	background-position: right -44px;
}

a.button span.icon
{
	float: left;
	width: 32px;
	height: 32px;
	position: relative;
	top: 6px;
	margin-right: 5px;
}