body
{
	background: #eee;
	padding: 0px;
	margin: 0px;
	min-height:100%;
}

.header
{
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 12pt;
	line-height: 14pt;
	color: #333;
	height: 18px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

ol.navigation
{
	font-size: 13pt;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ol.navigation li
{
	display: inline;
}

ol.navigation a
{
	color: #333;
	padding: 2px 4px;
	margin: 0 3px;
	text-decoration: none;
}

.header a
{
	text-decoration: none;
	color: #3e5b66;
}

.header a.selected
{
	font-weight: bold;
}

div.part_header h1
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18pt;
	margin: 0px;
	color: #333;
	font-weight: normal;
}

div.part_html
{
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 11pt;
}

div.gallery div.part_header h1, div.gallery div.part_html
{
	text-align: center;
}

div.gallery div.part_header, div.gallery div.part_html
{
	width: 60%;
	margin: 0 auto;
}

div.gallery div.part_header h1, div.gallery div.part_html
{
	text-align: center;
}