div.words_statistics h3
{
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	padding: 0 5px;
	margin: 20px -5px 10px;
}

span.words_statistics_count
{
	color: #ccc;
	position: relative;
	top: -2px;
	font-size: 16px;
	margin-left: 5px;
}

span.words_statistics_count strong
{
	margin: 0 3px;
	font-weight: normal;
	color: #333;
	position: relative;
	font-size: 12px;
	line-height: 13px;
	display: inline-block;
	letter-spacing: 1px;
}

div.words_statistics ul
{
	color: #eee;
	padding: 0px 0 10px 20px;
	margin: 0;
}

div.words_statistics li
{
	margin: 0 0 5px;
}

div.words_statistics ul span.words_statistics_count
{
	font-size: 12pt;
	position: relative;
	top: -1px;
}