

div.words_import p.words a
{
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
}

div.words_import p.words a span
{
	color: #333;
}

div.words_import p.words a.known
{
	color: transparent;
}

div.words_import p.words a.unknown
{
	color: #faa;
}

div.words_import p.words a.unknown span
{
	color: #a00;
}

div.words_import p.words a.highlighted
{
	-webkit-box-shadow: 0 0 89px white, 0 0 89px white, 0 0 89px white;
	position: relative;
}

div.words_import p.words a.highlighted span,
div.words_import p.words a.highlighted
{
	color: #36f;
}

div.words_import p.words a.known.foreign
{
	text-decoration: line-through;
	color: red;
}