email.host=mail.myhost.com
email.username=myuser
email.password=mypass
email.defaultSenderAddress=my@mail.com
email.defaultSenderName=My Name

baseUrl=www.myhost.com
basePath=
storagePath=/path/to/storage
rootDomain=myhost.com
port=

imagemagick.path=/opt/local/bin
graphviz.path=/opt/local/bin

developmentMode=false
development.user=public
optimizeResources=true

analytics.code=

startScheduling=true