h1
{
	margin: -3px -10px 10px;
	font-family: 'Helvetica Neue','Hevetica',Arial,sans-serif;
	font-weight: 100;
	line-height: 24px;
	border-bottom: 1px solid #eee;
	padding: 0 10px 12px;
}

p.property
{
	font-size: 11pt;
	font-weight: 200;
}

p.property strong
{
	font-weight: 200;
	color: #999;
}