body.hui
{
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#57a), to(rgb(20, 30, 50)));
	background: -moz-linear-gradient(top, #57a, rgb(20, 30, 50));
	background: url('../../../hui/gfx/backgrounds/blueprint.png');
}

div.import
{
	position: absolute;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 5px;
	font-size: 11px;
	color: #fff;
	background: rgba(255,255,255,.05);
	border: 2px dashed rgba(255,255,255,.5);
}

div.top_right
{
	position: absolute;
	top: 3px;
	right: 3px;
}

div.widget
{
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;	
}

div.widget_nodrag
{
	cursor: default;
}

div.widget_nodrag h1, div.widget_nodrag p
{
	cursor: text;
}

div.widget_moving
{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

div.widget_image
{
	width: 300px;
	position: absolute;
	height: 100px;
	padding: 10px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,20,100,.2);
	box-shadow: 0 3px 20px rgba(0,20,100,.3);
	border-radius: 3px;
}

div.widget_image img
{
	position: absolute;
}

div.widget_image_info
{
	margin-left: 110px;
}

div.widget_image_info h1
{
	margin: 0;
	font-size: 12px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}