ol.widget_list
{
	list-style: none;
	padding: 0 5px;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 5px;
}

ol.widget_list li
{
	border-bottom: 1px solid #eee;
	font-size: 10pt;
	padding: 5px 4px;
	font-weight: 400;
	position: relative;
}

ol.widget_list p
{
	margin: 0;
	color: #333;
}

ol.widget_list p.widget_list_minor
{
	font-size: 8pt;
	font-weight: 300;
	color: #999;
}

p.widget_list_asside
{
	position: absolute;
	right: 0px;
	padding: 2px 5px;
	font-size: 0;
	top: 50%;
	margin-top: -11px !important;
	background: #fff;
	visibility: hidden;
	border-radius: 3px;
	box-shadow: 0 0 4px #fff;
}

ol.widget_list li:hover p.widget_list_asside
{
	visibility: visible;
}

p.widget_list_asside a
{
	margin-left: 4px;
	vertical-align: top;
}






.widget_icon_info
{
	font-size: 10pt;
	font-weight: 400;
	font-family: Georgia;
	line-height: 18px;
	color: #ccc;
	border: 1px solid transparent;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	text-decoration: none;
}

ol.widget_list li:hover .widget_icon_info
{
	color: #36f;
	border: 1px solid rgba(51, 102, 255,.5);
}

ol.widget_list li:hover .widget_icon_info:hover
{
	background-color: rgba(51, 102, 255,.1);
	border: 1px solid rgba(51, 102, 255,1);
}

.widget_icon_more
{
	font-size: 8pt;
	font-weight: 400;
	font-family: Georgia;
	line-height: 10px;
	color: #bbb;
	border: 1px solid transparent;
	height: 11px;
	width: 11px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	vertical-align: text-bottom;
	top: -1px;
	position: relative;
}

ol.widget_list li:hover .widget_icon_more
{
	border-color: rgba(51, 102, 255,.4);
	color: #36f;
}

ol.widget_list li .widget_icon_more:hover
{
	background-color: rgba(51, 102, 255,.1);
	border: 1px solid rgba(51, 102, 255,1);
}


a.widget_list_move
{
	font-size: 15px; display: inline-block; vertical-align: top; height: 18px; line-height: 16px; color: #eee;cursor:ns-resize;
	/*-webkit-font-smoothing: none;*/
}

ol.widget_list li:hover a.widget_list_move
{
	color: rgba(51, 102, 255,.5);
}

ol.widget_list li a.widget_list_move:hover
{
	color: rgba(51, 102, 255,1);
}