div.dock
{
	font-family: 'Source Sans Pro','Helvetica Neue';
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding-left: 4px;
	font-size: 0;
	text-align: center;
}

div.dock a.add
{
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	width: 34px;
	height: 34px;
	color: #fff;
	vertical-align: top;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	text-decoration: none;
	font-weight: 200;
}

div.dock a.add:hover
{
	background: rgba(255,255,255,.2);
	border: 2px solid #fff;
	margin-top: -1px;
}