html, body
{
	height: 100%;
	margin: 0;
}

body
{
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#57a), to(rgb(20, 30, 50)));
	background: -moz-linear-gradient(top, #57a, rgb(20, 30, 50));
}

div.hui_keyboardnavigator
{
	position: fixed;
	top: 40%;
	width: 100%;
	min-height: 50px;
	font-family: 'Lucida Grande';
	font-size: 20px;
	text-align: center;
	-webkit-transform: scale(0);
	-webkit-transition: -webkit-transform 0.2s ease-in;
}

div.hui_keyboardnavigator span
{
	min-height: 50px;
	line-height: 50px;
	color: #fff;
	display: inline-block;
	background: -moz-linear-gradient(top, rgba(0, 0, 255,.1), rgba(0, 0, 255,.2));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 50,.1)), to(rgba(0, 0, 50,.2)));
	min-width: 100px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 5px;
	border: 2px solid rgba(255,255,255,.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,50,.1);
	padding: 0 20px;
}

div.hui_keyboardnavigator_visible
{
	opacity: 1;
	-webkit-transform: scale(1);
}