html
{
	min-height: 100%;
}

body
{
	padding: 0px;
	margin: 0px;
	background: #fff url('../gfx/sign.png') 20px bottom no-repeat;
	min-height: 100%;
}

.body
{
	overflow: hidden;
	min-height: 100%;
}


.inner_body
{
	background: url('../gfx/mountains.png') left -20px repeat-x;
	min-height: 100%;
	overflow: hidden;
}

.header
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 12pt;
	line-height: 16pt;
	color: #fff;
	height: 40px;
	margin-bottom: 20px;
}

ol.navigation
{
	font-size: 13pt;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ol.navigation li
{
	display: inline;
}

ol.navigation a
{
	padding: 2px 4px;
	margin: 0 3px;
	text-decoration: none;
}

.header a
{
	text-decoration: none;
	color: #fff;
	padding: 1px 5px 1px;
	background: #5DA2E7;
}

.header a.selected
{
	font-weight: bold;
}

div.part_header h1
{
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 24pt;
	color: #000;
}

div.part_html
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 11pt;
	color: #000;
	margin-top: 5px;
}

div.gallery div.part_header, div.gallery div.part_html
{
	width: 60%;
	margin: 0 auto;
}

div.gallery div.part_header h1, div.gallery div.part_html
{
	text-align: center;
}