body
{
	background: #fafafa;
	font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
	margin: 0;
}

/***************** Links ***************/

a.oo_link
{
	color: #ddd;
	color: rgba(0,0,0,.1);
}

a.oo_link span
{
	color: #08c;
}

div.words
{
	padding: 10px 20px 30px;
}

ul.words_sidebar_index, div.words
{
	font-family: 'Lora','Georgia','Crimson Text','Palatino','Times New Roman','Times';
}





/********** Sidebar **********/

div.words_sidebar
{
	padding: 10px;
}

div.words_sidebar h2
{
	margin: 0;
	font-weight: 200;
	color: #999;
}

ul.words_sidebar_index
{
	list-style: none;
	padding: 0;
	margin: 10px 0;
	text-align: center;
	font-size: 0;
}

ul.words_sidebar_index li
{
	display: inline-block;
}

ul.words_sidebar_index a
{
	display: block;
	width: 28px;
	text-align: center;
	font-size: 24pt;
	height: 38px;
	line-height: 38px;
	border-radius: 3px;
}
ul.words_sidebar_index a span
{
	color: #999;
}

ul.words_sidebar_index a:hover
{
	background: #eee;
}



/********** Words **********/

ul.words_word_variants
{
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

p.words_word_by
{
	margin: 5px 0 0 20px;
	font-size: 11px;
	color: #999;
	text-align: right;
}

p.words_word_info
{
	margin: 0;
}

strong.words_word_info
{
	color: #333;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
}

span.words_word_info
{
	vertical-align: middle;
	color: #999;
	font-size: 12px;
	display: inline-block;
}

span.words_word_info a
{
	color: #999;
	text-decoration: none;
}

span.words_word_info a:hover
{
	text-decoration: underline;
}

span.words_word_info span
{
	margin: 0 3px;
}

li.words_word_variant
{
	margin-bottom: 25px;
}

ul.words_word_relations
{
	list-style: none;
	margin: 5px 0;
	color: #999;
	font-size: 12px;
	margin-left: 20px;
	padding: 0;
}

a.words_word_action
{
	color: #666;
}

ul.words_word_relations li
{
	margin-bottom: 5px;
}

span.words_word_relation
{
	margin-left: 5px;
}


p.words_word_glossary
{
	margin: 5px 0 0px 40px;
	text-indent: -20px;
}

span.words_word_example
{
	font-style: italic;
	color: #666;
	font-size: 90%;
	margin: 0 10px;
	font-size: 9pt;
}

span.words_word_example_divider
{
	color: #ccc;
	font-size: 9pt;
}




h1
{
	margin: 0;
	font-weight: normal;
	font-size: 48px;
}

h2
{
	font-weight: normal;
	font-size: 24px;
	margin: 20px 0 0;
}



/**************** Paging *************/

p.words_paging
{
	color: #ddd;
	font-size: 0;
	cursor: default;
}

p.words_paging em
{
	font-style: normal;
	font-size: 12pt;
	margin: 0 3px;
}

p.words_paging a
{
	display: inline-block;
}

p.words_paging a span
{
	color: #666;
	padding: 0 3px;
	display: inline-block;
	height: 20px;
	line-height: 19px;
	border-radius: 3px;
	font-size: 12pt;
	min-width: 10px;
	text-align: center;
}

p.words_paging a:hover span
{
	color: #08C;
	border-radius: 3px;
	background: #eee;
}

p.words_paging a.words_paging_selected span
{
	color: #000;
	font-weight: bold;
	background: #ddd;
}


/***************** List ***************/

ul.words_list
{
	color: #ddd;
	font-size: 11pt;
	margin: 20px 0 20px 25px;
	padding: 0;
}

ul.words_list li
{
	margin: 5px 0;
}

span.words_list_info
{
	color: #999;
	font-size: 10px;
}

span.words_list_glossary
{
	color: #333;
	font-style: italic;
	font-size: 10pt;
}









/*************** panel ****************/

div.panel_body
{
	font-size: 12px;
	border: 1px solid #ddd;
	background: #fff;
	padding: 10px;
	font-family: Georgia;
}

div.panel_body h2
{
	margin: 0 0 10px;
	font-weight: normal;
	font-style: italic;
	color: #666;
}

div.panel_body ul.selection
{
	list-style: none;
	margin: 0 -4px -4px;
	padding: 0;
}

div.panel_body ul.selection a
{
	display: block;
	padding: 4px 6px 4px 26px;
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: pointer;
	color: #666;
	line-height: 16px;
	text-indent: -20px;
}

div.panel_body ul.selection a strong
{
	color: #000;
	font-size: 14px;
	margin-right: 3px;
}

div.panel_body ul.selection a:hover
{
	border: 1px solid #eee;
    background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fff), to(#f6f6f6));
	background: -moz-linear-gradient(top, #fff, #f6f6f6);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f6f6f6);
}

p.words a
{
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
}
p.words a span
{
	color: #333;
}

p.words a.known
{
	color: transparent;
}

p.words a.unknown
{
	color: #faa;
}

p.words a.unknown span
{
	color: #a00;
}

p.words a.highlighted
{
	-webkit-box-shadow: 0 0 89px white, 0 0 89px white, 0 0 89px white;
	position: relative;
}

p.words a.highlighted span,
p.words a.highlighted
{
	color: #36f;
}

/*********** index *********/

p.words_index
{
	margin: 10px 0;
	text-transform: uppercase;
}