form.words_search p
{
	margin: 10px 0 0;
	margin-right: 100px;
	position: relative;
}

input.words_search_input
{
	display: block;
	width: 100%;
	margin-right: 70px;
	border: 1px solid #ddd;
	line-height: 24px;
	padding: 3px 0 3px 6px;
	border-radius: 3px;
	font-size: 13pt;
	box-shadow: inset 0 2px 5px #eee;
	font-family: Georgia;
	vertical-align: top;
	margin: 0;
	height: 32px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input.words_search_button
{
	top: 0;
	right: -100px;
	width: 90px;
	position: absolute;
	border: 1px solid #ddd;
	border-radius: 3px;
	height: 32px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: top;
	margin: 0;
	padding: 0 15px;
	font-size: 13pt;
	font-family: Georgia;
	color: #333;
	background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fff), to(#f6f6f6));
	background: -moz-linear-gradient(top, #fff, #f6f6f6);
	filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f6f6f6);
	-webkit-background-clip: border-box;
}

p.words_search_query
{
	font-size: 9px;
	color: #ddd;
	font-family: Monaco;
}


div.words_search_filters
{
	float: right;
	border: 1px solid #eee;
	padding: 5px;
	width: 40%;
	margin-top: 30px;
	margin-left: 20px;
}

div.words_search_filters h2
{
	text-align: center;
	font-weight: 200;
	color: #ddd;
	margin: -17px 0 0;
	font-size: 0;
}

div.words_search_filters h2 span
{
	position: relative;
	color: #ccc;
	font-size: 14pt;
	background: #fff;	
	padding: 0 5px;
	font-style: italic;
	font-weight: 200;
	letter-spacing: 1px;
}


div.words_search_filters h3
{
	margin: 0px 0 15px;
	font-weight: 200;
	border-bottom: 1px solid #eee;
	position: relative;
	text-align: center;
	font-size: 0;
}

div.words_search_filters h3 span
{
	background: #fff;
	font-size: 14px;
	padding: 0 4px;
	top: 9px;
	letter-spacing: 1px;
	position: relative;
	color: #ccc;
}


p.words_filter
{
	margin: 5px;
	font-size: 0;
	color: #666;
	text-align: center;
}

p.words_filter a
{
	display: inline-block;
	padding: 0 3px;
}

p.words_filter a span
{
	color: #999;
	padding: 0 6px;
	display: inline-block;
	height: 20px;
	line-height: 19px;
	border-radius: 3px;
	font-size: 10pt;
	min-width: 14px;
	text-align: center;
	border: 1px solid #fff;
}

p.words_filter a:hover span
{
	color: #08C;
	border-radius: 3px;
	background: #f3f3f3;
}

p.words_filter a.words_filter_selected span
{
	color: #000;
	background: #f9f9f9;
	border: 1px solid #eee;
}

@media screen and (max-width: 800px) {
	div.words_search_filters
	{
		float: none;
		width: auto;
		border: none;
		margin: 0;
	}
	
	div.words_search_filters h2
	{
		display: none;
	}
}