ul.words_list
{
	color: #ddd;
	font-size: 11pt;
	margin: 20px 0 20px 25px;
	padding: 0;
}

ul.words_list li
{
	margin: 8px 0;
	padding-left: 20px;
	text-indent: -20px;
}

span.words_list_info
{
	color: #999;
	font-size: 10px;
}

span.words_list_glossary
{
	color: #ccc;
	margin-left: 10px;
	line-height: 14px;
	font-size: 10px;
}

span.words_list_glossary span
{
	font-size: 13px;
	color: #333;
	margin-left: 5px;
}

@media screen and (max-width: 600px) {
	ul.words_list
	{
		margin: 20px 0 20px 20px;
	}
	
	ul.words_list li
	{
	}
}