div.words_layout
{
	font-family: 'Lora','Georgia','Crimson Text','Palatino','Times New Roman','Times';
	width: 1018px;
	background: url('../gfx/paper.png') 0 0 repeat-y;
	margin: 20px auto;
}

div.words_layout_middle
{
	overflow: hidden;
	padding: 5px 0px 5px 9px;
}

div.words_layout_content
{
	width: 799px;
	border-right: 1px solid #eee;
	float: left;
	min-height: 640px;
}

div.words_layout_sidebar
{
	width: 200px;
	border-left: 1px solid #eee;
	float: left;
	margin-left: -1px;
}

div.words_layout_top
{
	height: 14px;
	background: url('../gfx/paper.png') -1018px 0;
}

div.words_layout_bottom
{
	height: 14px;
	background: url('../gfx/paper.png') -2036px 0;
}

div.words_layout_left
{
	margin-top: 14px;
	height: 616px;
	width: 9px;
	position: absolute;
	background: url('../gfx/paper_effect.png');
}

div.words_layout_right
{
	margin-top: -618px;
	margin-left: 1009px;
	height: 616px;
	width: 9px;
	position: absolute;
	background: url('../gfx/paper_effect.png') -9px 0;
}