@import url('elegant.css');
@import url('simple.css');
@import url('paper.css');
@import url('viewer.css');

.gallery .partHeader h1
{
	text-align: center;
}

.gallery .grid
{
	margin-top: 10px;
	position: relative;
	left: 50%;
}

.gallery .grid .hover
{
	background: #ddd;
	background: url('hover.gif');
}

.gallery .grid .cell
{
	float: left;
}

.imagegallery_image_hover
{
	position: absolute;
	padding: 4px;
}

.imagegallery_image_hover .delete
{
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url('../../gfx/delete_small.png') no-repeat;
}


.in2igui_panel .chooser .elegant, .in2igui_panel .chooser .simple, .in2igui_panel .chooser .paper
{
	float: left;
	cursor: pointer;
	width: 94px;
	height: 82px;
	margin: 10px 5px;
}

.in2igui_panel .chooser .elegant
{
	background-image: url('../gfx/elegant/thumbnail.png');
}

.in2igui_panel .chooser .simple
{
	background-image: url('../gfx/simple/thumbnail.png');
}

.in2igui_panel .chooser .paper
{
	background-image: url('../gfx/paper/thumbnail.png');
}