.viewer
{
	position: absolute;
	background: #000;
	background: rgba(0,0,0,.9);
	width: 800px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -300px;
	
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	/*-webkit-box-shadow: 0px 2px 10px #666;*/
}

.viewer .content
{
	height: 550px;
	overflow: hidden;
}

.viewer .container
{
	height: 550px;
}

.viewer .image
{
	height: 550px;
	width: 800px;
	background: center center no-repeat;
	float:left;
}



/*********************************** Controls ************************/

.viewer .controls
{
	height: 50px;
	width: 200px;
	margin: 0px auto;
}

.viewer .controls div
{
	float: left;
	width: 40px;
	height: 40px;
	opacity: .5;
	margin: 0px 5px;
}

.viewer .controls div:hover
{
	opacity: 1;
}

.viewer .controls .next
{
	background: url('../../gfx/viewer_next.png') center center no-repeat;
}

.viewer .controls .previous
{
	background: url('../../gfx/viewer_previous.png') center center no-repeat;
}

.viewer .controls .play
{
	background: url('../../gfx/viewer_play.png') center center no-repeat;
}

.viewer .controls .close
{
	background: url('../../gfx/viewer_close.png') center center no-repeat;
}