div.widget_searchbar
{
	background: rgba(240,240,240,.5);
	position: absolute;
	width: 100%;
	top: 30px;
	padding: 4px;
	box-sizing: border-box;
	display: none;
	z-index: 1;
}

div.widget_searchbar input
{
	margin: 0;
	padding: 0;
	height: 20px;
	display: block;
	border-radius: 10px;
	border: 1px solid #ddd;
	width: 100%;
	text-indent: 6px;
	box-sizing: border-box;
}

div.widget_searchbar input:focus
{
	outline: none;
	border: 1px solid #69f;
	box-shadow: 0 0 5px #69f;
}