html, body
{
	height: 100%;
	margin: 0;
}

body
{
	width: 100%;
	height: 100%;
	background: url(http://images.apple.com/home/images/osx_hero_2x.jpg);
	background: url('/gfx/bg/dusk_4-wallpaper-2560x1600.jpg');
	background-attachment: fixed;
	background-size: cover;
}


div.oo_topbar li a
{
	color: rgba(255,255,255,.6);
}

a.oo_topbar_logo em
{
	color: rgba(255,255,255,.6);
}

a.oo_topbar_logo
{
	color: rgba(255,255,255,.6);
}

div.oo_topbar a.oo_topbar_selected
{
	color: rgba(255,255,255,.8);
}

div.oo_topbar
{
	border-bottom: 1px solid rgba(255,255,255,.4);
}



div.import
{
	position: absolute;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 5px;
	font-size: 11px;
	color: #fff;
	background: rgba(255,255,255,.05);
	border: 2px dashed rgba(255,255,255,.5);
}

div.top_right
{
	position: absolute;
	top: 3px;
	right: 3px;
}

