body
{
	background: #f6f6f6;
	padding: 10px 30px;
	font-family: Arial,Helvetica,sans-serif;
}

h1
{
	margin: 0;
	font-size: 20px;
	font-weight: normal;
	color: #234;
}

p
{
	font-size: 13px;
	color: #234;
	margin: 10px 0;
	line-height: 18px;
}

a
{
	color: #ddd;
}

a span
{
	color: #3366FF;
}

a:hover, a:hover span
{
	color: #0033AA;
}

span.logo
{
	font-size: 1em;
	letter-spacing: 0.06em;
	color: #666;
	line-height: 1em;
}

span.logo span
{
	color: #3366FF;
}

div.info
{
	margin-top: 30px;
}

div.info p
{
	color: #789;
}



/************************** Box ********************/

div.body_top
{
	background: url('../gfx/box.png') left top no-repeat;
	height: 7px;
	font-size: 0;
}

div.body_top div
{
	background: url('../gfx/box.png') right -7px no-repeat;
	height: 7px;
}

div.body_top div div
{
	background: url('../gfx/box.png') left -14px repeat-x;
	margin: 0 8px;
}

div.body_bottom
{
	background: url('../gfx/box.png') left -21px no-repeat;
	height: 10px;
	font-size: 0;
}

div.body_bottom div
{
	background: url('../gfx/box.png') right -31px no-repeat;
	height: 10px;
}

div.body_bottom div div
{
	background: url('../gfx/box.png') left -41px repeat-x;
	margin: 0 8px;
}

div.body_middle
{
	background: url('../gfx/box_middle.png') left top repeat-y;
}

div.body_middle div.body_middle
{
	background: url('../gfx/box_middle.png') right top repeat-y;
}

div.body_content
{
	margin: 0 3px;
	background: url('../gfx/email_background.jpg') #fff 100% 10px no-repeat;
	padding-right: 200px;
	min-height: 270px;
}

div.body_body
{
	padding: 10px 20px 10px;
}