/************************************ Cloud *****************************/

div.cloud
{
	text-align: center;
	line-height: 20px;
	padding: 0px 10px 10px;
	min-height: 80px;
}

a.tag
{
	color: #ddd;
	padding: 0px 1px;
	white-space: nowrap;
	vertical-align: middle;
}

a.tag span
{
	color: #666;
}

a.tag:hover span,a.tag:hover span
{
	color: #3366FF;
}

a.tag-0
{
	font-size: 12px;
}

a.tag-1
{
	font-size: 13px;
}

a.tag-2
{
	font-size: 16px;
}

a.tag-3
{
	font-size: 18px;
}

a.tag-4
{
	font-size: 20px;
}

a.tag-5
{
	font-size: 22px;
}

/*********************************** Intro *****************************/

div.home_intro
{
	background: url('../gfx/home/poster.png') 20px 10px no-repeat;
	height: 250px;
	border-bottom: 1px solid #ddd;
	position: relative;
}

/*********************************** Sign up *****************************/

h2.home_signup
{
	width: 249px;
	height: 29px;
	text-indent: 400px;
	overflow: hidden;
	position: absolute;
	background: url('../gfx/home/new_profile_header.png') no-repeat;
	margin: 0;
	right: 30px;
	top: 25px;
}

form.home_signup
{
	margin: 0;
	position: absolute;
	top: 70px;
	right: 46px;
}

form.home_signup input.submit
{
	position: absolute;
	left: -1000px;
	top: -1000px;
}

form.home_signup th
{
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	color: #456;
}

form.home_signup tbody td
{
	width: 180px;
}

form.home_signup p
{
	margin: 0;
	padding-right: 2px;
	text-align: right;
}

/*********************************** Search *****************************/

div.home_latest
{
	position: relative;
}

div.home_filter
{
	position: absolute;
	right: 15px;
	top: 10px;
}

/********************************** Sections *****************************/

.section_head
{
	height: 24px;
	padding: 15px 0px 0px;
}

div.section_head h2
{
	margin: 0px;
	margin-left: 10px;
	font-weight: normal;
	font-size: 13pt;
	color: #666;
	float: left;
	background: #fff;
	padding: 0px 5px;
	letter-spacing: 1px;
}

.section_body
{
	overflow: hidden;
	height: 80px;
	margin-right: 15px;
	margin-top: 10px;
	width: 730px;
}

#images_container span.oo_thumbnail
{
	float: left;
	margin-right: 10px;
}

#images_container
{
	width: 3000px;
	height: 70px;
	padding-left: 15px;
}

#users_container
{
	padding-left: 15px;
	width: 3000px;
	height: 70px;
}

#users_container div.user
{
	height: 70px;
	float: left;
	margin-right: 25px;
}