@import url('modules.css');
@import url('views.css');

body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
	background: #f5f5f5;
}

/************************* Common **********************/

.clear
{
	clear: both;
}

form
{
	margin: 0px;
}

img
{
	border: 0px;
}

h1.header
{
	letter-spacing: 1px;
	margin: 0 0 10px;
	font-weight: normal;
	font-size: 16pt;
	color: #456;
}

h2.header
{
	letter-spacing: 1px;
	margin: 0 0 10px;
	font-weight: normal;
	font-size: 13pt;
	color: #456;
}

blockquote.note
{
	margin: 10px 0; 
	padding: 5px 10px; 
	background: #f6f6f6; 
	border: 1px solid #f0f0f0;
	font-size: 13px;
}

span.logo
{
	font-size: 1em;
	letter-spacing: 0.06em;
	color: #666;
	line-height: 1em;
}

span.logo span
{
	color: #3366FF;
}

h2.message
{
	color: #aaa;
	text-align: center;
	margin: 0;
	padding: 40px 0;
	font-weight: normal;
}

/************************** Article *******************/

div.article
{
	/*font-family: Georgia,"Times New Roman","Times",serif;*/
}

div.article p
{
	font-size: 14px;
	line-height: 20px;
	color: #234;
	margin: 5px 0;
}

div.article h1
{
	letter-spacing: 1px;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 18pt;
	color: #456;
}

div.article h2
{
	letter-spacing: 1px;
	margin: 20px 0 5px;
	font-weight: normal;
	font-size: 14pt;
	color: #456;
}

div.article dl
{
	font-size: 14px;
	line-height: 20px;
	color: #234;
}

div.article dt
{
	font-weight: bold;
}

/************************** Layout ********************/

div.root
{
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}

/**************************** Casing ************************/

div.casing
{
	padding-top: 20px;
	padding-bottom: 50px;
}

div.casing_top
{
	background: url('../gfx/box.png') left top no-repeat;
	height: 7px;
	font-size: 0;
}

div.casing_top div
{
	background: url('../gfx/box.png') right -7px no-repeat;
	height: 7px;
}

div.casing_top div div
{
	background: url('../gfx/box.png') left -14px repeat-x;
	margin: 0 8px;
}

div.casing_bottom
{
	background: url('../gfx/box.png') left -21px no-repeat;
	height: 10px;
	font-size: 0;
}

div.casing_bottom div
{
	background: url('../gfx/box.png') right -31px no-repeat;
	height: 10px;
}

div.casing_bottom div div
{
	background: url('../gfx/box.png') left -41px repeat-x;
	margin: 0 8px;
}

div.casing_middle
{
	background: url('../gfx/box_middle.png') left top repeat-y;
}

div.casing_middle div.casing_middle
{
	background: url('../gfx/box_middle.png') right top repeat-y;
}

div.casing_body
{
	margin: 0 3px;
	background: #fff;
}

div.casing_head
{
	border-bottom: 1px solid #ddd;
	position: relative;
	height: 38px;
}

div.casing_foot
{
	height: 28px;
	border-top: 1px solid #ddd;
}

/*************************** Breadcrumb **********************/

ul.breadcrumb
{
	list-style: none;
	margin: 0;
	padding: 0 0 0 12px;
	border-bottom: 1px solid #ddd;
	font-size: 0;
	height: 24px;
	-webkit-transition: opacity 2s,height 2s;
	-moz-transition: opacity 2s,height 2s;
	-ms-transition: opacity 2s,height 2s;
	overflow: hidden;
}



ul.breadcrumb li
{
	margin: 0;
	padding: 0;
	float: left;
}

ul.breadcrumb a
{
	display: inline-block;
	height: 24px;
	font-size: 13px;
	padding: 0 14px 0 8px;
	line-height: 24px;
	text-decoration: none;
	color: #666;
	background: url('../gfx/breadcrumb.png') right top no-repeat;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

body.oo_fade ul.breadcrumb
{
	opacity: 0;
	height: 0;
}

body.oo_fade ul.breadcrumb:hover
{
	opacity: 1;
	height: 24px;
}

/**************************** Content ************************/

div.content
{
	overflow: hidden;
	background: url('../gfx/sidebar.png') 750px top repeat-y;
}

div.content_left
{
	float: left;
	width: 750px;
}

div.content_body
{
	padding: 15px;
	overflow: hidden;
}

/****************************** Sidebar **************************/

div.content_right
{
	float: left;
	width: 224px;
	overflow: hidden;
}

div.content_right_busy
{
	background: url('../gfx/sidebar_spinner.gif') 185px 8px no-repeat;
}

div.content_right_body
{
}

div.casing_right_section
{
	background: #f9f9f9;
	padding: 10px 15px;
	margin-left: 1px;
}

div.casing_right_box
{
	margin-top: 15px;
	border: 1px solid #D6E0F0;
	border-right: none;
	padding: 5px 15px;
	background-color: #E9F0FF;
}

div.content_right h2
{
	font-weight: normal;
	margin: 0px;
	font-size: 14pt;
	color: #468;
}

div.content_right span.hint
{
	display: block;
	font-size: 8pt;
	color: #aaa;
	padding-left: 2px;
}

div.content_right div.field
{
	margin: 5px 0px 0px;
}

div.content_right p
{
	margin: 0;
}

div.content_right p.buttons
{
	text-align: right;
	margin: 5px 0 0 0;
}

div.content_right form input.submit
{
	position: absolute;
	left: -100px;
	top: -100px;
}

/************************** Login ************************/

div.casing_login div.fields
{
	overflow: hidden;
}

div.casing_login div.field
{
	width: 94px;
	margin-right: 2px;
	float: left;
}


/**************************** User info ************************/

#userinfo
{
	font-size: 10pt;
	margin-bottom: 20px;
}

#userinfo .oo_thumbnail
{
	margin-right: 10px;
	float: left;
}

/************************** Sidebar *********************/

div.content_right p.buttons a.oo_link
{
	float: left;
	font-size: 11px;
	margin-left: 3px;
	margin-top: 5px;
}

/*************************** Navigation ********************************/

ul.navigation
{
	list-style: none;
	margin: -2px 0 0 6px;
	padding: 0px;
	position: absolute;
}

ul.navigation li
{
	float: left;
}

ul.navigation a
{
	float: left;
	height: 34px;
	text-decoration: none;
	color: #ddd;
	padding:4px 2px 0;
	cursor: pointer;
}

ul.navigation a span
{
	text-decoration: none;
	color: #333;
	height: 29px;
	float: left;
	line-height: 29px;
}

ul.navigation a span span
{
	padding: 0px 10px;
}

ul.navigation a:hover span
{
	background: url('../gfx/top_tab.png') left -58px no-repeat;
}

ul.navigation a:hover span span
{
	background: url('../gfx/top_tab.png') right -87px no-repeat;
}

ul.navigation a.home
{
	background: url('../gfx/logo.png') no-repeat 14px center;
	width: 140px;
}

ul.navigation a.home:hover
{
	text-decoration: none;
}

ul.navigation a.home span
{
	visibility: hidden;
}

ul.navigation a.selected
{
	
}

ul.navigation a.selected span
{
	color: #fff;
	background: url('../gfx/top_tab.png') left 0 no-repeat;
}

ul.navigation a.selected span span
{
	background: url('../gfx/top_tab.png') right -29px no-repeat;
}

/***************************** Tabs *******************************/

ul.tabs
{
	height: 30px;
	margin: 0;
	padding: 0 6px;
	background: url('../gfx/tabs.png');
	list-style: none;
	font-size: 16px;
	line-height: 29px;
}

ul.tabs *
{
	background: url('../gfx/tabs.png');
	float: left;
	height: 30px;
}

ul.tabs li
{
	background-position: 0 -30px;
	margin-left: 4px;
}

ul.tabs a
{
	background-position: 100% -60px;
	padding: 0 10px;
	color: #666;
	text-decoration: none;
}

ul.tabs li:hover
{
	background-position: 0 -90px;
}

ul.tabs li:hover a
{
	background-position: 100% -120px;
	color: #000;
}

ul.tabs li.highlighted
{
	background-position: 0 -150px;
}

ul.tabs li.highlighted a
{
	background-position: 100% -180px;
}

div.tabs_content
{
	padding: 15px;
}

/***************************** Search *******************************/

div.casing_head_search
{
	position: absolute;
	right: 8px;
	top: 4px;
}

#casing_search_result
{
	overflow: hidden;
	display: none;
	padding: 0 15px;
}

#casing_search_result ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#casing_search_result li
{
	overflow: hidden;
	padding: 5px 0;
}

#casing_search_result .oo_thumbnail
{
	float: left;
	margin-right: 10px;
}

div.casing_result_group
{
	padding: 10px 0;
}

div.casing_result_group h2
{
	font-size: 14pt;
	font-weight: normal;
	margin: 0 0 5px;
	color: #999;
}

div.casing_result_empty
{
	color:#999999;
	font-size:18pt;
	padding-top:20px;
	text-align:center;
}

/****************************** User ********************************/

div.login_info
{
	float: right;
	font-size: 9pt;
	margin: 13px 20px 0px 0px;
	height: 22px;
	line-height: 22px;
	padding-left: 26px;
	background: url('../gfx/user_mini.png') left center no-repeat;
}

/****************************** Footer ********************************/

.footer
{
	text-align: center;
	font-size: 10pt;
	color: #999;
	padding-top: 10px;
	height: 30px;
	margin-top: 30px;
	position: relative;
	width: 800px;
	margin: -41px auto 0;
}

.footer a span
{
	color: #666;
}

/****************************** List ********************************/

ol.oo_list
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10pt;
	border-top: 1px solid #eee;
}

li.oo_list_item
{
	padding: 5px 5px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}


/************************** Rendering ***********************/

div.oo_rendering p
{
	margin: 0;
}

div.oo_rendering .small
{
	font-size: .9em;
}

div.oo_rendering .dimmed
{
	color: #666;
}

div.oo_rendering .space
{
	margin-top: 10px;
}

/**************************** Thumbnail *****************************/

.oo_thumbnail_user
{
	background-image: url('../gfx/user.png');
}

.oo_thumbnail_zoom img
{
	cursor: pointer;
	cursor: -webkit-zoom-in;
}

a.oo_thumbnail:focus
{
	padding: 3px;
	border: 2px solid #79f;
	outline: none;
}

/****************************** Link *********************************/

a.oo_link
{
	color: #ccc;
}

a.oo_link span
{
	color: #3366FF;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-ms-transition: color 1s;
}

body.oo_fade a.oo_link span
{
	color: #333;
}

a.oo_link:hover, a.oo_link:hover span
{
	color: #0033aa;
}

a.oo_link_dimmed
{
	color: #ddd;
}

a.oo_link_dimmed span
{
	color: #666;
}

a.oo_link:focus span
{
	text-shadow: 0 0 2px #0060ff;
	outline: none;
	color: #129;
}

/******************* Split left ***************/

div.oo_splitleft
{
	overflow: hidden;
}

div.oo_splitleft_left
{
	float: left;
	font-size: 0;
}