div.profile_view div.images
{
	overflow: hidden;
	padding: 20px 20px 15px 20px;
}

div.profile_view div.images h2
{
	margin: 0px 0px 10px;
	font-weight: normal;
	font-size: 15pt;
	color: #446688;
}

div.profile_view div.thumbnail
{
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	margin: 0px 5px 5px 0px;
	background: #fff;
	padding: 4px;
}


/***************************** Profile *************************/

div.profile_view_left
{
	width: 105px;
	float: left;
}

div.profile_view div.profile_image
{
	width: 100px;
	height: 115px;
	border: 1px solid #ddd;
	border-color: #eee #ddd #ccc;
	background: url('../gfx/profile_large.png') center center no-repeat;
}

div.profile_view div.profile_image_photo
{
	width: 90px;
	height: 105px;
	margin: 5px 0 0 5px;
}

div.profile_view div.profile_info
{
	margin-left: 130px;
}

div.profile_view div.profile h2
{
	margin: 0px;
	font-weight: normal;
	font-size: 16pt;
	margin: 0 0 10px;
	color: #999;
}