<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
    ">

	<bean id="config" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:configuration.properties" />
	</bean>

	<bean id="configurationService" class="dk.in2isoft.onlineobjects.services.ConfigurationService">
		<property name="storagePath" value="${storagePath}"/>
		<property name="baseUrl" value="${baseUrl}"/>
		<property name="developmentMode" value="${developmentMode}"/>
	</bean>

	<bean id="emailService" class="dk.in2isoft.onlineobjects.services.EmailService" autowire="byType">

		<property name="host" value="${email.host}" />
		<property name="username" value="${email.username}" />
		<property name="password" value="${email.password}" />
		<property name="defaultSenderAddress" value="${email.defaultSenderAddress}" />
		<property name="defaultSenderName" value="${email.defaultSenderName}" />

	</bean>

	<bean id="passwordRecoveryService" class="dk.in2isoft.onlineobjects.services.PasswordRecoveryService">
	
		<property name="emailService" ref="emailService" />
		<property name="modelService" ref="modelService" />
		<property name="configurationService" ref="configurationService"/>
	
	</bean>

	<bean id="modelService" class="dk.in2isoft.onlineobjects.core.ModelService" autowire="byType"/>
	
	<bean id="applicationService" class="dk.in2isoft.onlineobjects.services.ApplicationService"/>
	
	<bean id="storageService" class="dk.in2isoft.onlineobjects.services.StorageService" autowire="byType"/>
	
	<bean id="securityService" class="dk.in2isoft.onlineobjects.core.SecurityService" autowire="byType"/>
	
	<bean id="lifeCycleService" class="dk.in2isoft.onlineobjects.services.LifeCycleService"/>
	
	<bean id="eventService" class="dk.in2isoft.onlineobjects.core.events.EventService"/>
	
	<bean id="conversionService" class="dk.in2isoft.onlineobjects.services.ConversionService"/>
	
	<bean id="pageRenderingService" class="dk.in2isoft.onlineobjects.services.PageRenderingService" autowire="byType"/>

	<!-- Community -->

	<bean id="invitationService" class="dk.in2isoft.onlineobjects.apps.community.services.InvitationService" autowire="byType"/>
	
	<bean id="memberService" class="dk.in2isoft.onlineobjects.apps.community.services.MemberService" autowire="byType"/>

	<bean id="invitationView" class="dk.in2isoft.onlineobjects.apps.community.jsf.InvitationBean" autowire="byType" scope="request"/>
	
	<bean id="imageView" class="dk.in2isoft.onlineobjects.apps.community.views.ImageView" autowire="byType" scope="request"/>
	
	<!-- Tools -->
	
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
      <property name="velocityProperties">
         <value>
            resource.loader=class
            class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
         </value>
      </property>
   </bean>
</beans>