<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
  	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.directwebremoting.org/schema/spring-dwr
    	http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
    ">
    
    <dwr:configuration>
	    <dwr:convert type="bean" class="java.lang.Class"/>
	    
	    <dwr:convert type="bean" class="dk.in2isoft.onlineobjects.apps.desktop.SearchResult"/>
	    <dwr:convert type="bean" class="dk.in2isoft.onlineobjects.apps.desktop.Window"/>
	    <dwr:convert type="bean" class="dk.in2isoft.onlineobjects.apps.desktop.EntityWindow"/>
	    <dwr:convert type="bean" class="dk.in2isoft.onlineobjects.apps.desktop.WindowProperty"/>
	    
	    <dwr:convert type="bean" class="dk.in2isoft.onlineobjects.publishing.remoting.*"/>
	    
	    <dwr:convert class="dk.in2isoft.onlineobjects.apps.community.views.ImageInfo" type="bean"/>
	    <dwr:convert class="dk.in2isoft.onlineobjects.apps.community.remoting.InternetAddressInfo" type="bean"/>
	    
	    <dwr:convert type="bean" class="dk.in2isoft.onlineobjects.ui.AsynchronousProcessDescriptor"/>
	    <dwr:convert type="bean" class="dk.in2isoft.onlineobjects.model.*">
	    	<dwr:exclude method="getImageFile"/>
	    </dwr:convert>
	    <dwr:convert type="bean" class="dk.in2isoft.*"/>
	    <dwr:convert class="java.lang.Exception" type="exception">
	    	<dwr:exclude method='getStackTrace'/>
	    </dwr:convert>
    </dwr:configuration>
    
    
    <bean id="publishingRemotingFacade" class="dk.in2isoft.onlineobjects.publishing.remoting.PublishingRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="CorePublishing"/>
   	</bean>
   	
   	<bean id="partsRemotingFacade" class="dk.in2isoft.onlineobjects.publishing.remoting.PartRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="CoreParts"/>
   	</bean>
   	
   	<bean id="securityRemotingFacade" class="dk.in2isoft.onlineobjects.remoting.SecurityRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="CoreSecurity"/>
   	</bean>
   	
   	<bean id="commonRemotingFacade" class="dk.in2isoft.onlineobjects.remoting.CommonRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="Common"/>
   	</bean>
   	
   	<bean id="communityRemotingFacade" class="dk.in2isoft.onlineobjects.apps.community.remoting.CommunityRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="AppCommunity"/>
   	</bean>
   	
   	<bean id="schoolRemotingFacade" class="dk.in2isoft.onlineobjects.apps.school.SchoolRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="AppSchool"/>
   	</bean>
   	
   	<bean id="setupRemotingFacade" class="dk.in2isoft.onlineobjects.apps.setup.SetupRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="AppSetup"/>
   	</bean>
   	
   	<bean id="imageGalleryRemotingFacade" class="dk.in2isoft.onlineobjects.publishing.imagegallery.ImageGalleryRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="ImageGalleryDocument"/>
   	</bean>
   	
   	<bean id="compoundDocumentRemotingFacade" class="dk.in2isoft.onlineobjects.publishing.compounddocument.CompoundDocumentRemotingFacade" autowire="byType">
    	 <dwr:remote javascript="CompoundDocumentDocument"/>
   	</bean>
   	
   	

	<bean id="config" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:configuration.properties" />
	</bean>

	<bean id="configurationService" class="dk.in2isoft.onlineobjects.services.ConfigurationService">
		<property name="basePath" value="${basePath}"/>
		<property name="storagePath" value="${storagePath}"/>
		<property name="baseUrl" value="${baseUrl}"/>
		<property name="developmentMode" value="${developmentMode}"/>
		<property name="imageMagickPath" value="${imagemagick.path}"/>
		<property name="graphvizPath" value="${graphviz.path}"/>
	</bean>

	<bean id="emailService" class="dk.in2isoft.onlineobjects.services.EmailService" autowire="byType">

		<property name="host" value="${email.host}" />
		<property name="username" value="${email.username}" />
		<property name="password" value="${email.password}" />
		<property name="defaultSenderAddress" value="${email.defaultSenderAddress}" />
		<property name="defaultSenderName" value="${email.defaultSenderName}" />

	</bean>

	<bean id="passwordRecoveryService" class="dk.in2isoft.onlineobjects.services.PasswordRecoveryService">
	
		<property name="emailService" ref="emailService" />
		<property name="modelService" ref="modelService" />
		<property name="configurationService" ref="configurationService"/>
	
	</bean>

	<bean id="modelService" class="dk.in2isoft.onlineobjects.core.ModelService" autowire="byType"/>
	
	<bean id="storageService" class="dk.in2isoft.onlineobjects.services.StorageService" autowire="byType"/>
	
	<bean id="securityService" class="dk.in2isoft.onlineobjects.core.SecurityService" autowire="byType"/>
	
	<bean id="lifeCycleService" class="dk.in2isoft.onlineobjects.services.LifeCycleService"/>
	
	<bean id="eventService" class="dk.in2isoft.onlineobjects.core.events.EventService"/>
	
	<bean id="conversionService" class="dk.in2isoft.onlineobjects.services.ConversionService"/>
	
	<bean id="pageRenderingService" class="dk.in2isoft.onlineobjects.services.PageRenderingService" autowire="byType"/>

	<bean id="imageService" class="dk.in2isoft.onlineobjects.util.images.ImageService" autowire="byType"/>
	
	<bean id="webModelService" class="dk.in2isoft.onlineobjects.services.WebModelService" autowire="byType"/>
	
	<bean id="schedulingService" class="dk.in2isoft.onlineobjects.services.SchedulingService" autowire="byType"/>
	
	<bean id="importService" class="dk.in2isoft.onlineobjects.services.ImportService" autowire="byType"/>
	
	<bean id="fileService" class="dk.in2isoft.onlineobjects.services.FileService" autowire="byType"/>
	
	<bean id="graphService" class="dk.in2isoft.onlineobjects.services.GraphService" autowire="byType"/>
	
	<bean id="semanticService" class="dk.in2isoft.onlineobjects.services.SemanticService" autowire="byType"/>
	
	<bean id="indexService" class="dk.in2isoft.onlineobjects.services.IndexService" autowire="byType"/>
	
	<!-- Service controllers -->
	
	<bean id="imageController" class="dk.in2isoft.onlineobjects.service.image.ImageController" autowire="byType"/>
	<bean id="authenticationController" class="dk.in2isoft.onlineobjects.service.authentication.AuthenticationController" autowire="byType"/>
	
	<!-- Application controllers -->
	
	<bean id="communityController" class="dk.in2isoft.onlineobjects.apps.community.CommunityController" autowire="byType"/>
	<bean id="communityPrivateController" class="dk.in2isoft.onlineobjects.apps.community.PrivateSpaceController" autowire="byType"/>
	<bean id="communityDAO" class="dk.in2isoft.onlineobjects.apps.community.CommunityDAO" autowire="byType"/>
	<bean id="setupController" class="dk.in2isoft.onlineobjects.apps.setup.SetupController" autowire="byType"/>
	<!--
	<bean id="schoolController" class="dk.in2isoft.onlineobjects.apps.school.SchoolController" autowire="byType"/>
	-->
	<bean id="desktopController" class="dk.in2isoft.onlineobjects.apps.desktop.DesktopController" autowire="byType"/>

	<!-- Community -->

	<bean id="invitationService" class="dk.in2isoft.onlineobjects.apps.community.services.InvitationService" autowire="byType"/>
	
	<bean id="memberService" class="dk.in2isoft.onlineobjects.apps.community.services.MemberService" autowire="byType"/>

	<bean id="invitationView" class="dk.in2isoft.onlineobjects.apps.community.views.InvitationView" autowire="byType" scope="request"/>
	<bean id="baseView" class="dk.in2isoft.onlineobjects.apps.community.views.BaseView" autowire="byType" scope="request"/>
	<bean id="imageView" class="dk.in2isoft.onlineobjects.apps.community.views.ImageView" autowire="byType" scope="request"/>
	<bean id="usersView" class="dk.in2isoft.onlineobjects.apps.community.views.UsersView" autowire="byType" scope="request"/>
	<bean id="imagesView" class="dk.in2isoft.onlineobjects.apps.community.views.ImagesView" autowire="byType" scope="request"/>
	<bean id="userProfileView" class="dk.in2isoft.onlineobjects.apps.community.views.UserProfileView" autowire="byType" scope="request"/>
	
	<!-- Tools -->
	
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
      <property name="velocityProperties">
         <value>
            resource.loader=file
            file.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            file.resource.loader.path=/Users/jbm/Development/Workspace/onlineobjects/src/web/
         </value>
      </property>
   </bean>
</beans>