email.host=mail.myhost.com
email.username=myuser
email.password=mypass
email.defaultSenderAddress=my@mail.com
email.defaultSenderName=My Name

baseUrl=www.myhost.com
basePath=
developmentMode=false
storagePath=/path/to/storage
rootDomain=myhost.com
port=

imagemagick.path=/opt/local/bin
graphviz.path=/opt/local/bin

development.user=public

analytics.code=

startScheduling=true