html
{
	height: 100%;
}

body
{
	min-height: 100%;
	padding: 0px;
	margin: 0px;
	background: #fff;
	height: 100%;
}

.footer
{
	position: relative;
	margin-top: -90px;
	background: #fff url('../gfx/hills.png') center bottom repeat-x;
	height: 90px;
}

.body
{
	background: url('../gfx/bg.png') top left repeat-x;
	min-height: 100%;
	position: relative;
}

.inner_body
{
	background: url('../gfx/sun.png') top left no-repeat;
	overflow: hidden;
	padding-bottom: 90px;
	min-height:105px;
}

* html .body
{
	height: 100%;
}

.header
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 12pt;
	line-height: 16pt;
	color: #333;
	height: 40px;
}

ol.navigation
{
	font-size: 13pt;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ol.navigation li
{
	display: inline;
}

ol.navigation a
{
	padding: 2px 4px;
	margin: 0 3px;
	text-decoration: none;
}

.header a
{
	text-decoration: none;
	color: #ffba00;
	background: #fff;
	padding: 1px 5px 1px;
}

.header a.selected
{
	font-weight: bold;
}

div.part_header h1
{
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16pt;
	color: #0066AA;
}

div.part_html
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 11pt;
	color: #666;
	margin-top: 5px;
}

div.gallery div.part_header, div.gallery div.part_html
{
	width: 60%;
	margin: 0 auto;
}

div.gallery div.part_header h1, div.gallery div.part_html
{
	text-align: center;
}