.gallery
{
	overflow: hidden;
}

.gallery .partHeader h1
{
	text-align: center;
}

.gallery .grid
{
	margin-top: 10px;
	position: relative;
	left: 50%;
}

.gallery .grid .hover
{
	background: #ddd;
	background: url('hover.gif');
}

.gallery .grid .cell
{
	float: left;
	_text-align: center;
}

body.editor_mode .gallery .image
{
	cursor: move;
}

.imagegallery_image_hover
{
	position: absolute;
	padding: 4px;
}

.imagegallery_image_hover .delete
{
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url('../../../gfx/delete_small.png') no-repeat;
}



/************************* Elegant ***************************/

.elegant .top
{
	height: 40px;
	padding-left: 40px;
	background: url('../gfx/frame_elegant.png') left top no-repeat;
}

.elegant .top div
{
	height: 40px;
	padding-right: 40px;
	background: url('../gfx/frame_elegant.png') right -40px no-repeat;
}

.elegant .top div div
{
	height: 40px;
	background: url('../gfx/frame_elegant.png') left -80px repeat-x;
}

.elegant .bottom
{
	height: 40px;
	padding-left: 40px;
	background: url('../gfx/frame_elegant.png') left -120px no-repeat;
}

.elegant .bottom div
{
	height: 40px;
	padding-right: 40px;
	background: url('../gfx/frame_elegant.png') right -160px no-repeat;
}

.elegant .bottom div div
{
	height: 40px;
	background: url('../gfx/frame_elegant.png') left -200px repeat-x;
}


.elegant .middle
{
	padding-left: 40px;
	background: url('../gfx/frame_elegant.png') left -240px no-repeat;
	font-size: 0px;
}

.elegant .middle div
{
	padding-right: 40px;
	background: url('../gfx/frame_elegant.png') right -490px no-repeat;
}

.elegant .top, .elegant .top div, .elegant .top div div,.elegant .bottom, .elegant .bottom div, .elegant .bottom div div, .elegant .middle, .elegant .middle div
{
	_background-image: url('../gfx/frame_elegant.gif');
}

/*********************************** Simple **********************************/

.simple .top
{
	height: 40px;
	padding-left: 40px;
	background: url('../gfx/frame_simple.png') left top no-repeat;
}

.simple .top div
{
	height: 40px;
	padding-right: 40px;
	background: url('../gfx/frame_simple.png') right -40px no-repeat;
}

.simple .top div div
{
	height: 40px;
	background: url('../gfx/frame_simple.png') left -80px repeat-x;
}

.simple .bottom
{
	height: 40px;
	padding-left: 40px;
	background: url('../gfx/frame_simple.png') left -120px no-repeat;
}

.simple .bottom div
{
	height: 40px;
	padding-right: 40px;
	background: url('../gfx/frame_simple.png') right -160px no-repeat;
}

.simple .bottom div div
{
	height: 40px;
	background: url('../gfx/frame_simple.png') left -200px repeat-x;
}

.simple .middle
{
	padding-left: 40px;
	background: url('../gfx/frame_simple.png') left -240px no-repeat;
	font-size: 0px;
}

.simple .middle div
{
	padding-right: 40px;
	background: url('../gfx/frame_simple.png') right -490px no-repeat;
}

.simple .top,.simple .top div,.simple .top div div,.simple .bottom,.simple .bottom div,.simple .bottom div div,.simple .middle,.simple .middle div
{
	_background-image: url('../gfx/frame_simple.gif');
}


/******************************** Paper *******************************/

.paper .top
{
	height: 40px;
	padding-left: 40px;
	background: url('../gfx/frame_paper.png') left top no-repeat;
}

.paper .top div
{
	height: 40px;
	padding-right: 40px;
	background: url('../gfx/frame_paper.png') right -40px no-repeat;
}

.paper .top div div
{
	background: url('../gfx/frame_paper.png') left -80px repeat-x;
}

.paper .bottom
{
	height: 40px;
	padding-left: 40px;
	background: url('../gfx/frame_paper.png') left -120px no-repeat;
}

.paper .bottom div
{
	height: 40px;
	padding-right: 98px;
	background: url('../gfx/frame_paper_bottom_right.png') bottom right no-repeat;
	_background-image: url('../gfx/frame_paper_bottom_right.gif');
}

.paper .bottom div div
{
	height: 40px;
	padding: 0px;
	background: url('../gfx/frame_paper.png') left -200px repeat-x;
}


.paper .middle
{
	padding-left: 40px;
	background: url('../gfx/frame_paper.png') left -240px repeat-y;
	font-size: 0px;
}

.paper .middle div
{
	padding-right: 40px;
	background: url('../gfx/frame_paper.png') bottom right repeat-y;
}

.paper .top, .paper .top div, .paper .top div div,.paper .bottom, .paper .bottom div div, .paper .middle, .paper .middle div
{
	_background-image: url('../gfx/frame_paper.gif');
}