/*********************** Videoinfo *****************/

div.videoinfo
{
	font-size: 13px;
	padding: 5px 15px;
	color: #333;
}

div.videoinfo span.views em
{
	color: #FF3401;
	font-style: normal;
	margin-right: 4px;
}

div.videoinfo a.favorite
{
	background: url('../gfx/favorite.png') left 0 no-repeat;
	padding-left: 24px;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	margin-top: -1px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

div.videoinfo a.share
{
	background: url('../gfx/share.png') left 0 no-repeat;
	padding-left: 26px;
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	margin-top: -1px;
	line-height: 22px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

div.videoinfo a.add_to_contest
{
	background: url('../gfx/icons/add_contest.png') left 0 no-repeat;
	display: inline-block;
	height: 27px;
	padding-left: 46px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
	line-height: 30px;
}

a.add_to_contest span, a.add_to_contest:hover span, div.videoinfo a.vote span, div.videoinfo a.vote:hover span
{
	color: #43B801;
}

div.videoinfo a.vote
{
	background: url('../gfx/icons/add_contest.png') right 0 no-repeat;
	display: inline-block;
	height: 27px;
	padding-right: 55px;
	color: #43B801;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
	line-height: 30px;
}

div.videoinfo span.votes
{
	font-size:24px;
	font-style: normal;
	font-weight: bold;
	margin-left: 10px;
	vertical-align: middle;
	color: #43B801;
}

/********************** Bottom ********************/

div.videoinfo_bottom
{
	background: #f6f6f6;
	font-size: 0;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	-moz-border-radius: 5px;
}

div.videoinfo_bottom .item
{
	font-size: 12px;
	border-right: 1px solid #aaa;
	padding: 0 10px;
}

div.videoinfo_bottom a
{
	font-size: 12px;
	border-right: 1px solid #aaa;
	padding: 0 15px;
	text-decoration: none;
	color: #000;
}

div.videoinfo_bottom span.favorites strong
{
	color: #6D5701;
}

div.videoinfo_bottom span.views strong
{
	color: #F90032;
}

div.videoinfo_bottom a.share
{
	padding-left: 35px;
}

div.videoinfo_bottom a.share strong
{
	color: #FF0099;
	font-size: 28px;
	position: absolute;
	font-weight: normal;
	margin-left: -22px;
	margin-top: -1px;
}

div.videoinfo_bottom span.mobile strong
{
	color: #06f;
}

div.videoinfo_bottom a.favorite
{
	background: url('../gfx/icons/favorite.png') 10px center no-repeat;
	display: inline-block;
	padding-left: 28px;
	border: none;
}