div.box
{
	width: 400px;
	background: #fff;
	padding: 20px;
	border: 1px solid #eee;
	margin: 30px auto 0;
	border-radius: 5px;
}

p.label
{
	margin: 10px 0 3px;
}

label
{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 11pt;
	font-weight: 300;
}

.buttons
{
	text-align: right;
	margin: 10px 0 0;
}

.buttons a.oo_link
{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 15px;
}

p.message
{
	font-weight: 300;
	background: #fafafa;
	padding: 3px 5px;
	border: 1px solid #eee;
	margin: 0 -6px;
	border-radius: 4px;
}

p.current_user
{
	font-weight: 300;
}