.compounddocument
{
	padding: 0px 20px;
}

.compounddocument .part
{
	min-height: 10px;
}

.compounddocument table.row
{
	width: 100%;
	border-collapse: collapse;
	min-height: 20px;
}

.compounddocument td.column
{
	padding: 0px;
	height: 20px;
	border: 1px solid transparent;
	_border: none;
	vertical-align: top;
}

body.editor_mode td.column
{
	border-style: solid;
	border-color: rgba(0,0,0,.2);
}


body.editor_mode .compounddocument td.in2igui_editor_column_hover
{
}