@import url('public.css');

body
{
	background: #fff url('../gfx/sky_bg.png') repeat-x;
}

div.head
{
	background: url('../gfx/globe.png') center bottom no-repeat;
	height: 280px;
}

div.head div.clouds
{
	background: url('../gfx/clouds.png') center bottom no-repeat;
	height: 100%;
}

div.head h1
{
	text-align: center;
	color: #AAAAAA;
	font-size: 42pt;
	font-weight: normal;
	margin: 0px;
	padding-top: 130px;
	letter-spacing: 3px;
}


/************************************ Search ******************************/

div.search
{
	background: url('../gfx/front/search.png') left top repeat-x;
	height: 47px;
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

div.inner_search
{
	background: url('../gfx/front/search.png') left -47px no-repeat;
	height: 47px;
	padding-left: 43px;
}

div.search form
{
	background: url('../gfx/front/search.png') right -94px no-repeat;
	height: 47px;
	margin: 0px;
}

div.search input.text
{
	border: none;
	background: none;
	padding: 7px 0px 0px 0px;
	color: #666;
	width: 100%;
	font-size: 11pt;
}
/********************************** Info ***********************************/

div.info
{
	overflow: hidden;
	background: url('../gfx/front/line_light.gif') 33% top repeat-y;
	margin: 10px 0px 20px;
}

div.inner_info
{
	background: url('../gfx/front/line_light.gif') 66% top repeat-y;
	overflow: hidden;
}

div.info div.column
{
	float: left;
	width: 33%;
}

div.info h2
{
	font-weight: normal;
	color: #6ac1ff;
	margin: 0px;
	font-size: 14pt;
	padding: 0px 15px;
	letter-spacing: 1px;
}

div.info p
{
	color: #666;
	font-size: 10pt;
	padding: 0px 15px;
	margin: 10px 0px 0px;
	line-height: 14pt;
}

div.info p strong
{
	color: #333;
}

/***************************************** Cloud ********************************/

div.cloud
{
	text-align: center;
	line-height: 24px;
	padding: 0px 10px;
	min-height: 80px;
}

a.tag
{
	color: #ddd;
	padding: 0px 1px;
	white-space: nowrap;
}

a.tag span
{
	color: #666;
}

a.tag:hover span,a.tag:hover span
{
	color: #3366FF;
}

a.tag-1
{
	font-size: 10px;
}

a.tag-2
{
	font-size: 14px;
}

a.tag-3
{
	font-size: 17px;
}

a.tag-4
{
	font-size: 19px;
}

a.tag-5
{
	font-size: 22px;
}

/****************************** Body **********************************/


div.content
{
	background: url('../gfx/front/line_light.gif') 66% 0px repeat-y;
	overflow: hidden;
}

div.content div.left
{
	width: 66%;
	float: left;
}

div.content div.right
{
	width: 33%;
	float: left;
}

div.content div.right h2
{
	font-weight: normal;
	color: #6ac1ff;
	margin: 0px;
	font-size: 14pt;
	padding: 0px 15px;
	letter-spacing: 1px;
}

/********************************* Sidebar ****************************/

form.formula
{
	padding: 0px 15px 15px 15px;
	overflow: hidden;
}

form.formula input.text, textarea
{
	border: 1px solid #999;
	border-color: #ccc #ddd #eee #ddd;
	width: 100%;
	text-indent: 3px;
	font-size: 11pt;
}

form.formula input.error
{
	background: #fee;
	border-color: #eaa #ebb #ecc #ebb;
}

form.formula label
{
	display: block;
	font-size: 12pt;
	line-height: 20px;
	color: #666;
	padding-top: 10px;
}

form.formula input.submit
{
	margin-top: 10px;
	float: right;
}

form.formula span.error
{
	float: right;
	color: #f00;
	font-size: 9pt;
	margin-top: 13px;
}

form.formula p.hint
{
	color: #999;
	font-size: 9pt;
	margin: 0px;
}

form.formula p.response
{
	font-size: 9pt;
	color: red;
	margin: 0px;
}

hr
{
	background: #eee;
	color: #eee;
	border: none;
	height: 1px;
	margin: 30px 0px;
}

div.right hr
{
	margin: 10px 15px;
}

/********************************** Sections *****************************/

.section_head
{
	background: url('../gfx/front/line_light.gif') center repeat-x;
	height: 24px;
	margin-right: 15px;
}

div.section_head h2
{
	margin: 0px;
	margin-left: 10px;
	font-weight: normal;
	font-size: 13pt;
	color: #6AC1FF;
	float: left;
	background: #fff;
	padding: 0px 2px;
	letter-spacing: 1px;
}

.section_body
{
	overflow: hidden;
	height: 80px;
	margin-right: 15px;
}

#images_container .thumbnail
{
	border: 1px solid #ddd;
	float: left;
	height: 60px;
	background: center center no-repeat;
	padding: 4px;
	margin-right: 10px;
}

#images_container
{
	width: 3000px;
	height: 70px;
	padding-left: 15px;
}

#users_container
{
	padding-left: 15px;
	width: 3000px;
	height: 70px;
}

div.user
{
	height: 62px;
	float: left;
	margin-right: 15px;
	font-size: 10pt;
}

div.user .thumbnail
{
	height: 60px;
	width: 50px;
	border: 1px solid #ddd;
	margin-right: 10px;
	background: url('../gfx/user.png') center center no-repeat;
	float: left;
}



