@import url('public.css');

.base
{
	width: 800px;
	margin: 0 auto;
}

.header
{
	border-bottom: 1px solid #cdcdcd;
	height: 75px;
}

.header h1
{
	color: #AAAAAA;
	font-size: 32pt;
	font-weight: normal;
	margin: 0px;
	padding-left: 10px;
	padding-top: 10px;
}

.header .user
{
	color: #666666;
	float: right;
	font-size: 10pt;
	margin-top: 10px;
	width: 200px;
}

.footer
{
	border-top: 1px solid #cdcdcd;
	text-align: center;
	font-size: 10pt;
	color: #ddd;
	padding-top: 3px;
}

.body
{
	overflow: hidden;
	margin: 10px 0px;
	background: url('../gfx/front/line.gif') 580px 0px repeat-y;
}

.left
{
	width: 560px;
}

/********************************* Sidebar ****************************/

.right
{
	width: 200px;
	float: right;
	padding: 10px 0px 20px;
	
}

.right h2
{
	font-size: 13pt;
	font-weight: normal;
	color: #999;
	margin: 0px;
}

.right input.text
{
	border: 1px solid #999;
	border-color: #ccc #ddd #eee #ddd;
	width: 180px;
	text-indent: 3px;
	font-size: 11pt;
}

.right .divider
{
	border: none;
	border-bottom: 1px solid #ddd;
	width: 180px;
	margin: 20px 0px;
}

.right label
{
	display: block;
	font-size: 9pt;
	color: #666;
	margin-top: 10px;
}

/********************************** Sections *****************************/

.section_head
{
	background: url('../gfx/front/line_light.gif') center repeat-x;
	height: 24px;
}

.section_head h2
{
	margin: 0px;
	margin-left: 10px;
	font-weight: normal;
	font-size: 13pt;
	color: #808080;
	float: left;
	background: #fff;
	padding: 0px 2px;
}

.section_body
{
	overflow: hidden;
	height: 80px;
}

.section_body .thumbnail
{
	height: 60px;
	background: center center no-repeat;
	float: left;
	padding: 4px;
	border: 1px solid #ddd;
	margin-right: 10px;
}

#images_container
{
	width: 30000px;
	height: 70px;
}






.signup
{
}


.login
{
	margin-top: 15px;
}

input.hidden
{
	position: absolute;
	visibility: hidden;
	left: 0px;
	top: 0px;
}


.search input
{
	border: 1px solid #ddd;
	color: #aaa;
	font-size: 12pt;
	height: 26px;
	padding-top: 4px;
	text-indent: 4px;
	margin-left: 95px;
}