@import url('public.css');

body,html
{
	height: 100%;
	overflow: hidden;
}

body
{
	background: #f8f7ed;
	border: none;
}

h1
{
	font-weight: normal;
	margin: 0px;
	text-align: center;
	color: #666;
}

.base
{
	width: 500px;
	margin: 40px auto;
	border: 1px solid #eee;
	padding: 20px;
	background: #fff;
}

blockquote
{
	color: #ffb400;
	text-align: center;
	font-style: italic;
	font-size: 16pt;
	margin: 5px 0px;
	padding: 0px;
}

form
{
	margin: 0px auto;
	width: 300px;
}

form label
{
	display: block;
	color: #999;
	margin-top: 5px;
	font-size: 11pt;
}

form label span
{
	color: #f00;
}

input.text, input.password
{
	border: 1px solid #999;
	border-color: #ccc #ddd #eee #ddd;
	font-family: "New York", Georgia, "Palatino", serif;
	font-size: 13pt;
	width: 100%;
}

input.submit
{
	font-family: "New York", Georgia, "Palatino", serif;
	margin-top: 10px;
	font-size: 13pt;
	border: 1px solid #ddd;
	background: #eee;
}