

/***************************** Rendering ********************************/

div.rendering h1
{
	margin: 0px;
	font-weight: normal;
	font-size: 16pt;
	color: #446688;
	font-family: Georgia, 'Palatino','Times', serif;
}

div.rendering p
{
	margin: 0px 0px 5px;
	font-size: 10pt;
}

div.rendering p.resume
{
	color: #345;
	font-family: Georgia, 'Palatino','Times', serif;
	font-size: 11pt;
	font-style: italic;
	margin-bottom: 20px;
	line-height: 1.5em;
}

div.rendering p.tags
{
	font-size: 0;
}

div.rendering a.tag
{
	font-size: 12px;
	background: #ddeef6;
	text-decoration: none;
	border: 1px solid #bcd;
	-moz-border-radius: 8px;
	padding: 0 8px;
	height: 16px;
	color: #000;
	margin-right: 4px;
	display: inline-block;
}

div.rendering a.tag:hover
{
	background: #daeaf0;
	border: 1px solid #798;
}

div.rendering a.tag:focus
{
	border: 1px solid #03f;
	-moz-box-shadow: 0px 0px 3px #03f;
	outline: none;
}

div.rendering p.minor
{
	color: #789;
	font-size: 9pt;
}

div.rendering p span.label
{
	color: #789;
}

div.rendering ul.icons
{
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
	font-size: 10pt;
}

div.rendering ul.icons li
{
	padding-left: 24px;
	height: 20px;
}

div.rendering li.mail
{
	background: url('../gfx/dimmed_icons.png') -2px -100px no-repeat;
}

div.rendering li.url
{
	background: url('../gfx/dimmed_icons.png') -2px -2px no-repeat;
}

div.rendering li.phone
{
	background: url('../gfx/dimmed_icons.png') -2px -50px no-repeat;
}

/***************************** Formula ********************************/

table.formula th
{
	text-align: right;
	font-weight: normal;
	font-size: 13px;
}
