body
{
	text-align: center;
}

div.root
{
	text-align: left;
}

div.section_body
{
	width: 730px;
}

div.content_right
{
}

div.casing_login div.field
{
	float: left;
	margin-right: 4px;
	width: 92px;
}