@import url('public.css');

div.images
{
	overflow: hidden;
	padding: 20px 20px 15px 20px;
}

div.images h2
{
	margin: 0px 0px 10px;
	font-weight: normal;
	font-size: 15pt;
}

hr
{
	margin: 0px 20px;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
	border: none;
}

div.thumbnail
{
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	margin: 0px 5px 5px 0px;
	background: #fff;
	padding: 4px;
}


/***************************** Profile *************************/

div.profile_image
{
	width: 100px;
	height: 115px;
	border: 1px solid #ddd;
	background: url('../gfx/profile_large.png') center center no-repeat;
	float: left;
}

div.profile
{
	padding: 20px;
	overflow: hidden;
}

div.profile_info
{
	margin-left: 130px;
}


div.profile_info h1
{
	margin: 0px;
	font-weight: normal;
	font-size: 16pt;
}

div.profile_info p
{
	margin: 0px 0px 5px;
	font-size: 10pt;
}

div.profile_info p span.label
{
	color: #999;
}