body,html
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Palatino", serif;
}

/************************* Common **********************/

.clear
{
	clear: both;
}

a.link
{
	color: #ccc;
}

a.link span
{
	color: #3366FF;
}

a.link:hover, a.link:hover span
{
	color: #0033aa;
}

a.link_next
{
	background: url('../gfx/link_next.png') right 4px no-repeat;
	padding-right: 12px;
}

input.hidden
{
	position: absolute;
	left: -1000px;
	top: 0px;
	width: 0px;
}

/************************** Layout ********************/

div.root
{
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}

div.body
{
	overflow: hidden;
	padding-bottom: 51px;
}

div.login_info
{
	position: absolute;
	top: 0px;
	right: 0px;
	color: #aaddff;
	font-size: 10pt;
	padding: 10px;
}

/****************************** Footer ********************************/

.footer
{
	border-top: 1px solid #eee;
	text-align: center;
	font-size: 10pt;
	color: #999;
	padding-top: 10px;
	height: 30px;
	margin-top: 30px;
	position: relative;
	width: 800px;
	margin: -41px auto 0;
}

.footer a span
{
	color: #666;
}

/***************************** Navigation ******************************/

div.navigation
{
	background: url('../gfx/top_bar.png') left -40px no-repeat;
	height: 40px;
	margin: 0px 0px 10px;
}

div.inner_navigation
{
	background: url('../gfx/top_bar.png') right -80px no-repeat;
	height: 40px;
}

div.inner_navigation div.inner_navigation
{
	background: url('../gfx/top_bar.png') left 0px repeat-x;
	height: 40px;
	margin: 0px 6px;
}

div.navigation a.logo
{
	background: url('../gfx/bar_logo.png') center center no-repeat;
	float: left;
	height: 40px;
	width: 160px;
}

div.navigation a.logo span
{
	display: none;
}

div.navigation ul
{
	background: url('../gfx/top_bar_divider.png') left 3px no-repeat;
	height: 40px;
	float: left;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size: 11pt;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

div.navigation li
{
	height: 40px;
	float: left;
	line-height: 40px;
	background: url('../gfx/top_bar_divider.png') right 3px no-repeat;
}

div.navigation li a
{
	color: #000;
	text-decoration: none;
	padding: 0px 15px;
	height: 40px;
	float: left;
}

/******************************** Box **********************************/

div.box
{
}

div.box_middle
{
	border: 1px solid #ccc;
	border-width: 0px 1px;
	padding: 1px 0px;
	background: #fff;
}

div.box_top
{
	background: url('../gfx/white_box.png') left 0px no-repeat;
	height: 5px;
	font-size: 1px;
}

div.box_top div.box_top
{
	background: url('../gfx/white_box.png') right -5px no-repeat;
}

div.box_top div.box_top div.box_top
{
	background: url('../gfx/white_box.png') right -10px repeat-x;
	margin: 0px 5px;
}

div.box_bottom
{
	background: url('../gfx/white_box.png') left -15px no-repeat;
	height: 5px;
	font-size: 0px;
}

div.box_bottom div.box_bottom
{
	background: url('../gfx/white_box.png') right -20px no-repeat;
}

div.box_bottom div.box_bottom div.box_bottom
{
	background: url('../gfx/white_box.png') right -25px repeat-x;
	margin: 0px 5px;
}

div.box_top_bar
{
	background: url('../gfx/white_box_bar.png') left 0px no-repeat;
	height: 30px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

div.box_top_bar div.box_top_bar
{
	background: url('../gfx/white_box_bar.png') right -30px no-repeat;
}

div.box_top_bar div.box_top_bar div.box_top_bar
{
	background: url('../gfx/white_box_bar.png') right -60px repeat-x;
	margin: 0px 8px;
}

div.box_top_bar a
{
	float: left;
	background: url('../gfx/white_box_bar.png') right -90px no-repeat;
	height: 30px;
	padding: 0px 15px 0px 10px;
	color: #000;
	text-decoration: none;
	line-height: 30px;
	font-size: 9pt;
}

div.box_top_bar a.first
{
	padding-left: 5px;
}

div.box_top_bar div.right
{
	float: right;
}

div.box_top_bar div.right span
{
	float: left;
	height: 30px;
	padding: 0px 5px 0px 10px;
	color: #000;
	line-height: 30px;
	font-size: 9pt;
}

div.box_top_bar div.right span.profile
{
	background: url('../gfx/profile_small.png') left center no-repeat;
	padding-left: 20px;
}