body
{
	margin: 0px;
	padding: 0px;
	font-family: "New York", Georgia, "Palatino", serif;
	border-top: 4px solid #edebd5;
}

.clear
{
	clear: both;
}

a.link
{
	color: #ccc;
}

a.link span
{
	color: #3366FF;
}


a.link:hover, a.link:hover span
{
	color: #0033aa;
}