body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: Arial,Helvetica,sans-serif;
	background: #f5f5f5;
}

/************************* Common **********************/

.clear
{
	clear: both;
}

form
{
	margin: 0px;
}

img
{
	border: 0px;
}

a.link
{
	color: #ccc;
}

a.link span
{
	color: #3366FF;
}

a.link:hover, a.link:hover span
{
	color: #0033aa;
}

h1.header
{
	margin: 0 0 10px;
	font-weight: normal;
	font-size: 16pt;
	color: #456;
}

/************************** Article *******************/

div.article
{
	/*font-family: Georgia,"Times New Roman","Times",serif;*/
}

div.article p
{
	font-size: 14px;
	line-height: 20px;
	color: #234;
}

/************************** Layout ********************/

div.root
{
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}

/**************************** Casing ************************/

div.casing
{
	padding-top: 20px;
	padding-bottom: 50px;
}

div.casing_top
{
	background: url('../gfx/box.png') left top no-repeat;
	height: 7px;
	font-size: 0;
}

div.casing_top div
{
	background: url('../gfx/box.png') right -7px no-repeat;
	height: 7px;
}

div.casing_top div div
{
	background: url('../gfx/box.png') left -14px repeat-x;
	margin: 0 8px;
}

div.casing_bottom
{
	background: url('../gfx/box.png') left -21px no-repeat;
	height: 10px;
	font-size: 0;
}

div.casing_bottom div
{
	background: url('../gfx/box.png') right -31px no-repeat;
	height: 10px;
}

div.casing_bottom div div
{
	background: url('../gfx/box.png') left -41px repeat-x;
	margin: 0 8px;
}

div.casing_middle
{
	background: url('../gfx/box_middle.png') left top repeat-y;
}

div.casing_middle div.casing_middle
{
	background: url('../gfx/box_middle.png') right top repeat-y;
}

div.casing_body
{
	margin: 0 3px;
	background: #fff;
}

div.casing_head
{
	border-bottom: 1px solid #ddd;
	position: relative;
	height: 38px;
}

div.casing_foot
{
	height: 28px;
	border-top: 1px solid #ddd;
}

/**************************** Search *************************/

form.casing_search
{
	position: absolute;
	right: 16px;
	top: 7px;
	background: url('../gfx/search.png') left top repeat-x;
	height: 21px;
	margin: 0;
}

form.casing_search div
{
	background: url('../gfx/search.png') left -21px no-repeat;
	height: 21px;
	float: left;
}

form.casing_search div div
{
	background-position: right -42px;
	padding: 0px 0px 0px 20px;
}

form.casing_search input
{
	border: 0px;
	background: none;
	width: 100px;
	font-family: Verdana,sans-serif;
	font-size: 11px;
	margin-top: 2px;
}

form.casing_search_dirty
{
	background-position: left -63px;
}

form.casing_search_dirty div
{
	background-position: left -84px;
}

form.casing_search_dirty div div
{
	background-position: right -105px;
}

form.casing_search div.reset
{
	display: none;
	width: 20px;
	height: 21px;
	background: url('../gfx/search.png') left -126px no-repeat;
	position: absolute;
	right: 0;
}

form.casing_search_dirty div.reset
{
	display: block;
}

#casing_search_result
{
	overflow: hidden;
	display: none;
}

/**************************** Content ************************/

div.content
{
	overflow: hidden;
	background: url('../gfx/sidebar.png') 565px top repeat-y;
}

div.content_left
{
	float: left;
	width: 565px;
}

div.content_right
{
	float: left;
	width: 193px;
	padding: 0px 15px;
	overflow: hidden;
}

div.content_right_busy
{
	background: url('../gfx/sidebar_spinner.gif') 185px 8px no-repeat;
}

div.content_right_body
{
	padding-top: 10px;
}

div.content_body
{
	padding: 15px;
	overflow: hidden;
}

/****************************** Sidebar **************************/

div.content_right h2
{
	font-weight: normal;
	margin: 0px;
	font-size: 14pt;
	color: #025ab0;
}

div.content_right label
{
	position: absolute;
	color:#666666;
	font-size:9pt;
	margin-top: 4px;
	margin-left: 5px;
}

div.content_right span.hint
{
	display: block;
	font-size: 8pt;
	color: #aaa;
	padding-left: 2px;
}

div.content_right span.error
{
	color: red;
	font-size: 8pt;
	display: block;
	padding-left: 2px;
}

div.content_right p
{
	margin: 5px 0px 0px;
}

div.content_right p.response
{
	color:red;
	font-size: 9pt;
}

div.content_right p.buttons
{
	text-align: right;
}

div.content_right form
{
	margin-bottom: 50px;
}

div.content_right form input.submit
{
	position: absolute;
	left: -100px;
	top: -100px;
}

/**************************** User info ************************/

#userinfo
{
	font-size: 10pt;
	margin-bottom: 20px;
}
#userinfo div.thumbnail
{
	height: 55px;
	width: 50px;
	margin-right: 10px;
	border: 1px solid #ddd;
	background: #fff url('../gfx/user.png') center center no-repeat;
	float: left;
}

/************************** Sidebar *********************/

div.content_right p.buttons a.link
{
	float: left;
	font-size: 11px;
	margin-left: 3px;
	margin-top: 5px;
}

div.content_right p.buttons a.link span
{
	color: #666;
}

a.sidebar_button
{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	background: url('../gfx/sidebar_button.png') repeat-x;
	font-size: 9pt;
	text-decoration: none;
	color: #000;
	letter-spacing: .5px;
	cursor: pointer;
}

a.sidebar_button span
{
	display: inline-block;
	height: 22px;
	background: url('../gfx/sidebar_button.png') left -22px no-repeat;
}

a.sidebar_button span span
{
	background: url('../gfx/sidebar_button.png') right -44px no-repeat;
	padding: 0px 15px;
}

a.sidebar_button:hover, a.sidebar_button:focus
{
	background-position: left -66px;
}

a.sidebar_button:hover span, a.sidebar_button:focus span
{
	background-position: left -88px;
}

a.sidebar_button:hover span span, a.sidebar_button:focus span span
{
	background-position: right -110px;
}

a.sidebar_button:active
{
	background-position: left -132px;
}

a.sidebar_button:active span
{
	background-position: left -154px;
}

a.sidebar_button:active span span
{
	background-position: right -176px;
}

/****************************** Field **************************/

span.field
{
	display: block;
	height: 22px;
	background: url('../gfx/field.png') left top no-repeat;
	font-size: 0px;
}

span.field span
{
	display: block;
	height: 22px;
	background: url('../gfx/field.png') right -22px no-repeat;
}

span.field span span
{
	margin: 0px 3px;
	background: url('../gfx/field.png') left -44px repeat-x;
}

span.field input
{
	background: none;
	border: 0px;
	margin: 0px;
	width: 100%;
	padding: 0px;
	display: inline-block;
	font-size: 10pt;
	padding-top: 2px;
	line-height: 20px;
}

div.content_right input.in2igui_placeholder
{
	color: #666;
	font-size: 9pt;
	padding-top: 3px;
}

/*************************** Navigation ********************************/

ul.navigation
{
	list-style: none;
	margin: -2px 0 0 6px;
	padding: 0px;
	position: absolute;
}

ul.navigation li
{
	float: left;
}

ul.navigation a
{
	float: left;
	height: 34px;
	text-decoration: none;
	color: #ddd;
	padding:4px 2px 0;
	cursor: pointer;
}

ul.navigation a span
{
	text-decoration: none;
	color: #333;
	height: 29px;
	float: left;
	line-height: 29px;
}

ul.navigation a span span
{
	padding: 0px 10px;
}

ul.navigation a:hover span
{
	background: url('../gfx/top_tab.png') left -58px no-repeat;
}

ul.navigation a:hover span span
{
	background: url('../gfx/top_tab.png') right -87px no-repeat;
}

ul.navigation a.home
{
	background: url('../gfx/logo.png') no-repeat 14px center;
	width: 120px;
	padding-left: 20px;
}

ul.navigation a.home:hover
{
	text-decoration: none;
}

ul.navigation a.home span
{
	visibility: hidden;
}

ul.navigation a.selected
{
	
}

ul.navigation a.selected span
{
	color: #fff;
	background: url('../gfx/top_tab.png') left 0 no-repeat;
}

ul.navigation a.selected span span
{
	background: url('../gfx/top_tab.png') right -29px no-repeat;
}

/***************************** Tabs *******************************/

ul.tabs
{
	height: 30px;
	margin: 0;
	padding: 0 9px;
	background: url('../gfx/tabs.png');
	list-style: none;
	font-size: 16px;
	line-height: 29px;
}

ul.tabs *
{
	background: url('../gfx/tabs.png');
	float: left;
	height: 30px;
}

ul.tabs li
{
	background-position: 0 -30px;
	margin-left: 4px;
}

ul.tabs a
{
	background-position: 100% -60px;
	padding: 0 10px;
	color: #666;
	text-decoration: none;
}

ul.tabs li:hover
{
	background-position: 0 -90px;
}

ul.tabs li:hover a
{
	background-position: 100% -120px;
	color: #000;
}

ul.tabs li.highlighted
{
	background-position: 0 -150px;
}

ul.tabs li.highlighted a
{
	background-position: 100% -180px;
}

div.tabs_content
{
	padding: 15px;
}

/***************************** Search *******************************/

#casing_search_result ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#casing_search_result li
{
	overflow: hidden;
	padding: 5px 0;
}

#casing_search_result li.user div.thumbnail
{
	height: 45px;
	width: 40px;
	margin-right: 10px;
	border: 1px solid #ddd;
	background: #fff url('../gfx/user.png') center center no-repeat;
	float: left;
}

#casing_search_result li.user p.username
{
	color: #666;
}

#casing_search_result li.user p.website
{
	margin-top: 5px;
}

#casing_search_result p
{
	margin: 0;
}

div.casing_result_group
{
	padding: 10px 0;
}

div.casing_result_group h2
{
	font-size: 14pt;
	font-weight: normal;
	margin: 0 0 5px;
	color: #999;
}

/****************************** List ********************************/

div.oo_list_navigator
{
	overflow: hidden;
	font-size: 0;
}

div.oo_list_navigator a
{
	text-decoration: none;
	color: #333;
	font-size: 13px;
	padding: 1px 4px;
}

div.oo_list_navigator a:hover
{
	background: #ddd;
}

div.oo_list_navigator a.oo_selected
{
	background: #aaa;
	color: #fff;
}

ol.oo_list_result
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10pt;
}

ol.oo_list_result li
{
	padding: 3px 5px;
	border-bottom: 1px solid #eee;
}

ol.oo_gallery
{
	padding: 5px 13px 10px;
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

ol.oo_gallery li
{
	float: left;
}

ol.oo_gallery a
{
	display: inline-block;
	border: 1px solid #ddd;
	padding: 4px;
	margin: 10px 10px 0 0;
}

/****************************** User ********************************/

div.login_info
{
	float: right;
	font-size: 9pt;
	margin: 13px 20px 0px 0px;
	height: 22px;
	line-height: 22px;
	padding-left: 26px;
	background: url('../gfx/user_mini.png') left center no-repeat;
}

/****************************** Footer ********************************/

.footer
{
	text-align: center;
	font-size: 10pt;
	color: #999;
	padding-top: 10px;
	height: 30px;
	margin-top: 30px;
	position: relative;
	width: 800px;
	margin: -41px auto 0;
}

.footer a span
{
	color: #666;
}

/***************************** Formula ********************************/

table.formula th
{
	text-align: right;
	font-weight: normal;
	font-size: 13px;
}
