/********************** Image view ******************/

div.image_view div.container
{
	margin-left: 330px;
	width: 390px;
}

div.image_view p.fileinfo
{
	margin-bottom: 20px;
}

div.image_view div.editbutton
{
	margin-top: 20px;
}

div.image_view div.image_preview
{
	float: left;
	width: 315px;
}

div.image_view p.image_actions
{
	font-size: 10pt;
	text-align: center;
	margin: 5px 0;
}