.message
{
	width: 500px;
	border: 1px solid #efcf3a;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	margin-top: 0px;
}


.message_large
{
	background: #fefae1 url('../gfx/message_large_bg.png') bottom left repeat-x;
}

.message_body
{
	padding: 20px;
	min-height: 120px;
}

.smile .message_body
{
	background: url('../gfx/smiley_large_smile.png') 10px 10px no-repeat;
	padding-left: 160px;
}

.gasp .message_body
{
	background: url('../gfx/smiley_large_gasp.png') 10px 10px no-repeat;
	padding-left: 160px;
}

.message_large h1
{
	margin: 0px 0px 10px 0px;
	color: #55360f;
	font-family: "Trebuchet MS";
	font-size: 16pt;
}

.message_large p
{
	margin: 0px 0px 10px 0px;
	color: #55360f;
	font-family: "Trebuchet MS";
	font-size: 11pt;
}

.message .button
{
	float: left;
	background: url('../gfx/button_left.png') top left no-repeat;
	padding-left: 6px;
	text-decoration: none;
	color: #094100;
	margin-right: 10px;
	cursor: pointer;
}
.message .button span
{
	display: block;
	height: 28px;
	background: url('../gfx/button_right.png') top right no-repeat;
	padding-right: 6px;
}
.message .button span span
{
	display: block;
	height: 23px;
	background: url('../gfx/button_bg.png') top left repeat-x;
	padding: 5px 5px 0px 5px;
	font-family: "Trebuchet MS";
	font-size: 11pt;
}

/********************** Progress *********************/
