.floating_window
{
	position: absolute;
	display: none;
}

.floating_window .top
{
}

.floating_window .close
{
	background:transparent url(../gfx/window_close.png) no-repeat scroll left top;
	height:16px;
	margin-left:19px;
	margin-top:14px;
	position:absolute;
	width:16px;
}

.floating_window .titlebar
{
	background: url('../gfx/window_top_left.png') top left no-repeat;
	height: 35px;
	padding-left: 30px;
}

.floating_window .titlebar div
{
	background: url('../gfx/window_top_right.png') top right no-repeat;
	height: 35px;
	padding-left: 0px;
	padding-right: 30px;
}

.floating_window .titlebar div div
{
	padding: 0px;
	background: url('../gfx/window_top.png') top right repeat-x;
}

.floating_window .titlebar div div span
{
	color:#666666;
	display:block;
	font-family:"Lucida Grande",Verdana,Tahoma,sans-serif;
	font-size:11pt;
	padding-top:13px;
	text-align:center;
}

.floating_window .body
{
	background: url('../gfx/window_left.png') top left repeat-y;
	padding-left: 12px;
}

.floating_window .body .body
{
	background: url('../gfx/window_right.png') top right repeat-y;
	padding-left: 0px;
	padding-right: 12px;
}

.floating_window .content
{
	background: #fff;
	overflow: hidden;
	padding: 10px 10px 0px 10px;
}

.floating_window .bottom
{
	background: url('../gfx/window_bottom_left.png') top left no-repeat;
	height: 25px;
	padding-left: 26px;
}

.floating_window .bottom div
{
	background: url('../gfx/window_bottom_right.png') top right no-repeat;
	height: 25px;
	padding-left: 0px;
	padding-right: 26px;
}

.floating_window .bottom div div
{
	padding: 0px;
	background: url('../gfx/window_bottom.png') top right repeat-x;
}

/************************** Button **********************/

.floating_window .button
{
	padding: 0px;
	background: url('../gfx/window_button_bg.png') top left repeat-x;
	height: 28px;
	float: right;
	cursor: pointer;
}

.floating_window .button div
{
	background: url('../gfx/window_button_left.png') top left no-repeat;
	padding-left: 13px;
	height: 28px;
}

.floating_window .button div div
{
	background: url('../gfx/window_button_right.png') top right no-repeat;
	padding-left: 0px;
	padding-right: 13px;
	padding-top: 3px;
	height: 25px;
	font-family: "Lucida Grande",Verdana,Tahoma,sans-serif;
	color: #2f5e89;
	font-size: 11pt;
}