.in2igui_alert
{
	width: 500px;
	border: 1px solid #efcf3a;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	margin-top: 0px;
	background: #fefae1 url('../gfx/alert_large_bg.png') bottom left repeat-x;
	display: none;
	opacity: 0;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}

.in2igui_alert_body
{
	min-height: 135px;
	padding: 13px 20px;
	overflow: hidden;
}

.in2igui_alert .smile
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_smile.png') no-repeat scroll 10px 10px;
}

.in2igui_alert .gasp
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_gasp.png') no-repeat scroll 10px 10px;
}

.in2igui_alert h1
{
	color:#55360F;
	font-size:16pt;
	margin:0px 0px 10px;
	font-weight: bold;
	text-align: left;
}

.in2igui_alert p
{
	color: #55360F;
	font-size: 11pt;
	margin: 0px 0px 10px;
	line-height: 14pt;
	min-height: 57px;
}

/************************ Override buttons ************************/



.in2igui_alert .in2igui_button
{
	float: left;
	background: url('../gfx/alert_button.png') top left no-repeat;
	padding-left: 6px;
	text-decoration: none;
	color: #094100;
	margin-right: 10px;
	cursor: pointer;
	white-space: nowrap;
}
.in2igui_alert .in2igui_button span
{
	display: block;
	height: 28px;
	background: url('../gfx/alert_button.png') 100% -28px no-repeat;
	padding-right: 6px;
}
.in2igui_alert .in2igui_button span span
{
	display: block;
	height: 28px;
	background: url('../gfx/alert_button.png') 0px -56px repeat-x;
	padding: 0px 5px 0px 5px;
	font-family: "Trebuchet MS";
	font-size: 10pt;
	line-height: 26px;
}

.in2igui_alert .in2igui_button:hover
{
	background: url('../gfx/alert_button.png') 0px -84px no-repeat;
}

.in2igui_alert .in2igui_button:hover span
{
	background: url('../gfx/alert_button.png') 100% -112px no-repeat;
}

.in2igui_alert .in2igui_button:hover span span
{
	background: url('../gfx/alert_button.png') 0px -140px repeat-x;
}