div.in2igui_alert
{
	width: 500px;
	border: 1px solid #efcf3a;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	margin-top: 0px;
	background: #fefae1 url('../gfx/alert_large_bg.png') bottom left repeat-x;
	display: none;
	opacity: 0;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}

div.in2igui_alert_body
{
	min-height: 135px;
	padding: 13px 15px;
	overflow: hidden;
}

div.in2igui_alert_content
{
	min-height: 105px;
	overflow: hidden;
}

div.in2igui_alert .smile
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_smile.png') no-repeat scroll 10px 10px;
}

div.in2igui_alert .gasp
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_gasp.png') no-repeat scroll 10px 10px;
}

div.in2igui_alert h1
{
	color:#55360F;
	font-size:16pt;
	margin:0px 0px 10px;
	font-weight: bold;
	text-align: left;
}

div.in2igui_alert p
{
	color: #55360F;
	font-size: 11pt;
	margin: 0px 0px 10px;
	line-height: 14pt;
	min-height: 57px;
}

/************************ Override buttons ************************/

div.in2igui_alert div.in2igui_buttons
{
	float: right;
}

div.in2igui_alert a.in2igui_button
{
	float: left;
	background: url('../gfx/alert_button.png') top left no-repeat;
	text-decoration: none;
	color: #004a80;
	margin-left: 10px;
	margin-right: 0px;
	cursor: pointer;
	white-space: nowrap;
}

div.in2igui_alert a.in2igui_button span
{
	display: block;
	height: 28px;
	background: url('../gfx/alert_button.png') 100% -28px no-repeat;
}

div.in2igui_alert a.in2igui_button span span
{
	display: block;
	height: 28px;
	background: url('../gfx/alert_button.png') 0px -56px repeat-x;
	padding: 0px 10px;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 26px;
}

div.in2igui_alert a.in2igui_button:hover
{
	background-position: 0px -84px;
}

div.in2igui_alert a.in2igui_button:hover span
{
	background-position: 100% -112px;
}

div.in2igui_alert a.in2igui_button:hover span span
{
	background-position: 0px -140px;
}

div.in2igui_alert span.in2igui_button_highlighted, div.in2igui_alert span.in2igui_button_highlighted span, div.in2igui_alert span.in2igui_button_highlighted span span
{
	color: #094100;
	background-image: url('../gfx/alert_button_highlighted.png');
}