div.in2igui_articles div.in2igui_article
{
	padding: 5px 0;
}

div.in2igui_article h2
{
	margin: 0;
	font-weight: normal;
	font-size: 14px;
}

div.in2igui_article p
{
	font-size: 11px;
	margin: 0;
	color: #333;
}

div.in2igui_article p.in2igui_dimmed
{
	color: #999;
}