html,body
{
	height: 100%;
	margin: 0px;
	font-size: 11pt;
	background: #e8ebf0 url('../gfx/bg.png') repeat-x;
	overflow: auto;
}

body, textarea
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

td
{
	padding: 0px;
}

table
{
	border-spacing: 0px 0px;
}

table.split
{
	height: 100%;
	width: 100%;
	border-spacing: 0px 0px;
}

td.split_content
{
	vertical-align: top;
}

td.split_sidebar
{
	background: #EBF0F7;
	width: 200px;
	border-right: 1px solid #B3B3B3;
	vertical-align: top;
}


/*********************** browser ********************/
div.browser
{
	height: 417px;
	overflow: auto;
}
div.browser .contents
{
	height: 400px;
}

div.browser .column
{
	background: #fff;
	float:left;
	height:400px;
	overflow-x:auto;
	overflow-y:auto;
	width:198px;
	font-size: 10pt;
	border: 1px solid #ddd;
}

div.browser .column .element
{
	padding: 1px 4px;
	overflow: hidden;
	cursor: default;
	white-space: nowrap;
}

div.browser .column .element:hover
{
	background: #eee;
}

div.browser .column div.selected, div.browser .column div.selected:hover
{
	background: #3875D7;
	color: #fff;
}

/************************** tabs ************************/

.tabs_bar
{
	border-bottom: 1px solid #ddd;
	line-height: 25px;
	height: 23px;
	background: #fafafa;
	padding-left: 5px;
}

.tabs_bar span
{
	border: 1px solid #ddd;
	border-bottom: 0px;
	padding: 2px 5px;
	font-size: 10pt;
	margin-left: 2px;
	line-height: 10pt;
	background: #fff;
	cursor: pointer;
}


/************************ overflow **********************/

.overflow
{
	overflow: auto;
	overflow-x:hidden;
	width: 100%;
}

html,body
{
	height: 100%;
	margin: 0px;
	font-size: 11pt;
	background: #e8ebf0 url('../gfx/bg.png') repeat-x;
	overflow: auto;
}

body, textarea
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

td
{
	padding: 0px;
}

table
{
	border-spacing: 0px 0px;
}

table.split
{
	height: 100%;
	width: 100%;
	border-spacing: 0px 0px;
}

td.split_content
{
	vertical-align: top;
}

td.split_sidebar
{
	background: #EBF0F7;
	width: 200px;
	border-right: 1px solid #B3B3B3;
	vertical-align: top;
}


/*********************** browser ********************/
div.browser
{
	height: 417px;
	overflow: auto;
}
div.browser .contents
{
	height: 400px;
}

div.browser .column
{
	background: #fff;
	float:left;
	height:400px;
	overflow-x:auto;
	overflow-y:auto;
	width:198px;
	font-size: 10pt;
	border: 1px solid #ddd;
}

div.browser .column .element
{
	padding: 1px 4px;
	overflow: hidden;
	cursor: default;
	white-space: nowrap;
}

div.browser .column .element:hover
{
	background: #eee;
}

div.browser .column div.selected, div.browser .column div.selected:hover
{
	background: #3875D7;
	color: #fff;
}

/************************** tabs ************************/

.tabs_bar
{
	border-bottom: 1px solid #ddd;
	line-height: 25px;
	height: 23px;
	background: #fafafa;
	padding-left: 5px;
}

.tabs_bar span
{
	border: 1px solid #ddd;
	border-bottom: 0px;
	padding: 2px 5px;
	font-size: 10pt;
	margin-left: 2px;
	line-height: 10pt;
	background: #fff;
	cursor: pointer;
}


/************************ overflow **********************/

.overflow
{
	overflow: auto;
	overflow-x:hidden;
	width: 100%;
}

.tabbox
{
	width: 600px;
	position: relative;
	left: 50%;
	margin-left: -300px;
	margin-top: 30px;
}

.tabbox_body
{
	border: 4px solid #d4d9e1;
	border-width: 0px 4px;
	background: #fff;
	overflow: hidden;
}

.tabbox_bottom
{
	height: 8px;
	font-size: 0px;
	background: url('../gfx/tabbox_bottom_left.png') bottom left no-repeat;
	padding-left: 8px;
}

.tabbox_bottom div
{
	height: 8px;
	background: url('../gfx/tabbox_bottom_right.png') bottom right no-repeat;
	padding-right: 8px;
}

.tabbox_bottom div div
{
	padding: 0px;
	background: url('../gfx/tabbox_bottom.png') bottom left repeat-x;
}

.tabbox_top
{
	height: 30px;
	background: url('../gfx/tabbox_top_left.png') bottom left no-repeat;
	padding-left: 8px;
}

.tabbox_top div
{
	height: 30px;
	background: url('../gfx/tabbox_top_right.png') bottom right no-repeat;
	padding-right: 8px;
}

.tabbox_top div div
{
	padding: 0px;
	background: url('../gfx/tabbox_top.png') bottom left repeat-x;
}

.tabbox_tab_body
{
	width: 592px;
	float: left;
}

/********************************** Tabs ********************************/


.tabbox_top .tab
{
	float: left;
	height: 26px;
	background: #d4d9e1;
	margin-left: 5px;
	padding: 0px 8px;
	line-height: 23px;
}

.tabbox_top .tab_selected
{
	background: #fff;
}

.tabbox_top .tab a
{
	text-decoration: none;
	color: #666;
}form.in2igui_formula
{
	padding: 0px;
	margin: 0px;
	overflow-x: auto;
}

.in2igui_formula_header
{
	color: #0077cd;
	font-size: 16pt;
	padding-bottom: 5px;
}

form.in2igui_formula table.group
{
	border-spacing: 4px 4px;
	width: 100%;
}

form.in2igui_formula table.group_above
{
	border-spacing: 2px;
}

form.in2igui_formula table.split
{
	border-spacing: 5px 0px;
}

form.in2igui_formula table.group label
{
	color: #004A80;
	text-align: right;
	font-size: 12px;
	line-height: 11px;
	font-weight: normal;
}

form.in2igui_formula table.group th label
{
	font-size: 9pt;
}

form.in2igui_formula table.group th
{
	width: 1%;
	vertical-align: top;
	padding-right: 5px;
	text-align: right;
	line-height: 20px;
}

form.in2igui_formula .field
{
	border: 1px solid #ddd;
	border-color: #bbb #ccc #eee;
}

form.in2igui_formula input.text, form.in2igui_formula textarea
{
	border: none;
	padding: 0px 0px;
	margin: 0px;
	font-size: 10pt;
	text-indent: 2px;
	width: 100%;
}

form.in2igui_formula fieldset
{
	border: 1px solid #ccc;
	margin: 0px;
	padding: 0px 8px 5px 6px;
}

form.in2igui_formula fieldset legend
{
	font-size: 9pt;
	color: #999;
}

/************************************** Buttons *********************************/

.in2igui_formula_buttons
{
	overflow: hidden;
	padding-bottom: 3px;
}

form.in2igui_formula a.in2igui_button
{
	background: url('../gfx/button.png') top left no-repeat;
	color: #004a80;
	float: right;
	font-size: 11pt;
	height: 28px;
	line-height: 25px;
	cursor: pointer;
	margin-left: 10px;
}

form.in2igui_formula a.in2igui_button span
{
	background-image: url('../gfx/button.png');	
	background-repeat: no-repeat;
	display: block;
	background-position: 100% -28px;
	background-repeat: no-repeat;
	height: 28px;
}

form.in2igui_formula a.in2igui_button_highlighted, form.in2igui_formula a.in2igui_button_highlighted span
{
	color: #094100;
	background-image: url('../gfx/button_highlighted.png');
	background-repeat: no-repeat;
}

form.in2igui_formula a.in2igui_button span span
{
	background-position: 0px -56px;
	background-repeat: repeat-x;
	margin: 0px 4px;
	padding: 0px 6px;
}

form.in2igui_formula a.in2igui_button:hover
{
	background-position: 0px -84px;
}

form.in2igui_formula a.in2igui_button:hover span
{
	background-position: 100% -112px;
}

form.in2igui_formula a.in2igui_button:hover span span
{
	background-position: 0px -140px;
	background-repeat: repeat-x;
}

form.in2igui_formula a.in2igui_button_disabled
{
	color: #666;
	opacity: .5;
	cursor: default;
}

form.in2igui_formula a.in2igui_button_disabled:hover
{
	background-position: top left;
}

form.in2igui_formula a.in2igui_button_disabled:hover span
{
	background-position: 100% -28px;
}

form.in2igui_formula a.in2igui_button_disabled:hover span span
{
	background-position: 0px -56px;
}

/******************************* Radio button **************************/

form.in2igui_formula .radiobuttons
{
	overflow: hidden;
}

form.in2igui_formula .radiobutton
{
	overflow: hidden;
	padding: 4px 0px 0px;
	margin-right: 10px;
	font-size: 10pt;
	cursor: default;
	color: #004A80;
	float: left;
}

form.in2igui_formula .radiobutton .radio
{
	float: left;
	background: url('../gfx/radiobutton.png') no-repeat;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	cursor: pointer;
}

form.in2igui_formula .radiobuttons .selected .radio
{
	background-position: 0px -18px;
}

/******************************* Checkboxes **************************/

form.in2igui_formula .checkboxes
{
}

form.in2igui_formula .checkbox
{
	overflow: hidden;
	padding: 4px 0px 0px;
	font-size: 10pt;
	cursor: default;
	color: #004A80;
}

form.in2igui_formula .checkbox .check
{
	float: left;
	background: url('../gfx/checkbox.png') no-repeat;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	cursor: pointer;
}

form.in2igui_formula .checked .check
{
	background-position: 0px -18px;
}

/******************************* Object list **************************/

table.in2igui_objectlist
{
	width: 100%;
}

table.in2igui_objectlist thead th.in2igui_objectlist
{
	text-align: left;
	font-size: 9pt;
	line-height: 9pt;
	color: #666;
	font-weight: normal;
	padding-left: 4px;
}

table.in2igui_objectlist thead th.in2igui_objectlist1
{
	padding-left: 0px;	
}

.in2igui_objectlist tbody input.text
{
	border-color: #ccc #ddd #eee #ddd;
	width: 100%;
}
.in2igui_objectlist tbody td
{
	padding: 0px 0px 2px 4px;
}

.in2igui_objectlist tbody td.first
{
	padding-left: 0px;
}
.horizontal
{
	overflow: hidden;
}

.horizontal_content
{
	float: left;
	/*background: url('../gfx/line.gif') top left repeat-y;*/
}

.horizontal_content_first
{
	background: none;
}.in2igui_alert
{
	width: 500px;
	border: 1px solid #efcf3a;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	margin-top: 0px;
	background: #fefae1 url('../gfx/alert_large_bg.png') bottom left repeat-x;
	display: none;
	opacity: 0;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}

.in2igui_alert_body
{
	min-height: 135px;
	padding: 13px 20px;
	overflow: hidden;
}

.in2igui_alert .smile
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_smile.png') no-repeat scroll 10px 10px;
}

.in2igui_alert .gasp
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_gasp.png') no-repeat scroll 10px 10px;
}

.in2igui_alert h1
{
	color:#55360F;
	font-size:16pt;
	margin:0px 0px 10px;
	font-weight: bold;
	text-align: left;
}

.in2igui_alert p
{
	color: #55360F;
	font-size: 11pt;
	margin: 0px 0px 10px;
	line-height: 14pt;
	min-height: 57px;
}

/************************ Override buttons ************************/



.in2igui_alert .in2igui_button
{
	float: left;
	background: url('../gfx/alert_button.png') top left no-repeat;
	padding-left: 6px;
	text-decoration: none;
	color: #094100;
	margin-right: 10px;
	cursor: pointer;
	white-space: nowrap;
}
.in2igui_alert .in2igui_button span
{
	display: block;
	height: 28px;
	background: url('../gfx/alert_button.png') 100% -28px no-repeat;
	padding-right: 6px;
}
.in2igui_alert .in2igui_button span span
{
	display: block;
	height: 28px;
	background: url('../gfx/alert_button.png') 0px -56px repeat-x;
	padding: 0px 5px 0px 5px;
	font-family: "Trebuchet MS";
	font-size: 10pt;
	line-height: 26px;
}

.in2igui_alert .in2igui_button:hover
{
	background: url('../gfx/alert_button.png') 0px -84px no-repeat;
}

.in2igui_alert .in2igui_button:hover span
{
	background: url('../gfx/alert_button.png') 100% -112px no-repeat;
}

.in2igui_alert .in2igui_button:hover span span
{
	background: url('../gfx/alert_button.png') 0px -140px repeat-x;
}table.view
{
	width: 100%;
}

tr.view_toolbar
{
	height: 55px;
	background: url('../gfx/toolbar_bg.png') top left repeat-x;
}

td.view_toolbar
{
	height: 1%;
}

tr.view_toolbar_box
{
	background: none;
}

tr.view_toolbar_box td
{
	background: url('../gfx/toolbar_bg.png') 100% -58px no-repeat;
}

div.view_toolbar_box
{
	background: url('../gfx/toolbar_bg.png') 0px -116px no-repeat;
	height: 58px;
}

div.view_toolbar_box div.view_toolbar_box
{
	margin: 0px 5px;
	background: url('../gfx/toolbar_bg.png') repeat-x;
}

td.view_content
{
	vertical-align: top;
	background: #fff;
}

td.view_content_box
{
	border-style: solid;
	border-color: #d3d3d3;
	border-width: 0px 1px;
}

tr.view_foot
{
	height: 29px;
	background: url('../gfx/view_foot.png');
}

tr.view_foot_box
{
	height: 30px;
	background: none;
}

tr.view_foot_box td
{
	background: url('../gfx/view_foot.png') 100% -30px no-repeat;
}

div.view_foot_box
{
	background: url('../gfx/view_foot.png') 0px -60px no-repeat;
	height: 30px;
}

div.view_foot_box div.view_foot_box
{
	background: url('../gfx/view_foot.png') 100% 0px repeat-x;
	margin: 0px 5px;
}

table.view_box
{
}

td.view_sidebar
{
	background: #ecf0f5;
	border-right: 1px solid #d3d3d3;
	width: 200px;
}div.toolbar
{
	height: 58px;
	padding: 0px 4px;
}

div.toolbar .disabled
{
	opacity: 0.5;
}

div.toolbar_icon
{
	height: 51px;
	float: left;
	margin: 7px 6px 0px 6px;
	font-size: 0px;
	text-align: center;
	cursor: pointer;
}
div.toolbar_icon div.icon
{
	height: 32px;
	width: 32px;
	margin: 0 auto 2px auto;
}

div.toolbar_icon div.overlay
{
	height: 32px;
	width: 32px;
	background: right bottom no-repeat;
}


div.toolbar_icon:hover div.icon
{
	background-position: 0px -32px;
}

div.toolbar_icon span
{
	font-size: 11px;
	color: #345;
}

div.toolbar_search
{
	text-align: center;
	height: 51px;
	float: left;
}

div.toolbar_search input
{
	height: 16px;
	border: 1px solid #ddd;
	margin: 10px 0px 7px 0px;
}

div.toolbar_search span
{
	display: block;
	font-size: 8pt;
	color: #345;
}.in2igui_window
{
	position: absolute;
	top: 50px;
	left: 300px;
	display: none;
	opacity: 0;
}

.in2igui_window .titlebar span
{
	background: #eee;
	padding: 0px 6px;
}

.in2igui_window .titlebar
{
	background: url('../gfx/window_bg.png') top left no-repeat;
	color:#004A80;
	font-size:11pt;
	height:28px;
	line-height:34px;
	padding: 0px 0px 0px 16px;
	cursor: default;
	text-align:center;
}

.in2igui_window .titlebar .titlebar
{
	background-position: right -28px;
	padding: 0px 16px 0px 0px;
}

.in2igui_window .titlebar .titlebar .titlebar
{
	background-position: left -56px;
	background-repeat: repeat-x;
	padding: 0px;
}

.in2igui_window_content
{
	background: url('../gfx/window_bg_middle.png') top left repeat-y;
	padding: 0px 0px 0px 9px;
}

.in2igui_window_content .in2igui_window_content
{
	background-position: top right;
	padding: 0px 9px 0px 0px;
}

.in2igui_window_content .in2igui_window_content .in2igui_window_content
{
	padding: 0px;
	background: #fff;
}



.in2igui_window_bottom
{
	background: url('../gfx/window_bg.png') left -84px no-repeat;
	padding: 0px 0px 0px 16px;
	font-size: 0px;
	height: 14px;
}

.in2igui_window_bottom div
{
	background: url('../gfx/window_bg.png') right -98px no-repeat;
	padding: 0px 16px 0px 0px;
	height: 14px;
}

.in2igui_window_bottom div div
{
	background-position: left -112px;
	background-repeat: repeat-x;
	padding: 0px;
}

.in2igui_window .titlebar .titlebar
{
	background-position: right -28px;
	padding: 0px 16px 0px 0px;
}

.in2igui_window .titlebar .titlebar .titlebar
{
	background-position: left -56px;
	background-repeat: repeat-x;
	padding: 0px;
}


.in2igui_window .close
{
	position: absolute;
	cursor: pointer;
	margin-left: 13px;
	margin-top: 6px;
}

.floating_window
{
}
div.in2igui_list
{
	/*padding-right: 10px;*/
}

div.in2igui_list table
{
	width: 100%;
}

div.in2igui_list table thead th
{
	text-align: left;
	font-size: 9pt;
	border-bottom: 1px solid #eee;
	padding: 1px 3px;
}

div.in2igui_list table tbody td
{
	font-size: 9pt;
	border-bottom: 1px solid #eee;
	padding: 1px 3px;
	vertical-align: top;
}

div.in2igui_list table tbody td .object
{
	overflow: hidden;
	padding-bottom: 2px;
}

div.in2igui_list table tbody td .icon
{
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background: 0px 0px no-repeat;
}


div.in2igui_list table tbody tr:hover
{
	background-color: #EBF0F7;
	cursor: pointer;
}

div.in2igui_list table tbody tr:hover .icon
{
	background-position: 0px -16px;
}

div.in2igui_list table tbody tr.selected
{
	background-color: #3875d7;
	color: #fff;
}

div.in2igui_list .window_number
{
	display: none;
}

div.in2igui_list .navigation
{
	height: 20px;
	font-size: 9pt;
	padding: 3px;
}
div.in2igui_list .navigation .count
{
	float: right;
	color: #666;
}

div.in2igui_list .navigation .selection
{
	float: left;
	height: 16px;
	background: url('../gfx/list_selector.png')  no-repeat;
	padding-left: 7px;
}

div.in2igui_list .navigation .selection div
{
	height: 16px;
	background: url('../gfx/list_selector.png') 100% -16px no-repeat;
	padding-right: 7px;
}

div.in2igui_list .navigation .selection div div
{
	padding: 0px 2px;
	background-position: 0px -32px;
	background-repeat: repeat-x;
}

div.in2igui_list .navigation .selection a
{
	cursor: pointer;
	color: #666;
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0px 2px;
}

div.in2igui_list .navigation .selection a:hover
{
	background: #ccc;
	color: #000;
}

div.in2igui_list .navigation .selection a.selected
{
	background: #3875D7;
	color: #fff;
}.in2igui_selection .item
{
	background: 7px center no-repeat;
	font-size: 9pt;
	height: 20px;
	line-height: 22px;
}

.in2igui_selection .item .icon
{
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px 3px 0px 5px;
}

.in2igui_selection .item:hover
{
	background-color: #d4dce9;
	cursor: pointer;
}

.in2igui_selection .item:hover .icon
{
	background-position: 0px -16px;
}

.in2igui_selection .item span
{
	float: right;
	line-height: 16px;
	background: #A9B8CE;
	height: 16px;
	padding: 0px 2px;
	margin: 2px 6px 0px 0px;
	color: #fff;
}

.in2igui_selection div.selected, .in2igui_selection div.selected:hover
{
	background-color: #3875d7;
	color: #fff;
}

.in2igui_selection .title
{
	background: url('../gfx/selection_separator.png') 3px 9px repeat-x;
	color:#334455;
	font-size:13px;
	margin:3px 5px;
	padding-left:16px;
}
.in2igui_selection .title span
{
	background: #EBF0F7;
	padding: 0px 3px;
}