form.in2igui_formula
{
	padding: 0px;
	margin: 0px;
	overflow-x: auto;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

.in2igui_formula_header
{
	color: #0077cd;
	font-size: 13pt;
	padding-bottom: 5px;
}

table.in2igui_formula_group
{
	width: 100%;
}

table.in2igui_formula_group_above
{
	border-spacing: 0px;
}

form.in2igui_formula table.split
{
	border-spacing: 5px 0px;
}

table.in2igui_formula_group label
{
	color: #004A80;
	font-size: 12px;
	font-weight: normal;
}

table.in2igui_formula_group_above label
{
	line-height: 15px;
	display: block;
}

table.in2igui_formula_group th label
{
	font-size: 9pt;
}

table.in2igui_formula_group th
{
	width: 1%;
	vertical-align: top;
	padding: 0px 5px 0px 0px;
	text-align: right;
	line-height: 14px;
	white-space: nowrap;
}

table.in2igui_formula_group_above th
{
	text-align: left;
}

table.in2igui_formula_group_above div.in2igui_field, table.in2igui_formula_group_above div.in2igui_tokens
{
	margin-bottom: 2px;
}

form.in2igui_formula div.in2igui_field
{
	border: 1px solid #ddd;
	border-color: #bbb #ccc #ddd;
	font-size: 0;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 5px;
}

form.in2igui_formula select
{
	/*border: 1px solid #ddd;
	border-color: #eee #eee #ddd;*/
	font-size: 9pt;
	margin: 0px 0px 5px;
}

form.in2igui_formula .in2igui_formula_text
{
	border: 0px;
	padding: 1px 0px;
	margin: 0px;
	font-size: 10pt;
	width: 100%;
	text-indent:2px;
	background: transparent;
}

form.in2igui_formula fieldset
{
	border: 1px solid #ccc;
	margin: 0px;
	padding: 0px 8px 5px 6px;
}

form.in2igui_formula fieldset legend
{
	font-size: 9pt;
	color: #999;
}

/************************************** Buttons *********************************/

.in2igui_formula_buttons
{
	overflow: hidden;
}

form.in2igui_formula a.in2igui_button
{
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}

/******************************* Radio button **************************/

div.in2igui_radiobuttons
{
	overflow: hidden;
	margin-bottom: 5px;
}

div.in2igui_radiobutton
{
	overflow: hidden;
	margin-right: 10px;
	font-size: 10pt;
	cursor: default;
	color: #004A80;
	float: left;
}

div.in2igui_radiobutton div
{
	float: left;
	background: url('../gfx/radiobutton.png') no-repeat;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	cursor: pointer;
}

div.in2igui_radiobuttons div.in2igui_selected div
{
	background-position: 0px -18px;
}

/******************************* Checkboxes **************************/


div.in2igui_checkbox
{
	overflow: hidden;
	padding: 2px 5px 0px 0px;
	margin-bottom: 5px;
	font-size: 10pt;
	cursor: default;
	color: #004A80;
}

div.in2igui_checkboxes div.in2igui_checkbox
{
	margin-bottom: 2px;
}

div.in2igui_checkboxes
{
	margin-bottom: 5px;
}

div.in2igui_checkbox div
{
	float: left;
	background: url('../gfx/checkbox.png') no-repeat;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	cursor: pointer;
}

div.in2igui_checkbox_selected div
{
	background-position: 0px -18px;
}

/******************************* Object list **************************/

table.in2igui_objectlist
{
	margin-top: 1px;
	width: 100%;
}

table.in2igui_objectlist th.in2igui_objectlist
{
	text-align: left;
	font-size: 9pt;
	line-height: 12pt;
	color: #004A80;
	font-weight: normal;
	padding-left: 4px;
}

table.in2igui_objectlist th.in2igui_objectlist1
{
	padding-left: 0px;	
}

.in2igui_objectlist tbody input.text
{
	border-color: #ccc #ddd #eee #ddd;
	width: 100%;
}
.in2igui_objectlist tbody td
{
	padding: 0px 0px 2px 4px;
	vertical-align: top;
}

.in2igui_objectlist tbody td.first
{
	padding-left: 0px;
}

/******************************** Tokens *************************/

div.in2igui_tokens
{
	overflow: hidden;
}

input.in2igui_tokens_token
{
	border-color:#BBBBBB #CCCCCC #DDDDDD;
	border-style:solid;
	border-width:1px;
	width: 50px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	padding: 1px 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}



/************************* Override for windows *******************/


div.in2igui_window table.in2igui_formula_group label
{
	background: rgb(231,231,231);
	padding: 0px 2px;
}

div.in2igui_window_light table.in2igui_formula_group label
{
	color: #004A80;
	background: rgb(229,229,229);
}


div.in2igui_window_dark table.in2igui_formula_group label, div.in2igui_window_dark div.in2igui_checkbox, div.in2igui_window_dark div.in2igui_radiobutton, div.in2igui_window_dark th.in2igui_objectlist
{
	color: #fff;
	background: none;
}

div.in2igui_window_dark div.in2igui_field
{
	background: #222;
}

div.in2igui_window_dark .in2igui_formula_text
{
	color: #fff;
}

div.in2igui_window_dark div.in2igui_field, div.in2igui_window_dark div.in2igui_longfield
{
	border: 1px solid #444;
}

div.in2igui_window_dark input.in2igui_tokens_token
{
	background: #222;
	border: 1px solid #444;
	color: #fff;
}