/************************ overflow **********************/

.in2igui_overflow
{
	overflow: auto;
	width: 100%;
	position: relative;
}



.horizontal
{
	overflow: hidden;
}

.horizontal_content
{
	float: left;
	/*background: url('../gfx/line.gif') top left repeat-y;*/
}

.horizontal_content_first
{
	background: none;
}

.in2igui_horizontal_flexible
{
	width: 100%;
}

.in2igui_horizontal_flexible_content
{
	vertical-align: top;
}

/******************** Columns *********************/

td.in2igui_columns_column
{
	vertical-align: top;
}