/************************ overflow **********************/

.in2igui_overflow
{
	overflow: auto;
	width: 100%;
	position: relative;
}



.horizontal
{
	overflow: hidden;
}

.horizontal_content
{
	float: left;
	/*background: url('../gfx/line.gif') top left repeat-y;*/
}

.horizontal_content_first
{
	background: none;
}

.in2igui_horizontal_flexible
{
	width: 100%;
}

.in2igui_horizontal_flexible_content
{
	vertical-align: top;
}

/******************** Columns *********************/

table.in2igui_columns
{
	border-spacing: 0;
	width: 100%;
	table-layout: fixed; 
}

td.in2igui_columns_column
{
	vertical-align: top;
}

/******************** Header *********************/

h2.in2igui_header
{
	font-weight: normal;
	margin: 0;
	color: #666;
	height: 32px;
	line-height: 32px;
}

h2.in2igui_header span.in2igui_icon_2
{
	margin-right: 3px;
	vertical-align: top;
}