html,body
{
	height: 100%;
	margin: 0px;
	font-size: 11pt;
	background: #e8ebf0 url('../gfx/bg.png') repeat-x;
	overflow: auto;
}

body, textarea
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

td
{
	padding: 0px;
}

table
{
	border-spacing: 0px 0px;
}

table.split
{
	height: 100%;
	width: 100%;
	border-spacing: 0px 0px;
}

td.split_content
{
	vertical-align: top;
}

td.split_sidebar
{
	background: #EBF0F7;
	width: 200px;
	border-right: 1px solid #B3B3B3;
	vertical-align: top;
}


/*********************** browser ********************/
div.browser
{
	height: 417px;
	overflow: auto;
}
div.browser .contents
{
	height: 400px;
}

div.browser .column
{
	background: #fff;
	float:left;
	height:400px;
	overflow-x:auto;
	overflow-y:auto;
	width:198px;
	font-size: 10pt;
	border: 1px solid #ddd;
}

div.browser .column .element
{
	padding: 1px 4px;
	overflow: hidden;
	cursor: default;
	white-space: nowrap;
}

div.browser .column .element:hover
{
	background: #eee;
}

div.browser .column div.selected, div.browser .column div.selected:hover
{
	background: #3875D7;
	color: #fff;
}

/************************** tabs ************************/

.tabs_bar
{
	border-bottom: 1px solid #ddd;
	line-height: 25px;
	height: 23px;
	background: #fafafa;
	padding-left: 5px;
}

.tabs_bar span
{
	border: 1px solid #ddd;
	border-bottom: 0px;
	padding: 2px 5px;
	font-size: 10pt;
	margin-left: 2px;
	line-height: 10pt;
	background: #fff;
	cursor: pointer;
}


/************************ overflow **********************/

.overflow
{
	overflow: auto;
	overflow-x:hidden;
	width: 100%;
}

