div.in2igui_menu
{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	min-width: 120px;
	padding: 4px 0px;
}

div.in2igui_menu_item
{
	font-size: 12px;
	line-height: 18px;
	padding: 0px 8px;
	cursor: pointer;
	height: 18px;
}

div.in2igui_menu_item:hover
{
	background-color: #3875d7;
	color: #fff;
}

div.in2igui_menu_item_children
{
	background: url('../gfx/menu_arrow.png') right top no-repeat;
}

div.in2igui_menu_item_children:hover
{
	background: #3875d7 url('../gfx/menu_arrow.png') right -18px no-repeat;
}