@import url('msie.css');

body, html
{
	overflow-y: auto;
	overflow-x: auto;
}

td.view_toolbar
{
	height: 58px;
}

table.in2igui_view
{
	height: auto;
}

table.in2igui_calendar_weekview div.in2igui_calendar_event
{
	width: 17.8%;
}

div.in2igui_toolbar_icon div.in2igui_icon
{
	margin: 0px;
}

div.in2igui_window_content
{
	height: 1%;
}

.in2igui_picker_item_selected, .in2igui_picker_item_selected:hover
{
	background-color: #3875D7;
}

div.in2igui_box_body
{
	height: 1%;
}

textarea.in2igui_formula_text
{
	overflow-y: auto;
}

span.in2igui_field_content
{
	zoom: 1;
}