div.in2igui_selection
{
	font-family: 'Lucida Grande','Verdana',sans-serif;
}

.in2igui_selection_item
{
	background: 7px center no-repeat;
	font-size: 9pt;
	height: 20px;
	padding: 0px 10px 0px 6px;
}

div.in2igui_selection_item span
{
	float: left;
	height: 16px;
	margin-top: 2px;
}

div.in2igui_selection_item span.in2igui_icon
{
	padding-left: 20px;
	background: left top no-repeat;
}

.in2igui_selection_item:hover
{
	background-color: #d4dce9;
	cursor: pointer;
}

.in2igui_selection_item:hover .icon
{
	background-position: 0px -16px;
}

.in2igui_selection_item em
{
	float: right;
	line-height: 16px;
	background: #A9B8CE;
	height: 16px;
	padding: 0px 2px;
	margin: 2px 6px 0px 0px;
	color: #fff;
}

div.in2igui_selection div.selected, div.in2igui_selection div.selected:hover
{
	background-color: #3875d7;
	color: #fff;
}

.in2igui_selection .title
{
	background: url('../gfx/selection_separator.png') 3px 9px repeat-x;
	color:#334455;
	font-size:13px;
	margin:3px 5px;
	padding-left:16px;
}
.in2igui_selection .title span
{
	background: #EBF0F7;
	padding: 0px 3px;
}

.in2igui_selection div.in2igui_drop, .in2igui_selection div.in2igui_drop:hover
{
	background-color: #779cd6;
}


/********************** Dark ************************/

div.in2igui_window_dark div.in2igui_selection
{
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
}

div.in2igui_window_dark div.in2igui_selection_item
{
	color: #fff;
	background: url('../gfx/selection_dark.png');
	height: 24px;
}

div.in2igui_window_dark div.in2igui_selection_item:hover
{
	background: url('../gfx/selection_dark.png') left -24px;
}

div.in2igui_window_dark div.in2igui_selection div.selected, div.in2igui_window_dark div.in2igui_selection div.selected:hover
{
	background: #3875d7;
}

div.in2igui_window_dark .in2igui_selection_item span
{
	margin-top: 4px;
}