div.in2igui_upload
{
	overflow: hidden;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

div.in2igui_upload div.in2igui_buttons
{
	padding: 5px 0px 0px 0px;
}

div.in2igui_upload_items
{
	overflow: auto;
	max-height: 200px;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
}

div.in2igui_upload_item
{
	font-size: 8pt;
	overflow: hidden;
	padding: 3px 5px;
	color: #666;
}

div.in2igui_upload_item_alt
{
	background: #EDF3FE;
}

div.in2igui_upload_item_content
{
	margin-left: 36px;
	padding-top: 2px;
}

div.in2igui_upload_item span.in2igui_icon_2
{
	float:left;
	height:32px;
	width:32px;
}

div.in2igui_upload_item_error
{
	/*background: #fde;*/
	color: #f00;
}

div.in2igui_upload_item_error a
{
	float: right;
}

div.in2igui_upload_item strong
{
	line-height: 11px;
	font-size: 9px;
	float: left;
}

div.in2igui_upload_item em
{
	line-height: 11px;
	font-size: 9px;
	float: right;
	font-style: normal;
}

div.in2igui_upload object
{
	position: absolute;
	margin-left: -108px;
}