div.in2igui_upload
{
	overflow: hidden;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

div.in2igui_upload div.in2igui_buttons
{
	padding: 5px 0px 0px 0px;
}

div.in2igui_upload_items
{
	overflow: auto;
	max-height: 200px;
	padding: 0px 5px 5px 5px;
}

div.in2igui_upload_item
{
	font-size: 8pt;
	padding-top: 5px;
}

div.in2igui_upload_item_error
{
	font-size: 9pt;
	padding-top: 5px;
	color: #f00;
}

div.in2igui_upload_item_error a
{
	float: right;
}

div.in2igui_upload_item_error em
{
	color: #666;
	font-size: 9px;
}

div.in2igui_upload object
{
	position: absolute;
	margin-left: -108px;
}