div.in2igui_upload
{
	overflow: hidden;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 0;
}

div.in2igui_upload div.in2igui_buttons
{
	padding: 5px 0px 0px 0px;
}

div.in2igui_upload_items
{
	overflow: auto;
	max-height: 200px;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
}

div.in2igui_upload_item
{
	font-size: 8pt;
	overflow: hidden;
	padding: 3px 5px 4px;
	color: #666;
}

div.in2igui_upload_item_alt
{
	background: #EDF3FE;
}

div.in2igui_upload_item_content
{
	margin-left: 36px;
	padding-top: 2px;
}

div.in2igui_upload_item span.in2igui_icon_2
{
	float:left;
	height:32px;
	width:32px;
}

div.in2igui_upload_item_error
{
	/*background: #fde;*/
	color: #f00;
}

div.in2igui_upload_item_error a
{
	float: right;
}

div.in2igui_upload_item strong
{
	line-height: 11px;
	font-size: 9px;
	float: left;
}

div.in2igui_upload_item em
{
	line-height: 11px;
	font-size: 9px;
	float: right;
	font-style: normal;
}

div.in2igui_upload object
{
	position: absolute;
	width: 100%;
	height: 30px;
	cursor: pointer;
}

div.in2igui_upload_status
{
	color: #999999;
	font-size: 11px;
	line-height: 15px;
	padding-left: 1px;
	display: none;
}

span.in2igui_upload_button
{
	display: inline-block;
	position: relative;
	margin-top: 5px;
}

div.in2igui_upload form
{
	margin: 0;
}

span.in2igui_upload_button_input
{
	position: absolute;
	height: 30px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
}

span.in2igui_upload_button_input input
{
	position: absolute;
	right: 0;
	height: 30px;
	opacity: 0;
	cursor: pointer;
}

div.in2igui_upload_placeholder
{
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
}