$view-background-color: #FFFCEC;

$view-text-color: #3A3326;

$view-effect-color: #E2DBC5;

$view-action-color: #AD9F76;

$view-action-color-hover: darken($view-action-color, 30%);

$view-action-selected-color: #D64B21;

$view-action-selected-color-hover: darken($view-action-selected-color, 10%);

$view-dimmed-color: #D8D3B8;

$font-sans: 'Open Sans', Arial, Helvetica, sans-serif;