@import 'variables';

.reader_view
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
	z-index: 200;
  background-color: $view-background-color;
}

.reader_view_head
{
  border-bottom: 1px solid #E4E1D1;
  padding: 10px;
  background: #F5F2E3;
}

.reader_view_close
{
	text-decoration: none;
	color: $view-action-color;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
  
  &:hover {
  	color: $view-action-color-hover;    
  }
}