@import 'shared';

.reader_entity {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/*display: none;*/
	z-index: 200;
  background-color: #FFFCEC;
  overflow: auto;
}

.reader_entity {
  &_title {
    font-family: $font-serif;
    margin: 25px 50px;
    text-align: center;
    font-size: 23pt;
    line-height: 1;
    color: $view-text-color;
    font-weight: 600;
  }
  
  &_actions {
    text-align: center;

    .oo_icon {
      margin: 0 5px;
      color: $view-action-color;
      cursor: pointer;

      &:hover {
        color: $view-action-color-hover;
      }

      &:active {
        transform: scale(.8);
      }
    
      &.oo_icon-selected {
        color: $view-action-selected-color;
      
        &:hover {
          color: $view-action-selected-color-hover;
        }
      }
    }
  }
  
  &_body {
    padding: 20px;
    font-family: $font-serif;
  }
  
  &_list {
    margin-bottom: 30px;
  }
  
  &_list_empty {
    margin: 0;
    color: $view-dimmed-color;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
  }

  &_header {
    text-align: center;
    color: $view-section-header-color;
    font-size: 16px;
    line-height: 1;
    margin: 10px 0 20px;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  
  &_item
  {
    margin: 10px auto;
    max-width: 600px;
    padding-bottom: 10px;

    &:hover .oo_icon
    {
      color: $view-action-color;
    }

    .oo_icon:hover
    {
      color: $view-action-color-hover;
    }
  }

  &_item_text
  {
    position: relative;
    margin: 0 0 0 25px;
    font-weight: 400;
    color: $view-text-color;

    &:before
    {
      content: '\e902';
      position: absolute;
      margin: -5px 0 0 -28px;
      font-size: 20px;
      font-family: 'OnlineObjects';
      font-weight: 400;
      line-height: 1em;
      top: 4px;
      color: $view-effect-color;
    }

    .oo_icon
    {
      font-weight: normal;
      margin: -2px 0 0 6px;
      color: $view-dimmed-color;
      cursor: pointer;
    }
  }
  
  &_item_info {
    margin: 10px 0 0 20%;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    font-family: $default-font-family;
    color: $view-dimmed-color;
  }
  
  &_item_link
  {
    color: inherit;
    text-decoration: none;
    margin: 0 3px;
    color: $view-dimmed-color;

    .reader_entity_item:hover & {
      color: $view-action-color;
      box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
      &:hover {
        color: $view-action-color-hover;
      }
    }
  
  }
}