@import 'shared';

.reader_internetaddress_quote {
  position: relative;
  font-weight: 300;
  margin: 10px 0 10px 0px;
  border-bottom: 1px solid $view-effect-color;
  padding-bottom: 10px;
  color: $view-text-color;

  &:before {
    @include icon('quote');
    position: absolute;
    margin-left: -25px;
    font-size: 20px;
    line-height: 1em;
    top: -1px;
    color: $view-effect-color;
  }

  &-missing {
    text-decoration: line-through;
  }
}

.reader_internetaddress_quote_icon {
  margin-left: 5px;
  text-decoration: none;
  color: $view-dimmed-color;
  margin-top: -2px;
  
  .reader_internetaddress_quote:hover & {
    color: $view-action-color;

    &:hover {
      color: $view-action-color-hover;
    }
  }
}

.reader_internetaddress_perspective-formatted {
	padding: 20px 40px;  
}

.reader_internetaddress_body {
	font-weight: 300;
  line-height: 1.4;

  h1 {
  	font-size: 24pt;  
  	font-weight: bolder;
  }

  h2,
  h3,
  h4,
  h5,
  h6
  {
  	font-weight: bold;
  	margin: 40px 0 0;
  }

  h2 {
  	font-size: 20pt;
  }

  h3 {
  	font-size: 16pt;
  }

  h4,
  h5,
  h6 {
  	font-size: 14pt;  
  }

  strong {
  	font-weight: 600;
  }

  p
  {
  	margin: 5px 0 15px;
  }

  pre
  {
    max-width: 100%;
    overflow: auto;
  }

  a
  {
  	color: #1454A5;
  	text-decoration: none;
  	box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  	line-height: 1em;
  	display: inline-block;
    
    &:hover {
      color: #0071FF;
    }
  }
}