@import 'shared';

html,body {
	position:fixed;
	overflow:hidden;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
}

@import 'parts/reader_layout';
@import 'parts/reader_sidebar';
@import 'parts/reader_list';
@import 'parts/reader_selection';
@import 'parts/reader_meta';

