/********** Sidebar **********/

div.words_sidebar
{
	padding: 5px 10px;
}

div.words_sidebar h3
{
	margin: 10px 0 10px;
	font-weight: 200;
	border-bottom: 1px solid #eee;
	position: relative;
	text-align: center;
}

div.words_sidebar h3 span
{
	background: #fff;
	font-size: 14px;
	padding: 0 4px;
	top: 9px;
	letter-spacing: 1px;
	position: relative;
	/*
	text-transform: lowercase;
	font-style: italic;*/
	color: #ccc;
}

.words_sidebar_index
{
	list-style: none;
	padding: 0;
	margin: 15px -7px 10px;
	text-align: center;
	font-size: 0;
}

.words_sidebar_index li
{
	display: inline-block;
}

body.oo_msie7 ul.words_sidebar_index li
{
	display: inline;
}

.words_sidebar_index a
{
	display: block;
	width: 28px;
	text-align: center;
	font-size: 16pt;
	height: 38px;
	line-height: 38px;
	border-radius: 3px;
  text-decoration: none;
}

li.words_sidebar_index_symbols a
{
	font-size: 16pt;
}

ul.words_sidebar_index a span
{
	color: #999;
}

ul.words_sidebar_index a:hover
{
	background: #f6f6f6;
	width: 32px;
	margin: 0 -2px;
}