.words_list {
  color: #ddd;
  font-size: 11pt;
  margin: 10px 0 20px 0;
  padding: 0;
  list-style: none; }

.words_list em {
  font-style: normal;
  /*border-bottom: 1px dashed red;*/
  background: rgba(255, 215, 5, 0.3);
  padding: 0 2px;
  margin: 0 -2px;
  border-radius: 5px; }

.words_list li {
  margin: 8px 0;
  padding-left: 20px;
  text-indent: -20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px; }

.words_list_info {
  color: #999;
  font-size: 10px; }

.words_list_glossary {
  color: #ccc;
  margin-left: 10px;
  line-height: 14px;
  font-size: 10px; }

.words_list_glossary span {
  font-size: 13px;
  color: #333;
  margin-left: 5px; }

.words_list_unvalidated {
  color: red; }

@media screen and (min-width: 600px) {
  .words_list {
    list-style: disc;
    margin-top: 20px;
    margin-left: 25px; }

  .words_list li {
    border: none;
    padding-bottom: 0; } }
