a.words_word_expand
{
	float: right;
	color: #ddd;
}

div.words_word_expanded a.words_word_expand
{
	color: #999;
}

a.words_word_expand:hover,
div.words_word_expanded a.words_word_expand:hover
{
	color: #333;
}

p.words_word_warning
{
	font-size: 10pt;
	color: #999;
	font-style: italic;
}

ul.words_word_variants
{
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

.words_word_variant .hui_button
{
	visibility: hidden;
}

.words_word_variant:hover .hui_button
{
	visibility: visible;
}

.words_word_variant_highlighted {
	background: #fef9e9;
	border-top: 1px solid #f0ebdc;
	border-bottom: 1px solid #f0ebdc;
	margin: -6px -30px -6px -31px;
	padding: 5px 30px 5px 31px;
}

.words_word_by
{
	position: absolute;
	margin: 0;
	font-size: 11px;
	color: #999;
	margin-top: -12px;
	display: none;
}

div.words_word_expanded p.words_word_by
{
	display: block;
}

p.words_word_info
{
	margin: 0;
}

strong.words_word_info
{
	color: #333;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
	font-size: 18pt;
	font-weight: normal;
}

span.words_word_info
{
	vertical-align: middle;
	color: #999;
	font-size: 12px;
	display: inline-block;
}

span.words_word_info a
{
	color: #999;
	text-decoration: none;
}

span.words_word_info a:hover
{
	text-decoration: underline;
}

span.words_word_info span
{
	margin: 0 3px;
}

.words_word_unvalidated {
  color: red;
}

li.words_word_variant
{
	margin-bottom: 25px;
}

ul.words_word_relations
{
	list-style: none;
	margin: 5px 0;
	color: #999;
	font-size: 12px;
	margin-left: 20px;
	padding: 0;
}

ul.words_word_relations strong
{
	font-weight: normal;
	letter-spacing: 1px;
}

a.words_word_action
{
	color: #666;
}

ul.words_word_relations li
{
	margin-bottom: 5px;
	line-height: 18px;
}

.words_word_relation
{
	margin-right: 3px;
}

.words_word_relations_more
{
	display: none;
}

.words_word_relations_reveal .words_word_relations_more
{
	display: inline;
}

.words_word_relations_showmore
{
	border-radius: 8px;
	background: #fafafa;
	border: 1px solid #eee;
	text-decoration: none;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	padding: 0 7px;
	color: #333;
	vertical-align: middle;
	text-transform: lowercase;
	font-size: 11px;
}

.words_word_relations_showmore:hover
{
	background: #eee;
	border-color: #ddd;
}


p.words_word_glossary
{
	margin: 5px 0 0px 40px;
	text-indent: -20px;
}

span.words_word_example
{
	font-style: italic;
	color: #666;
	font-size: 90%;
	margin: 0 10px;
	font-size: 10pt;
}

span.words_word_example_divider
{
	color: #ccc;
	font-size: 9pt;
}


.word_word_relation_info
{
	padding: 5px 8px 10px;
	font-family: 'Lora','Georgia','Crimson Text','Palatino','Times New Roman','Times';
}

.word_word_relation_info h1
{
	margin: 0;
	font-size: 16pt;
	font-weight: normal;
}

.word_word_relation_info p
{
	font-size: 10pt;
	margin: 0;
}

.word_word_relation_info .glossary
{
	font-style: italic;
	margin-bottom: 5px;
}

.word_word_relation_info .kind {
	color: #999;
}

.word_word_relation_info .kind strong
{
	color: #000;
}