.reader_view {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  z-index: 200;
  background-color: #FFFCEC; }
  .reader_view.is-locked::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1; }

.reader_view_head {
  position: absolute;
  height: 65px;
  border-bottom: 1px solid #ECE5D5;
  width: 100%;
  box-sizing: border-box;
  background: #F5F2E2; }

.reader_view_head_info h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 0 40px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  padding: 5px 0 0 10px;
  color: #3A3326; }
.reader_view_head_info p {
  font-size: 11px;
  margin: 5px 320px 0 0;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden; }
  .reader_view_head_info p > a {
    text-decoration: none;
    color: #B3B09D; }
.reader_view_head_info:hover p > a {
  color: #8C876C;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
  .reader_view_head_info:hover p > a:hover {
    color: #36f; }

.reader_view_head_actions {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0; }

.reader_view_head_action {
  color: #A79F89;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer; }
  .reader_view_head_action:hover {
    color: #565141; }
  .reader_view_head_action:active {
    transform: scale(0.8); }
  .reader_view_head_action.oo_icon-selected {
    color: #5D583F; }
    .reader_view_head_action.oo_icon-selected:hover {
      color: #3f3b2a; }

.reader_view_segmented {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }
  .reader_view_segmented_item {
    text-transform: uppercase;
    text-decoration: none;
    color: #A79F89;
    font-size: 14px;
    padding: 0 3px; }
    .reader_view_segmented_item:hover {
      color: #565141; }
    .reader_view_segmented_item-selected {
      color: #5D583F;
      font-weight: 600; }
      .reader_view_segmented_item-selected:hover {
        color: #3f3b2a; }

.reader_view_close {
  text-decoration: none;
  color: #AD9F76;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px; }
  .reader_view_close:hover {
    color: #564e34; }

.reader_view_picture {
  display: inline-block;
  position: relative;
  background: #F5F2E2;
  width: 100%;
  font-size: 0; }
  .reader_view_picture_body {
    display: inline-block; }
  .reader_view_picture_img {
    position: absolute;
    width: 100%;
    height: auto; }

.reader_view_img {
  height: auto;
  max-width: 100%;
  filter: grayscale(1) sepia(0.2);
  -webkit-filter: grayscale(1) sepia(0.2); }
