html, body {
  position: fixed;
  overflow: hidden;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0; }

.reader_layout {
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #eee; }

.reader_layout_navigation {
  width: 20%;
  height: 100%;
  position: absolute;
  border-right: 1px solid #eee;
  box-sizing: border-box; }

.reader_layout_list {
  top: 0;
  bottom: 100px;
  width: 30%;
  position: absolute;
  left: 20%;
  background: #fff;
  border-right: 1px solid #eee;
  box-sizing: border-box; }

.reader_layout_viewer {
  right: 0;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 100px; }

.reader_layout_info {
  position: absolute;
  right: 0px;
  left: 20%;
  bottom: 0;
  height: 100px;
  background: #fff;
  border-top: 1px solid #eee;
  box-sizing: border-box; }

@media screen and (min-width: 1000px) {
  .reader_layout_navigation {
    width: 199px; }

  .reader_layout_list {
    position: absolute;
    width: 399px;
    bottom: 0;
    left: 200px; }

  .reader_layout_info {
    left: 599px; }

  .reader_layout_viewer {
    left: 599px; } }
@media screen and (min-width: 1600px) {
  .reader_layout_viewer {
    right: 200px;
    bottom: 0; }

  .reader_layout_info {
    width: 200px;
    height: 100%;
    left: auto;
    border-top: none;
    border-left: 1px solid #eee; } }
.reader_sidebar {
  height: 100%;
  overflow: hidden; }
  .reader_sidebar_block {
    padding: 10px 10px 10px 15px; }
  .reader_sidebar_title {
    text-transform: uppercase;
    color: #999;
    margin: 0 0 3px;
    font-weight: 400;
    font-size: 12px; }
  .reader_sidebar_feeds {
    position: relative; }
    .reader_sidebar_feeds_add {
      color: #999;
      position: absolute;
      top: 5px;
      right: 10px;
      opacity: 0;
      transition: opacity, .3s; }
      .reader_sidebar_feeds_add:hover {
        color: #333; }
    .reader_sidebar_feeds:hover .reader_sidebar_feeds_add {
      opacity: 1; }

.reader_list_top {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  position: relative;
  height: 40px; }

.reader_list_middle {
  position: absolute;
  top: 41px;
  bottom: 0;
  width: 100%; }

.reader_list_search {
  float: left;
  width: 200px;
  margin: 8px 0 0 7px; }

/* Actions */
.reader_list_actions {
  float: right;
  margin: 7px 10px 0 0; }

.reader_list_action {
  margin-left: 10px;
  color: #999;
  text-decoration: none;
  font-size: 0;
  display: inline-block;
  vertical-align: middle; }

.reader_list_action:hover {
  color: #000; }

.reader_list_action_text {
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 5px; }

.reader_list_actions .hui_button {
  margin-left: 5px; }

.reader_selection {
  font-size: 0; }
  .reader_selection_icon {
    color: #666;
    display: inline-block;
    padding: 3px; }
    .reader_selection_icon:hover {
      color: #000; }

.reader_meta {
  padding: 10px; }
  .reader_meta_header {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    color: #999; }
  .reader_meta_tags {
    margin-top: 5px;
    font-size: 0; }
    .reader_meta_tags_item {
      display: inline-block;
      height: 16px;
      line-height: 16px;
      border-radius: 8px;
      border: 1px solid #eee;
      padding: 0 10px;
      font-size: 11px;
      color: #666;
      text-decoration: none;
      background: #fff;
      overflow: hidden;
      margin: 0 3px 3px 0; }
      .reader_meta_tags_item:hover {
        cursor: pointer;
        background: #f6f6f6;
        border-color: #ddd;
        color: #666; }
      .reader_meta_tags_item.is-tag {
        font-style: italic; }
      .reader_meta_tags_item.is-add {
        border-style: dashed;
        color: #bbb; }
