html,body {
	position:fixed;
	overflow:hidden;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
}

.reader_layout
{
	position: fixed;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #eee;
}

.reader_layout_navigation {
	width: 20%;
	height: 100%;
	position: absolute;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

.reader_layout_list {
	top: 0;
	bottom: 100px;
	width: 30%;
	position: absolute;
	left: 20%;
	background: #fff;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

.reader_layout_viewer {
	right: 0;
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 100px;
}

.reader_layout_info {
	position: absolute;
	right: 0px;
	left: 20%;
	bottom: 0;
	height: 100px;
	background: #fff;
	border-top: 1px solid #eee;
	box-sizing: border-box;
}

@media screen and (min-width: 1000px) {

	.reader_layout_navigation {
		width: 199px;
	}

	.reader_layout_list {
		position: absolute;
		width: 399px;
		bottom: 0;
		left: 200px;
	}

	.reader_layout_info {
		left: 599px;
	}
	.reader_layout_viewer {
		left: 599px;
	}
}

@media screen and (min-width: 1600px) {

	.reader_layout_viewer {
		right: 200px;
		bottom: 0;
	}
	.reader_layout_info {
		width: 200px;
		height: 100%;
		left: auto;
		border-top: none;
		border-left: 1px solid #eee;
	}
}

/*********************** List ***********************/

.reader_list_top {
	overflow: hidden;
	border-bottom: 1px solid #eee;
	position: relative;
	height: 40px;
}

.reader_list_middle {
	position: absolute;
	top: 41px;
	bottom: 0;
	width: 100%;
}

.reader_search {
	float: left;
	width: 200px;
	margin: 8px 0 0 7px;
}

div.word_rendering
{
	font-size: 12px;
	padding: 5px;
}

div.word_rendering h1
{
	font-size: 12px;
	margin: 0;
}

div.sidebar {
  height: 100%;
  overflow: hidden;
}

div.sidebar div.block
{
	padding: 10px 10px 10px 15px;
}

div.sidebar div.block h3
{
	text-transform: uppercase;
	color: #999;
	margin: 0 0 3px;
	font-weight: 400;
	font-size: 12px;
}

div.sidebar div.block ul
{
	list-style: none;
	padding: 5px 0;
	margin: 0;
	font-size: 12px;
}

div.sidebar div.block ul li span.oo_icon
{
	color: #ccc;
}

div.sidebar div.block ul li strong
{
	font-weight: 400;
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
}

.reader_feeds {
    position: relative;
}

.reader_feeds_add {
    color: #999;
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
}

.reader_feeds_add:hover {
    color: #333;
}

.reader_feeds:hover .reader_feeds_add {
    display: block;
}


/* Actions */

.reader_actions
{
	float: right;
	margin: 7px 10px 0 0;
}

.reader_action {
	margin-left: 10px;
	color: #999;
	text-decoration: none;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}

.reader_action:hover {
	color: #000;
}

.reader_action_text {
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
	margin-left: 5px;
}

.reader_actions .hui_button
{
	margin-left: 5px;
}

.oo_spinner {
	position: absolute;
	left: 50%;
	top: 20%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
	border-radius: 50%;
	border: 5px dotted rgba(0,0,0,.2);
	display: none;
}

.oo_spinner_visible {
	display: block;
    -webkit-animation: spin-in .5s 1 ease-in, spin 2s infinite linear;
}

@-webkit-keyframes spin {
	0% {-webkit-transform:rotate(0deg);}
	100% {-webkit-transform:rotate(-360deg);}
}

@-webkit-keyframes spin-in {
	0% {-webkit-transform:rotate(0deg) scale(.5); opacity: 0;}
	100% {-webkit-transform:rotate(-90deg) scale(1); opacity: 1;}
}