.reader_viewer_locked::before
{
  content: '';
  /*background-color: rgba(255, 255, 255, 0.5);*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.reader_viewer_frame
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #fff;
}


/********************* Info ********************/

.reader_viewer_info {
	padding: 10px;
}

.info_header {
	margin: 0;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 400;
	color: #999;
}

.info_tags
{
	margin-top: 5px;
	font-size: 0;
}

.info_tags_item
{
	display: inline-block;
	height: 16px;
	line-height: 16px;
	border-radius: 8px;
	border: 1px solid #eee;
	padding: 0 10px;
	font-size: 11px;
	color: #666;
	text-decoration: none;
	background: #fff;
	overflow: hidden;
	margin: 0 3px 3px 0;
}

.info_tag
{
	font-style: italic;
}

.info_tags_add
{
	border-style: dashed;
	color: #bbb;
}

.info_tags_item:hover
{
	cursor: pointer;
	background: #f6f6f6;
	border-color: #ddd;
	color: #666;
}


/****************** Actions *******************/




.reader_viewer_content
{
	padding: 0;
	top: 65px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	box-sizing: border-box;
	position: absolute;
  background-color: #FFFCEC;
  font-family: 'Merriweather';
  font-size: 12pt;
}

.reader_viewer_content .quote {
  background: rgba(255, 203, 0, 0.5);
  font-style: normal;
  border-radius: 6px;
  padding: 0 3px;
  margin: 0 -3px;
}

.reader_viewer_content .person {
  background: rgba(0, 90, 255, 0.1);
  font-style: normal;
  border-radius: 6px;
  padding: 0 3px;
  margin: 0 -3px;
}

.reader_viewer_content .noun {
  background: rgba(0, 90, 255, 0.1);
  font-style: normal;
  border-radius: 6px;
  padding: 0 3px;
  margin: 0 -3px;
}

.reader_viewer_content .word {
  background-color: rgb(245, 241, 223);
  padding: 0 3px;
  margin: 0 -3px;
  border-radius: 10px;
}

.reader_viewer_content .person::before {
  content: 'P';
  display: inline-block;
  background: rgb(109, 150, 226);
  border-radius: 2px;
  font-size: 11px;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  color: #fff;
  text-align: center;
  font-family: Verdana;
  line-height: 12px;
  margin-right: 0.3em;
  border: 1px solid rgb(94, 129, 195);
}

.reader_viewer_content .sentence {
  background: none;
}

.reader_viewer_content .sentence::before {
  content: '{';
  color: #999;
}

.reader_viewer_content .sentence::after {
  content: '}';
  color: #999;
}

/** View **/



.reader_viewer_perpective {
	display: none;
}

.reader_viewer_content_formatted > .reader_viewer_perpective_formatted,
.reader_viewer_content_text > .reader_viewer_perpective_text,
.reader_viewer_content_web > .reader_viewer_perpective_web
{
	display: block;
}

.reader_viewer_perpective_web {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/**************** Text *******************/

.reader_viewer_perpective_text {
	font-weight: 300;
	padding: 20px 40px;
}


/**************** Quotes ***************/



.reader_context_icon {
  color: #666;
  display: inline-block;
  padding: 3px;
}

.reader_context_icon:hover {
  color: #000;
}