.reader_analyze {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd; }
  .reader_analyze_title {
    border-bottom: 1px solid #eee;
    margin: 0 0 20px; }
  .reader_analyze_block {
    border: 1px solid #eee;
    margin: 20px 0;
    padding: 5px; }
    .reader_analyze_block_title {
      margin: 0;
      border-bottom: 1px solid #eee; }
  .reader_analyze_text {
    max-height: 200px;
    overflow: auto;
    white-space: pre;
    font-family: Monaco, monospace;
    font-size: 12px; }
  .reader_analyze_html {
    max-height: 200px;
    overflow: auto; }
  .reader_analyze_words {
    padding: 5px 0; }
  .reader_analyze_word {
    background: #eee;
    border-radius: 3px;
    display: inline-block;
    margin: 2px 1px;
    padding: 2px 3px;
    line-height: 1;
    font-size: 14px; }
  .reader_analyze_part {
    display: inline-block;
    margin: 2px 1px 11px;
    padding: 0;
    line-height: 1;
    font-size: 14px;
    position: relative;
    min-width: 20px;
    text-align: center;
    color: #333; }
    .reader_analyze_part.is-significant {
      font-weight: 800;
      color: #000; }
    .reader_analyze_part_info {
      position: absolute;
      color: #999;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 10px;
      margin-top: 2px; }
