.reader_entity {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /*display: none;*/
  z-index: 200;
  background-color: #FFFCEC;
  overflow: auto; }

.reader_entity_title {
  font-family: "Merriweather";
  margin: 25px 50px;
  text-align: center;
  font-size: 23pt;
  line-height: 1;
  color: #3A3326;
  font-weight: 600; }
.reader_entity_actions {
  text-align: center; }
  .reader_entity_actions .oo_icon {
    margin: 0 5px;
    color: #AD9F76;
    cursor: pointer; }
    .reader_entity_actions .oo_icon:hover {
      color: #564e34; }
    .reader_entity_actions .oo_icon:active {
      transform: scale(0.8); }
    .reader_entity_actions .oo_icon.oo_icon-selected {
      color: #5D583F; }
      .reader_entity_actions .oo_icon.oo_icon-selected:hover {
        color: #3f3b2a; }
.reader_entity_body {
  padding: 20px;
  font-family: "Merriweather"; }
.reader_entity_list {
  margin-bottom: 30px; }
.reader_entity_list_empty {
  margin: 0;
  color: #D8D3B8;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  font-weight: 200; }
.reader_entity_header {
  text-align: center;
  color: #B7B09A;
  font-size: 16px;
  line-height: 1;
  margin: 10px 0 20px;
  text-transform: uppercase;
  letter-spacing: .5px; }
.reader_entity_item {
  margin: 10px auto;
  max-width: 600px;
  padding-bottom: 10px; }
  .reader_entity_item:hover .oo_icon {
    color: #AD9F76; }
  .reader_entity_item .oo_icon:hover {
    color: #564e34; }
.reader_entity_item_text {
  position: relative;
  margin: 0 0 0 25px;
  font-weight: 400;
  color: #3A3326; }
  .reader_entity_item_text:before {
    content: '\e902';
    position: absolute;
    margin: -5px 0 0 -28px;
    font-size: 20px;
    font-family: 'OnlineObjects';
    font-weight: 400;
    line-height: 1em;
    top: 4px;
    color: #E2DBC5; }
  .reader_entity_item_text .oo_icon {
    font-weight: normal;
    margin: -2px 0 0 6px;
    color: #D8D3B8;
    cursor: pointer; }
.reader_entity_item_info {
  margin: 10px 0 0 20%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #D8D3B8; }
.reader_entity_item_link {
  color: inherit;
  text-decoration: none;
  margin: 0 3px;
  color: #D8D3B8; }
  .reader_entity_item:hover .reader_entity_item_link {
    color: #AD9F76;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
    .reader_entity_item:hover .reader_entity_item_link:hover {
      color: #564e34; }
