.account {
  padding: 20px 20px 20px;
}

.account_title {
  margin: -3px -10px 10px;
  font-family: 'Lato','Hevetica',Arial,sans-serif;
  font-weight: 100;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  padding: 0 10px 12px;
}

.account_user {
  font-size: 11pt;
  font-weight: 200;
}

.account_user_label {
  font-weight: 200;
  color: #999;
}

.account_secret {
  -webkit-appearance: none;
  display: block;
  font-family: monospace;
  width: 100%;
  font-size: 14px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 5px;
}
