body
{
	background: url('graphics/background.jpg');
	/*background: #000;*/
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#bar
{
	background: url('graphics/bar.png');
	height: 38px;
	position: absolute;
	top: 100%;
	width: 100%;
	margin-top: -38px;
	z-index: 2;
}


#bar .logo
{
	float: left;
	background: url('graphics/bar_logo.png');
	width: 61px;
	height: 34px;
	margin-top: 4px;
	margin-left: 3px;
	margin-right: 3px;
	opacity: .5;
}
#bar .logo:hover
{
	float: left;
	background: url('graphics/bar_logo.png');
	width: 61px;
	height: 34px;
	margin-top: 4px;
	margin-left: 3px;
	opacity: 0.999;
}

#bar .workspace
{
	margin-top: 3px;
	margin-left: 3px;
	background: rgba(255,255,255,.3) 6px 5px no-repeat;
	float: left;
	height: 27px;
	-webkit-border-radius: 3px;
	font: 16px Verdana;
	padding: 5px 10px 0px 10px;
	color: #fff;
	text-shadow: 2px 2px 5px #34a;
	min-width: 50px;
	text-align: center;
}

#bar .workspace:hover
{
	background-color: rgba(255,255,255,.6);
	cursor: pointer;
	text-shadow: 2px 2px 2px #128;
}

#bar .selected
{
	border: 2px solid rgba(255,255,255,.5);
	background-color: rgba(255,255,255,.4);
	height: 25px;
	padding: 3px 8px 0px 8px;
	text-shadow: 2px 2px 2px #128;
}

#search
{
	margin-top: 3px;
	margin-right: 3px;
	background: rgba(255,255,255,.3) url('graphics/search.png') 6px 5px no-repeat;
	float: right;
	height: 32px;
	width: 150px;
	-webkit-border-radius: 3px;
}


#search input
{
	border: none;
	background: none;
	width: 114px;
	margin-top: 6px;
	margin-left: 32px;
	font: 14px Verdana;
	color: #fff;
}


.box
{
	position: absolute;
	background: rgba(255,255,255,.2);
	border: 2px rgba(255,255,255,.3) solid;
	-webkit-border-radius: 5px;
}

.active
{
	background: rgba(255,255,255,.4);
	border: 2px rgba(255,255,255,.6) solid;
}

.outlined
{
	border: 2px rgba(255,255,255,.3) dashed;
	background: none;
}

.box:hover
{
	background: rgba(255,255,255,.3);
	border: 2px rgba(255,255,255,.4) solid;
}

.active:hover
{
	background: rgba(255,255,255,.4);
	border: 2px rgba(255,255,255,.6) solid;
}

.outlined:hover
{
	border: 2px rgba(255,255,255,.4) dashed;
	background: none;
}

.box .titlebar
{
	font: 14px "Lucida Grande";
	color: #fff;
	text-align: center;
	cursor: default;
}

.active .titlebar
{
	text-shadow: 2px 2px 2px #34a;
}
.outlined .titlebar
{
	color: rgba(255,255,255,.4);
}

.box .right
{
	float: right;
}

.box .close
{
	width: 15px;
	height: 15px;
	float: right;
	background: url('graphics/cross.png') no-repeat;
	display: none;
	margin-top: 3px;
	margin-left: -18px;
	position: absolute;
	opacity: .5;
}

.box:hover .close
{
	display: block;
}

.box .close:hover
{
	opacity: .9999;
	cursor: pointer;
}

.box .body
{
	background: rgba(255,255,255,.7);
	margin: 4px;
	resize: both;
	overflow: auto;
}
.active .body
{
	background: rgba(255,255,255,.9);
}
.outlined .body
{
	background: none;
	visibility: hidden;
}

/****************************************/

.properties
{
	font: 10px "Lucida Grande",Verdana;
	margin: 5px;
}
.properties th
{
	width: 30%;
	color: #678;
	text-align: right;
}

/****************************************/


#searchresult
{
	position: absolute;
	bottom: 44px;
	right: 5px;
	width: 200px;
	background: rgba(255,255,255,.2);
	border: 2px rgba(255,255,255,.3) solid;
	-webkit-border-radius: 5px;
	display: none;
	z-index: 2;
}


#searchresult div
{
	font: 12px "Lucida Grande",Verdana;
	background: rgba(255,255,255,.2);
	-webkit-border-radius: 2px;
	padding: 2px;
	padding-left: 10px;
	font-weight: normal;
	margin: 2px;
	color: #fff;
}


#searchresult div.highlighted
{
	background: rgba(255,255,255,.4);
}

#debugger
{
	background: none;
	height: 200px;
	width: 500px;
	color: #fff;
	border: none;
	overflow: auto;
}