basePath=/path/to/base/dir

mail.hostname=smtp.gmail.com
mail.user=
mail.password=
mail.address=
mail.name=

analytics.username=
analytics.password=

output.dir=/path/to/output/dir

test.resources.dir={base}/src/test/resources/