html,body
{
	height: 100%;
}

body
{
	background: #f2f2f2;
	margin: 0px;
	font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
	
	min-height: 100%;
}








div.base
{
	min-height: 100%;
}

div.body
{
	padding-bottom: 50px;
}

div.footer
{
	height: 40px;
	background: url('../gfx/in2isoft.png') center top no-repeat;
	position: relative;
	margin-top: -40px;
}

div.centered
{
	width: 540px;
	margin: 0 auto;
	padding-top: 100px;
}

div.logo_container
{
	min-height: 224px;
	background: url('../gfx/logo.png') 20px 10px no-repeat;
	padding-left: 240px;
}

div.grey_box_middle
{
	background: #fff;
	border: 3px solid #dedede;
	border-width: 0px 3px;
	padding: 1px 0px;
}

div.grey_box_top
{
	height: 8px;
	font-size: 0px;
	background: url('../gfx/box.png') left top no-repeat;
}

div.grey_box_top div
{
	height: 8px;
	background: url('../gfx/box.png') right -8px no-repeat;
}

div.grey_box_top div div
{
	background: url('../gfx/box.png') left -16px repeat-x;
	margin: 0px 8px;
}

div.grey_box_bottom
{
	height: 8px;
	font-size: 0px;
	background: url('../gfx/box.png') left -24px no-repeat;
}

div.grey_box_bottom div
{
	height: 8px;
	background: url('../gfx/box.png') right -32px no-repeat;
}

div.grey_box_bottom div div
{
	background: url('../gfx/box.png') left -40px repeat-x;
	margin: 0px 8px;
}