@import url('oo_font.css');
@import url('oo_body.css');

html,body
{
	height: 100%;
}

div.body
{
	text-align: left;
	width: 450px;
	margin: 0 auto 0;
	position: relative;
	top: 100px;
	padding: 20px 20px 20px 200px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	min-height: 200px;
}

h1
{
	font-weight: 100;
	margin: 0px 0px 10px;
}

textarea
{
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	line-height: 20px;
	height: 200px;
	border: 1px solid #eee;
	white-space: nowrap;
	display: none;
}

textarea:focus
{
	position: absolute;
	border-width: 1px 0px 1px 0px;
	left: 0px;
	height: 400px;
}

strong
{
	font-family: 'OnlineObjects';
	font-size: 140px;
	width: 180px;
	color: #ddd;
	position: absolute;
	margin-left: -190px;
	text-align: center;
}

p.status
{
	margin: 0;
	position: absolute;
	top: 160px;
	left: 0;
	font-size: 42px;
	font-weight: 100;
	line-height: 90px;
	width: 200px;
	text-align: center;
	color: #ddd;
}