p.oo_footer
{
	font-size: 10pt;
	font-weight: 200;
	text-align: center;
	margin: 0;
	padding-top: 20px;
}

p.oo_footer strong
{
	font-weight: 400;
}

p.oo_footer,
p.oo_footer a span
{
	color: #666;
}

p.oo_footer a
{
	color: #ddd;
	color: rgba(0,0,0,.1);
}

p.oo_footer_logo
{
	text-align: center;
	margin: 30px 0;
}

p.oo_footer_logo a
{
	display: inline-block;
	text-decoration: none;
	cursor: -webkit-grab;
	outline: none;
}

p.oo_footer_logo span
{
	font-family: 'OnlineObjects';
	font-size: 128px;
	color: #f0f0f0;
	text-shadow: 0 0 10px #fff;
	-webkit-transition: color 2s, -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 100%;
	-moz-transition: color 2s, -moz-transform 1s;
	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 50% 100%;
}

p.oo_footer_logo strong
{
	display: block;
	text-align: center;
	font-size: 32px;
	margin: 0;
	padding-bottom: 30px;
	color: #eee;
	text-shadow: 0 0 10px #fff;
	font-weight: 600;
	-webkit-transition: color 2s;
	-moz-transition: color 2s;
}

div.oo_footer:hover p.oo_footer_logo span,
div.oo_footer:hover p.oo_footer_logo strong
{
	color: #ddd;
}

div.oo_footer:hover p.oo_footer_logo a:hover span
{
	color: #f36;
	-webkit-transition: color 1s, -webkit-transform 3s;
	-webkit-transform: perspective(20) rotate3d(2, 0, 14, 10deg);
	-moz-transition: color 1s, -moz-transform 3s;
	-moz-transform: perspective(20) rotate3d(2, 0, 14, 10deg);
}

div.oo_footer:hover p.oo_footer_logo a:hover strong
{
	color: #666;
}

div.oo_footer:hover p.oo_footer_logo a:active span
{
	color: #d03;
	-webkit-transition-property: -webkit-transform, color;
	-webkit-transition-duration: 0.1s;
	-webkit-transform: scale(1);
	-moz-transition-property: -moz-transform, color;
	-moz-transition-duration: 0.1s;
	-moz-transform: scale(1);
}