body.oo_fade
{
	
}

*.oo_faded
{
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	opacity: 1;
}

body.oo_fade *.oo_faded
{
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	opacity: 0;
}

body.oo_fade *.oo_faded_50
{
	opacity: .5;
}

body.oo_fade *.oo_faded:hover
{
	opacity: 1;
}