.oo_masonry {
	font-size: 0;
	margin: 0 -21px;
	position: relative;
}

.oo_masonry_item {
	display: inline-block;
	background: #eee;
	width: 200px;
	height: 100px;
	border: 1px solid #fff;
	border-width: 1px 1px 0 0;
	box-sizing: border-box;
	font-size: 11px;
	background-size: cover;
	background-position: 50% 50%;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}
/*
.oo_masonry_item:before {
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	border: 1px solid rgba(0,0,0,.05);
}

.oo_masonry_item:hover:before {
	background: rgba(255,255,255,.1);
}*/

.oo_masonry_item_last {
	border-right: 0;
}

.oo_masonry_disclosed {
	background: #222;
	position: absolute;
	left: 0;
	right: 0;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}

.oo_masonry_disclosed_image {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 22%;
	left: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.oo_masonry_disclosed_info {
	position: absolute;
	right: 10px;
	bottom: 10px;
	left: 78%;
	font-size: 10px;
	top: 10px;
	padding-left: 20px;
}

.oo_masonry_disclosed_title {
	color: #fff;
	font-size: 16px;
	overflow: hidden;
	margin: 0;
	font-weight: 600;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

.oo_masonry_disclosed_actions {
	border-top: 1px solid #333;
	margin: 0;
	padding-top: 10px;
	font-size: 0;
}
	
.oo_masonry_disclosed_actions > a {
	display: inline-block;
	background: #333;
	color: #fff;
	padding: 0 10px;
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	text-decoration: none;
	margin-right: 5px;
	text-shadow: 0 -1px 0px #000;
}

.oo_masonry_disclosed_actions > a:hover {
	background: #444;
}