div.oo_map
{
	max-width: 640px;
	background-position: 50%;
}

div.oo_map_busy
{
	opacity: .5;
}

div.oo_map_content
{
	border: 1px solid rgba(0,0,0,.1);
	position: relative;
	background-repeat: no-repeat;
	background-origin: border-box;
}

a.oo_map_add
{
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px dashed rgba(0,0,0,.1);
	border-radius: 5px;
	text-decoration: none;
	color: #999;
	font-size: 11pt;
	font-weight: 200;
}

a.oo_map_add:hover
{
	background: rgba(0,0,0,.02);
}

a.oo_map_pin
{
	width: 29px;
	height: 30px;
	background: url('../gfx/oo_map_pin.png');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -7px;
	margin-top: -25px;
}

a.oo_map_edit
{
	position: absolute;
	right: -1px;
	bottom: -1px;
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 11px;
	color: #666;
}

div.oo_map_info
{
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	padding: 5px 10px;
	font-size: 12px;
}

div.oo_map_info th
{
	font-weight: normal;
	text-align: right;
	color: #999;
	padding-right: 3px;
}