/****************** Chart *******************/

div.chart
{
	padding-top: 20px;
}

div.chart_title
{
	background: url('../gfx/gradients.png') 0 -270px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	font-family: 'Gotham Rounded',Helvetica,Arial,sans-serif;
}

div.chart_filters
{
	background: url('../gfx/gradients.png') 0 -331px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
}

div.chart_filters strong
{
	color: #01CCFF;
}

div.chart_filters a
{
	float: right;
	text-decoration: none;
	color: #fff;
	margin-right: 7px;
	background: url('../gfx/icons/dropdown_blue.png') right center no-repeat;
	padding-right: 13px;
	color: #fff;
}

div.chart ol
{
	border: none;
}

div.chart ol li.oo_list_item
{
	padding: 7px 0 7px 2px;
	color: #333;
	position: relative;
}

div.chart li p
{
	margin: 0;
}

div.chart p.user
{
	font-size: 12px;
	line-height: 15px;
}

div.chart p.title
{
	font-size: 13px;
}

div.chart a.button
{
	right: 0;
	top: 4px;
	position: absolute;
	height: 18px;
	line-height: 18px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #666;
	color: #fff;
	font-size: 11px;
	width: 60px;
	text-align: center;
	text-decoration: none;
}

div.chart a.button:hover
{
	background: #444;
}


div.chart p.rating
{
	right: 3px;
	top: 27px;
	position: absolute;
	font-size: 11px;
}

div.chart a.oo_link span
{
	color: #333;
}

div.chart span.up
{
	position: absolute;
	width: 12px;
	height: 12px;
	font-size: 0;
	background: url('../gfx/icons/up_red.png');
	right: 80px;
	top: 15px;
}

div.chart span.down
{
	position: absolute;
	width: 12px;
	height: 12px;
	font-size: 0;
	background: url('../gfx/icons/down.png');
	right: 80px;
	top: 15px;
}

/*** Video ***/

div.chart_video div.chart_title
{
	background-position: 0 -301px;
}

div.chart_video a.button
{
	background: #0be;
}

div.chart_video a.button:hover
{
	background: #08c;
}

/*** Audio ***/

div.chart_audio div.chart_title
{
	background-position: 0 -356px;
}

div.chart_audio div.chart_filters strong
{
	color: #FF0133;
}

div.chart_audio a.button
{
	background: #f03;
}

div.chart_audio a.button:hover
{
	background: #c03;
}

div.chart_audio div.chart_filters a
{
	background-image: url('../gfx/icons/dropdown_red.png');
}

/*** Contest ***/

div.chart_contest div.chart_title
{
	background-position: 0 -386px;
}

div.chart_contest div.chart_filters strong
{
	color: #0c0;
}

div.chart_contest a.button
{
	background: #0c0;
}

div.chart_contest a.button:hover
{
	background: #0a0;
}