/**************************** Navigation ************************/

ul.navigation
{
	font-size: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 59px;
	font-family: 'Gotham Rounded',Helvetica,Arial,sans-serif;
	margin-left: -10px;
	width: 110%;
}

ul.navigation li
{
	display: inline-block;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
}

ul.navigation a
{
	display: inline-block;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	height: 31px;
	line-height: 30px;
	padding: 0 12px;
	text-transform: uppercase;
}

ul.navigation a span
{
	color: #444;
}

ul.navigation li.selected span, ul.navigation li.selected a:hover span
{
	color: #FF0133;
}

ul.navigation li.first a
{
	/*padding-left: 0;*/
}

ul.navigation ul
{
	display: none;
	background: #00CCFF;
	position: absolute;
	min-width: 212px;
	margin: 0;
	padding: 0 0 5px;
	-moz-box-shadow: 0 4px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.5);
	z-index: 10;
}

ul.navigation li:hover
{
	background: #00CCFF;
}

ul.navigation li:hover a span
{
	color: #fff !important;
}

ul.navigation li:hover ul
{
	display: block;
}

ul.navigation ul li
{
	display: block;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	font-family: Helvetica,Arial,sans-serif;
}

ul.navigation ul a
{
	display: block;
	text-align: left;
	text-transform: none;
	height: 26px;
	line-height: 26px;
}

ul.navigation li:hover ul li a span
{
	color: #fff !important;
}

ul.navigation li:hover ul li:hover a span
{
	color: #fff !important;
}

ul.navigation ul a:hover
{
	background: #0099dd;
}