p.oo_footer
{
	font-size: 10pt;
	font-weight: 200;
	text-align: center;
	margin: 0;
	padding-top: 20px;
}

p.oo_footer strong
{
	font-weight: 400;
}

p.oo_footer,
p.oo_footer a span
{
	color: #666;
}

p.oo_footer a
{
	color: #ddd;
	color: rgba(0,0,0,.1);
}

p.oo_footer_logo
{
	text-align: center;
	margin: 30px 0;
}

p.oo_footer_logo span
{
	font-family: 'OnlineObjects';
	font-size: 128px;
	color: #f0f0f0;
	text-shadow: 0 0 10px #fff;
	cursor: default;
	-webkit-transition: color 2s;
}

p.oo_footer_by
{
	text-align: center;
	font-size: 32px;
	margin: -30px 0 0;
	padding-bottom: 30px;
	color: #eee;
	text-shadow: 0 0 10px #fff;
	font-weight: 600;
	-webkit-transition: color 2s;
}

div.oo_footer:hover p.oo_footer_logo span,
div.oo_footer:hover p.oo_footer_by
{
	color: #ddd;
}
