span.oo_icon
{
	font-family: 'OnlineObjects';
	display: inline-block;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}

span.oo_icon_12
{
	font-size: 12px;
	line-height: 12px;
	width: 12px;
	height: 12px;
}

span.oo_icon_16
{
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	height: 16px;
}

span.oo_icon_32
{
	font-size: 32px;
	line-height: 32px;
	width: 32px;
	height: 32px;
}

span.oo_icon_48
{
	font-size: 48px;
	line-height: 48px;
	width: 48px;
	height: 48px;
}