html
{
	min-height: 100%;
}

body
{
	min-height: 100%;
	padding: 0px;
	margin: 0px;
	background: #10509f;
}
/*
.footer
{
	position: relative;
	margin-top: -90px;
	height: 90px;
}
*/
.body
{
	background: url('../gfx/bg.png') top left repeat-x;
	height: 100%;
}

.inner_body
{
	background: url('../gfx/surface.png') left 76px repeat-x;
	height: 100%;
}


.gut
{
	background: url('../gfx/bubbles.jpg') 45% 205px no-repeat;
	height: 100%;
}

.gut .gut
{
	background: url('../gfx/turtle.png') 95% 60% no-repeat;
}

.gut .gut .gut
{
	background: url('../gfx/yellow_fish.png') 5% 95% no-repeat;
	min-height: 500px;
}

* html .body
{
	height: 100%;
}

.header
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 12pt;
	line-height: 16pt;
	color: #333;
	height: 40px;
}

ol.navigation
{
	font-size: 13pt;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ol.navigation li
{
	display: inline;
}

ol.navigation a
{
	padding: 2px 4px;
	margin: 0 3px;
	text-decoration: none;
}

.header a
{
	background-color: #005599;
	color: #FFFFFF;
	padding: 1px 5px;
	text-decoration: none;
}

.header a.selected
{
	font-weight: bold;
}

div.part_header h1
{
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16pt;
	color: #fff;
}

div.part_html
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 11pt;
	color: #fff;
	margin-top: 5px;
}

div.gallery div.part_header, div.gallery div.part_html
{
	width: 60%;
	margin: 0 auto;
}

div.gallery div.part_header h1, div.gallery div.part_html
{
	text-align: center;
}